[2020-05-07 23:51] faizan1990 commented on #282
@MIchaelMainer No I have not mate! Please reopen this one too. Thank you

[2020-05-08 00:30] MIchaelMainer commented on #283
@faizan1990 You are starting with this, https://github.com/microsoftgraph/msgraph-training-nodeexpressapp, correct? This is a web application where the user logs in which means the user delegated permission to the application to act on behalf of the user. Mail.ReadBasic.All is not supported for delegated permissions; it is app-only. A user cannot consent to or use Mail.ReadBasic.All.

https://docs

[2020-05-08 00:36] faizan1990 commented on #283
@MIchaelMainer No I am not using that first link you shared. If you go to the link I shared in my initial question, it contains:
1. Quick Start
2. Build your first application
3. Download the SDK

I am using Quick Start to get it setup.

Regardless of that, my API permissions in Azure are set to application level (they are NOT delegated) and **consent has been granted by Admin with green ticks on

[2020-05-08 02:01] MIchaelMainer commented on #283
The quickstart link you provided is the first step on the path to eventually download a zip file of the contents of the repo I linked to, [msgraph-training-nodeexpressapp](https://github.com/microsoftgraph/msgraph-training-nodeexpressapp).

![image](https://user-images.githubusercontent.com/8527305/81357973-fe531b00-9089-11ea-8a13-e44a0ebf2981.png)

It doesn't matter that an admin granted the Mail

[2020-05-08 02:45] faizan1990 commented on #283
I think I partially understand what you are trying to say. Can you please clarify for me that this

[code]

is not same as this:

![grant-admin-perms](https://user-images.githubusercontent.com/13532645/81364675-90f6c700-9129-11ea-9f1d-51862064fc13.png)

Secondly, when I am trying to to hit this URL:

https://login.microsoftonline.com/common/adminconsent?client_id=6731de76-14a6-49ae-97bc-6eba691439

[2020-05-08 02:51] MIchaelMainer commented on #283
Using the admin consent URL and granting admin consent from within the Azure Portal has the same effect: that application has been granted Application permissions to access the tenant.

The second part is not important for you at this point as you only need to grant permission once. At this point, you should focus on enabling client credential flow to access the functionality you want in mail.read

[2020-05-08 02:55] faizan1990 commented on #283
If using the /adminconsent URL and Granting permission via GUI is the same thing, then I am not sure what to look at in the link you sent (https://docs.microsoft.com/en-us/azure/active-directory/develop/v2-oauth2-client-creds-grant-flow)

Can you please tell me how exactly to enable client credential flow to access the functionality I want in mail.readbasic.all? Is there any documentation on Graph

[2020-05-08 11:17] faizan1990 commented on #283
Okay, I have finally managed to get it working! I must say, unfortunately the documentation is not very clear, not for me at least. The whole logic to get your app working as a service is hidden deep within one of the authentication-related docos, whereas it should have been more prominent in the API reference. For those who are still seeking a solution and have same problem as mine, simply:

1. M

[2020-05-15 08:00] #280 closed

[2020-05-16 02:51] bcarthic commented on #265
@muthurathinam Do you have any update on this? I am kind of blocked on this issue

[2020-05-16 17:54] jschwartzenberg commented on #278
When I try `/api` I get unauthorized. @MIchaelMainer could you explain how this proxy works how the Microsoft Graph API is typically accessed directly on an Exchange server?

[2020-05-16 22:38] dluc opened #1247 "TelemetryHandler incompatible with OneDrive API CORS settings"
TelemetryHandler adds a `client-request-id` header to outgoing requests, e.g.

[code]

which is not allowed by graph.microsoft.com CORS headers settings, e.g. when working with OneDrive

e.g. Request

`OPTIONS https://graph.microsoft.com/v1.0/me/drive/root:/MyFolder:/createUploadSession`

returns an error

[code]

Is this a bug or is there an option to turn off the extra headers?

The telemetry ha

[2020-05-16 22:49] dluc commented on #265
the same issue occurs with other headers like `client-request-id`, when talking to `api.onedrive.com`, i.e. all the headers added by TelemetryHandler

[2020-05-17 10:00] topce commented on #265
Thank you @malinkody !
Workaround works for me as well
[code]
Solution would be either to change server-side CORS to allow those headers
or to re-implement telemetry in different way that does not send those headers.

[2020-05-19 08:29] Hannesfornell opened #285 "GraphError when promoting user group"
# Bug

## Description

Getting an error when trying to promote user group to Team

**Console Errors:**
```GraphError {statusCode: 400, code: "BadRequest", message: "Invalid bind property name template in request."```

## Steps to Reproduce

1. Create User group
2. Create authenticated client
3. Perform the call
[code]

**Expected behavior:**
A Team is created with the User groups members as its me

[2020-05-19 11:51] Hannesfornell commented on #285
I had just forgot to put the version flag to Beta

[2020-05-19 11:51] #285 closed

[2020-05-19 18:22] ajzeigert opened #286 "Is it possible to use loginRedirect with ImplicitMSALAuthenticationProvider?"
I noticed this note in the documentation that when initializing the `UserAgentApplication` in the section titled **2. Authenticate for the Microsoft Graph service** :

[code]

Is this a necessary limitation? Is there any way to use `loginRedirect` and `acquireTokenRedirect`?

[2020-05-21 21:03] MIchaelMainer commented on #286
This is supported. The old Graph Explorer application uses redirect.

https://github.com/microsoftgraph/microsoft-graph-explorer-v4/blob/646a4cf589735c07b418bf3bb3087dadf206ed40/src/app/services/graph-client/msal-service.ts

https://github.com/microsoftgraph/microsoft-graph-explorer-v4/blob/646a4cf589735c07b418bf3bb3087dadf206ed40/src/app/services/graph-client/msal-agent.ts

[2020-05-21 21:03] #286 closed

[2020-05-27 08:18] neel132 opened #287 "Support for Multiple Accounts"
## Description

I am able to do operations with a single account I logged in. But is there a way to add another outlook account and perform the same operations ?

Any response will be helpful.

[2020-05-28 19:13] FridMehdi opened #288 "question VerifyIdToken"
From my front (React) I get tokenId (rawToken.....) with msal.js;
I want to send this to my ServerApi(NodeJs) endpoint and verify this tokenId with my appId then do my logic of login...
[code]
Question : After some research I find that probably I need to use @microsoft/microsoft-graph client, but I didn't find how to verify my tokenId ?
[code]

[2020-06-04 12:57] MichaelRoger opened #289 "Using within Electron"
Hi,
i tried to use the client within an electron-app.
but always get an error, because it opens up an PopUp what the electron-app could not handle.

hope you got an solution.

[2020-06-04 17:44] ddyett commented on #289
can you provide a code sample of what you are calling in the SDK?

[2020-06-05 05:35] MichaelRoger commented on #289
`export class Office365API {
    private msalConfig: Msal.Configuration = {
        auth: {
            clientId: "....", // Client Id of the registered application
            redirectUri: "http://localhost:3000/",
            authority: "https://login.microsoftonline.com/.....",

        }, cache: {
            cacheLocation: "localStorage",
            storeAuthStateInCookie: false
        }

[2020-06-05 11:37] MichaelRoger commented on #289
Found a solution:

new BrowserWindow({
    width: 900,
    height: 680,
    webPreferences: {
      nodeIntegration: true,
      nativeWindowOpen: true,
      safeDialogs: false,
      webSecurity: true
    }
  });

i had to configure electron...

thanks

[2020-06-05 11:37] #289 closed

[2020-06-09 15:04] markwahl-msft opened #291 "URLs containing escaped or unescaped equals characters are truncated or extraneous text added"
**Describe the bug**
A partner reports that the new Graph Explorer fails to submit the following GET request:

https://graph.microsoft.com/beta/identityGovernance/entitlementManagement/accessPackages/88b35805-6815-4334-ae57-ef2010e4c855?$expand=accessPackageAssignmentPolicies,accessPackageResourceRoleScopes($expand=accessPackageResourceRole,accessPackageResourceScope)

It seems to only request the

[2020-06-11 20:45] MIchaelMainer commented on #291
This is likely in the JS client expansion.
https://github.com/microsoftgraph/msgraph-sdk-javascript/blob/a4d34d640477edf917efd6b2fc839c588f5608c5/src/GraphRequest.ts#L193

[2020-06-11 22:52] SKumarSpace commented on #228
Is there an update to this? I am also seeing this issue.

[2020-06-13 08:10] ChristianZerbes opened #292 "Occasional "connect ETIMEDOUT" on different API endpoints"
# Bug Report

## Description

I get occasional timeout errors on different API endpoints using this library. I would say 1 out of ~ 10 calls fail. Paths I tried, that fail from time to time:

- GET /subscriptions
- GET /me/calendars/{id}/events/{id}

**Console Errors:**
[code]

This is the code I'm using for the API call (with async/await):
`response = await client.api("/subscriptions").get()`

Wh

[2020-06-15 18:59] sidhuko commented on #237
I agree with this feature suggestion. I have an application which needs to get profile pictures from AD but I don't want to expose permissions via access token so users can make these requests client side. It would be secure to use the secret/cert of the app registration to make these requests and hydrate the user information. Many isomorphic applications support server-side only behaviour. It is

[2020-06-15 19:07] darrelmiller commented on #237
@sidhuko When MSAL for Node is released we will add support for confidential clients in the SDK.  Hopefully, that will be later this year.

[2020-06-18 20:47] MIchaelMainer commented on #292
@baywet Can you take a look at this?

[2020-06-18 21:03] baywet commented on #292
@MIchaelMainer this looks like a networking issue/client issue between client and AGS. I don't think the request gets to the AGS (and then to subscription store) at this point.

@ChristianZerbes do you have request ids to provide us so we can check the logs?

[2020-06-25 17:43] ddyett opened #293 "Empty post requests from Graph Explorer fail in the SDK"
Related to https://github.com/microsoftgraph/microsoft-graph-explorer-v4/issues/555

[2020-06-26 21:22] finsharp opened #295 "Redirects and Browsers"
When using msgraph-sdk-javascript in a browser the redirect handler is not registered, this means apps that depend on the js sdk, such as Graph Explorer cannot download file content that is provided through the redirect process.

https://github.com/microsoftgraph/msgraph-sdk-javascript/blob/a4d34d640477edf917efd6b2fc839c588f5608c5/src/HTTPClientFactory.ts#L57

[2020-06-26 21:30] hongtaozhang233 commented on #252
@MIchaelMainer Hi Michael, we are using O365 which is cloud-based.

[2020-06-26 21:47] ddyett commented on #295
same as #294

[2020-06-27 09:07] plamber opened #296 "Is there a way to implement a "cancel token" feature?"
In some scenarios you might have the necessity to implement a cancel token pattern to avoid executing HTTP calls if they are no more valid.
An example for such a scenario might be a people picker that executes HTTP call requests but stops once the state for the typed in values has changed.
You can find here an example how such a cancel token might work in react and Axios: https://stackoverflow.com

[2020-06-29 17:56] finsharp commented on #295
Closing

[2020-06-29 17:56] #295 closed

[2020-06-30 18:33] MIchaelMainer commented on #252
Just to be clear, let me know if I understand correctly...

This is targeting a user's mailbox (delegated permissions) and may be part of a hybrid environment where some users are hosted on an on-premise Exchange Server and others in Exchange Online.  Microsoft Graph subscriptions that target /messages work as expected when the `EwsApplicationAccessPolicy` is not set. When EwsApplicationAccessPoli

[2020-06-30 22:57] gregory opened #297 "retry-after set to 1 on every 429"
# Bug Report

## Prerequisites

-   [x] Can you reproduce the problem?
-   [x] Are you running the latest version?
-   [x] Are you reporting to the correct repository?
-   [x] Did you perform a cursory search?

For more information, see the `CONTRIBUTING` guide.

## Description

We are receiving a "retry-after" set to 1 on v1 endpoint anytime we hit a 429.

**Console Errors:** [Is there any consol

[2020-06-30 23:48] hongtaozhang233 commented on #252
Hi Michael,

[2020-07-01 17:50] gregory commented on #42
@luzlab just a FYI, when you share this kind of trace, you should obfuscate your token in the headers, as it would allow someone to temporarily gain unauthorized access.

[2020-07-02 20:10] MIchaelMainer commented on #297
Which endpoint are you targeting when you receive this response?

[2020-07-02 20:13] MIchaelMainer commented on #296
Yes, this would be helpful for us to support in the client. Thank you for bringing this up.

[2020-07-02 20:16] MIchaelMainer commented on #294
Tracked in https://github.com/microsoftgraph/microsoft-graph-explorer-v4/issues/626.

[2020-07-03 00:24] MIchaelMainer commented on #252
@hongtaozhang233

Thank you for the response. Can you confirm that the User Agent string sent over the wire matches the one set in the EWSAllowList? Can you provide a requestId from the error response so I can look this up?

[2020-07-03 23:19] gregory commented on #297
/messages  @MIchaelMainer  - you can easily simulate the issue by running this query in the [graph explorer](https://developer.microsoft.com/en-us/graph/graph-explorer):

[code]

which is going to return one 429:
[code]

[2020-07-07 02:30] hongtaozhang233 commented on #252
@MIchaelMainer
Hi Michael, Yes the User Agent is 'HiretualApp/*' and the EWSAllowList is set as '*Hiretual*'. Actually we tried several cases like "HiretualApp*", "HiretualApp/*" but none of them work.

[2020-07-07 07:16] MIchaelMainer commented on #252
Can you provide a requestId from the error response so I can look this up?

[2020-07-07 19:41] hongtaozhang233 commented on #252
@MIchaelMainer 29c5406e-08f0-47fa-b8b8-024a858817c2

[2020-07-07 20:19] MIchaelMainer commented on #252
@hongtaozhang233 This issue is being worked on and tracked.

[2020-07-07 21:08] hongtaozhang233 commented on #252
@MIchaelMainer Cool thanks Michael!

[2020-07-07 21:52] MIchaelMainer commented on #297
What happens when you respect the retry after 1 second? I'd expect that the request would succeed. If the retry consistently didn't work after 1 second, then I'd expect for the retry-after value to increase.

[2020-07-07 23:36] MIchaelMainer commented on #252
@hongtaozhang233 Is it working for you now? It looks like you updated the EWSAllowList to use wild cards, `*HiretualApp*`.

[2020-07-07 23:39] hongtaozhang233 commented on #252
@MIchaelMainer Nope. It was updated before.We tried several cases: '*HiretualApp*', '*Hiretual*', 'HiretualApp*', 'HiretualApp/*' but none of them worked.

[2020-07-08 00:02] MIchaelMainer commented on #252
When did you last send the request? The EWSAllowList was updated today. I don't know what the value was when you issued that request above on June 30th.  Can you send the request with `Hiretual/*` and `Hiretual` as the User-Agent and share with me the error response?

[2020-07-08 01:27] hongtaozhang233 commented on #252
Let me check with our engineers. We tested it one week ago and got these errors:
`{
	"statusCode": 403,
	"code": "ExtensionError",
	"message": "Operation: Create; Exception: [Status Code: Forbidden; Reason: Access to OData is disabled.]",
	"requestId": "f41fabda-5d81-44db-a3e6-a0fc43c9a5ac",
	"date": "2020-06-30T21:58:03.000Z",
	"body": "{\"code\":\"ExtensionError\",\"message\":\"Operation: Create

[2020-07-08 17:38] gregory commented on #297
As far as i can see, it's always 1...

[2020-07-08 17:40] MIchaelMainer commented on #297
So does respecting retry-after always result in another retry-after?

[2020-07-08 17:45] gregory commented on #297
yeah it looks like it.

[2020-07-08 17:51] baywet commented on #292
@MIchaelMainer Can you close this one due to lack of activity please?

[2020-07-08 18:54] hongtaozhang233 commented on #252
Are you able to see that if the request's 'User-Agent' header was set correctly as 'HiretualApp/*'?

[2020-07-08 19:23] MIchaelMainer commented on #252
Yes, it was reported to me that 'HiretualApp/*' was set as the header. The examples above are from 6/30. The EwsAllowList has *HiretualApp* set. What I can't determine is whether it is fixed as the allow list was last updated 7/7/2020 6:51:28 PM UTC. I'd like to see a request-response made after the last time EwsAllowList was set to see whether this is resolved or not by that change.

[2020-07-08 19:29] #292 closed

[2020-07-08 19:41] MIchaelMainer commented on #297
That retry-after isn't being responsive to the number of connections. I don't think it could be since the throttling mechanism can't know how long a connection will need to complete. I suspect that the issue here is that Microsoft Graph is opening a connection for each request, and since all of the requests are targeting the same user mailbox on Exchange, it is quickly exhausting the connection co

[2020-07-14 20:04] hongtaozhang233 commented on #252
@MIchaelMainer Hi Michael, we just tried again today and it returns the same error. Here is the request-response.
`{"statusCode":403,"code":"ExtensionError","message":"Operation: Create; Exception: [Status Code: Forbidden; Reason: Access to OData is disabled.]","requestId":"407df549-a0b3-4107-bdfc-268eee6a228d","date":"2020-07-14T19:23:25.000Z","body":"{\"code\":\"ExtensionError\",\"message\":\"Op

[2020-07-16 14:29] thewahome opened #298 "Making a call that uses application/xhtml+xml fails"
# Bug Report
## Prerequisites

-   [x] Can you reproduce the problem?
-   [ ] Are you running the latest version?
-   [x] Are you reporting to the correct repository?
-   [ ] Did you perform a cursory search?

For more information, see the `CONTRIBUTING` guide.

## Description

I noticed that all calls by the sdk use the `application/json ` header. I am making a request to `https://graph.microsoft

[2020-07-19 21:34] jordanviking opened #302 "Can't search messages by participants or emails"
# Bug Report

## Prerequisites

-   [X] Can you reproduce the problem?
-   [X] Are you running the latest version?
-   [X] Are you reporting to the correct repository?
-   [X] Did you perform a cursory search?

For more information, see the `CONTRIBUTING` guide.

## Description
I can't search for recipients like I can do via Postman:

Calling GET https://graph.microsoft.com/v1.0/me/messages?$selec

[2020-07-19 22:37] jordanviking commented on #302
just figured out that I forgot the quotes "". My bad!

It worked using:
.search('"participants:XXXXXXXX@hotmail.com participants:XXXXXXX@outlook.com"')

Adding this to the docs can help other developers!

[2020-07-19 22:37] #302 closed

[2020-07-21 03:21] bightg30098 opened #303 "TypeError: this.msalApplication.getAccount is not a function"
It raises following error since I upgrade @azure/msal-browser from 2.0.0-beta.0 to 2.0.0

![2020-07-21 111408](https://user-images.githubusercontent.com/18546096/88008818-acc41380-cb43-11ea-99b4-492a80d38135.png)

  "dependencies": {
    "@azure/msal-browser": "^2.0.0",
    "@microsoft/microsoft-graph-client": "^2.0.0",
    "msal": "^1.3.3",
  }

[2020-07-21 07:42] pelis opened #304 "question: isomorphic-fetch (nodejs) hapi deprecated"
isomorphic-fetch is using hpi which is deprecated.
How do you recommend to use the API in a nodejs app in future?

[2020-07-21 07:47] #304 closed

[2020-07-21 19:30] hongtaozhang233 commented on #252
@MIchaelMainer Hi Michael, any update/findings from your side?

[2020-07-22 00:03] MIchaelMainer commented on #252
@hongtaozhang233 I'm sorry to ask this again, can you issue that request again? Service engineering isn't seeing any clear reason why the request is failing. The org configuration has changed since the request above on 7/14 was sent. The configuration last changed on 7/20 so service engineering is requesting another request to investigate.

`get-organizationconfig deleted.onmicrosoft.com |fl *when

[2020-07-22 18:36] ddyett commented on #303
this question is more specific for this repo https://github.com/AzureAD

I believe in msal 2 getAccount is removed.  See this migration document.

https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/lib/msal-browser/docs/v1-migration.md

[2020-07-25 05:24] pl4nty opened #305 "LargeFileUploadTask .upload() progress handler"
# Feature Request

Implementing a progress bar for a `LargeFileUploadTask` cannot be done easily with `.upload()`. I've had to reimplement it with `.uploadSlices()` involving significant code duplication. Large files almost always need some form of progress UI, so it would be useful to pass an optional progress handler to `.upload()` like the .NET client: https://stackoverflow.com/a/59776567

[AB#

[2020-07-30 13:22] Akxe opened #307 "Window is not defined"
Bug Report
Prerequisites

 Can you reproduce the problem?
 Are you running the latest version?
 Are you reporting to the correct repository?
 Did you perform a cursory search?

For more information, see the CONTRIBUTING guide.
Description
Error when following steps in the readme.
Console Errors:
C:\Users\akxe\Documents\Programming\rita\node_modules\msal\src\cache\BrowserStorage.ts:18
        if (!

[2020-07-30 18:16] hongtaozhang233 commented on #252
@MIchaelMainer, Please check this response: `{"statusCode":403,"code":"ExtensionError","message":"Operation: Create; Exception: [Status Code: Forbidden; Reason: Access to OData is disabled.]","requestId":"71228cec-7ef4-4d2d-bdb9-aa1f6a1aa518","date":"2020-07-30T17:59:40.000Z","body":"{\"code\":\"ExtensionError\",\"message\":\"Operation: Create; Exception: [Status Code: Forbidden; Reason: Access to

[2020-07-31 02:00] #303 closed

[2020-08-03 20:03] hongtaozhang233 commented on #252
@MIchaelMainer Hi Michael, is there any updates from your side?

[2020-08-03 20:25] ddyett commented on #307
the flow here works for browser but does not work for node since msal does not currently support the credential flows needed for client.  For node you'd need to handle the authentication portion.  see this PR for how someone recently implemented auth on node.

https://github.com/Huachao/vscode-restclient/pull/649/files#diff-24da39a94536877488c5fa835c5212dd

//cc nikithauc

[2020-08-03 21:29] Akxe commented on #307
@ddyett Is there no plan to have even some in-memory token cache? I have enough work for now not to worry about it, but in two weeks I will have to and I hope there will be some simpler solution that implementing some half inner parts of Azure auth...

I think that many would appreciate an easy way to plug and play for the nodeJS environment too, even if it would not be "production-ready"

[2020-08-03 21:35] ddyett commented on #307
we are investigating some support here.  I'll see if we can use azure identity as an answer here.

[2020-08-03 21:39] Akxe commented on #307
@ddyett I am not even sure what Azure identity is :D

I only want a nodeJS to be able to read and send mail on behalf of any of the users in our organization. (No client-side only server)

[2020-08-05 01:54] ddyett opened #308 "Library should be updated to use ESLint instead of TSLint"
TSLint is being deprecated.
[AB#5608](https://microsoftgraph.visualstudio.com/0985d294-5762-4bc2-a565-161ef349ca3e/_workitems/edit/5608)

[2020-08-05 12:16] titodevera opened #310 "ServerError auth.js"
Hi all!

We are experimenting an issue when trying to auth in the Microsoft Graph API throught the Javascript SDK.
Our web application worked as expected for few months, until some days ago...

The login popup fires, but after introducing the email, the browser console throughts the error below:
`ServerError: The request is not valid for the application's 'userAudience' configuration.`

We are try

[2020-08-05 20:16] jasonjoh opened #311 "PageIterator should allow for sending headers with each page request"
Feature Request
PageIterator should expose an option to include headers each time it makes a nextLink request. Currently using PageIterator with calendar list requests when you also use the Prefer: outlook.timezone="" header causes a problem. The results in the first page (that you make yourself and include the header), return dateTime values in the requested time zones. Results in subsequent page

[2020-08-05 21:21] jasonjoh commented on #311
I did come up with a workaround, but it requires a lot of extra code I shouldn't have to write :D. Basically I have to create a custom HTTP handler:

[code]

[2020-08-06 10:05] lc3t35 opened #312 "Not found : @microsoft/microsoft-graph-client"
# Bug Report

When I try to install with `npm i @microsoft/microsoft-graph-client`, I have the following error :

[code]

**Expected behavior:** [What you expected to happen]

The package is found and installed.

**Actual behavior:** [What actually happened]

Error message as shown above.

## Additional Context

System:
      OS: macOS 10.15.6
      Shell: 5.7.1 - /bin/zsh
    Binaries:
      Node

[2020-08-06 10:07] lc3t35 commented on #312
I've tryed again a few minutes later with yarn add @microsoft/microsoft-graph-client.
All went fine -> closing

[2020-08-06 10:07] #312 closed

[2020-08-06 19:47] ddyett commented on #311
Thanks for reporting

[2020-08-06 20:46] MIchaelMainer commented on #310
I suggest that you try cross posting this question in the MSAL GitHub repo.

https://github.com/AzureAD/microsoft-authentication-library-for-js

[2020-08-06 21:41] MIchaelMainer commented on #252
@hongtaozhang233 I've requested a look from service engineering on why this is still blocked. Do you have a support contract? It may be more effective to open a support ticket on this. I don't know how this is done, but perhaps this is something that your tenant admin can do on your behalf.

[2020-08-06 23:03] MIchaelMainer commented on #252
This is an issue in your configuration: Request was blocked due to a Tenant-Configured UserAgent AllowList being set for this **User**.

The two entries in the allowlist need review. The first entry is "\*Hiretual\*. Note the leading quote. The second entry is one long line that was intended to be different entries. Your admin needs to go back and review all of the ewsAllowList configurations. Hav

[2020-08-06 23:03] #252 closed

[2020-08-10 10:54] titodevera commented on #310
Set the value "AzureADandPersonalMicrosoftAccount" for the property "signInAudience" in the manifest solves the issues.
![audience](https://user-images.githubusercontent.com/11556124/89775666-9ab50f80-db08-11ea-95c2-abddcbdbf848.png)

[2020-08-10 10:54] #310 closed

[2020-08-13 15:49] #291 closed

[2020-08-15 02:19] #298 closed

[2020-08-15 02:19] #293 closed

[2020-08-15 02:19] #279 closed

[2020-08-20 19:50] naugtur commented on #248
The missing stacktrace is a serious issue. It's not practical to build a product with a team if stacktraces are missing.

How can I help? Is this a thing someone proficient with JS but not TypeScript can reasonably contribute?

 a workaround you can use in Node to provide a stacktrace:
[code]

With a bit of work you can also construct a working Error type object. Capturing the stack trace is the i

[2020-08-21 22:40] mjuliefr opened #315 "How to use my own access token?"
I am using firebase with Microsoft oauth provider. My user is successfully logged in and I want to get details on the user login via msgraph.

async function signInMS() {

  console.log("signInMS called");
  var provider = new firebase.auth.OAuthProvider('microsoft.com');

  provider.addScope('User.Read');

  firebase.auth().signInWithPopup(provider)
    .then( function (result) {
      alert("use

[2020-08-23 20:53] mjuliefr commented on #315
Hi,

I tried few things but it does not work. I have an access token from firebase. This access token is actually an Microsoft OAuth access token. How can I use this token, please?

I found two interesting issues which could help me:
https://github.com/microsoftgraph/msgraph-sdk-javascript/issues/253 where the access token seems to be specified
https://github.com/microsoftgraph/msgraph-sdk-javascr

[2020-08-23 21:45] mikebedwards1 opened #316 "CORS Issue when using Hosted WorkBench"
Bug Report
Prerequisites

 Can you reproduce the problem?
 Are you running the latest version?
 Are you reporting to the correct repository?
 Did you perform a cursory search?

Description
Trying to access a file contents using MSGraphClient - getting a 403 CORS error when using the hosted workbench. API Call works ok from deployed app in catalog, but not the hosted workbench on the same site coll

[2020-08-23 23:32] nikithauc commented on #315
Hello Julie,

Thank you for providing the your code snippets in the explanation!

1. Please check if the following links are helpful -

- [Creating Client Instance](https://github.com/microsoftgraph/msgraph-sdk-javascript/blob/dev/docs/CreatingClientInstance.md)
- [Custom Authentication Provider](https://github.com/microsoftgraph/msgraph-sdk-javascript/blob/dev/docs/CustomAuthenticationProvider.md

[2020-08-24 20:54] mjuliefr commented on #315
Hi Nikitha,

Thanks a lot!
I am able to fetch my data.

[2020-08-24 20:54] #315 closed

[2020-08-26 05:00] kunalkankariya opened #317 "Support for msal.js 2.0+"
Is there a plan to support msal.js 2.0+?

Since implicit grant flow is no longer recommended and auth code flow with PKCE is recommended.

[2020-08-27 05:45] nikithauc commented on #317
This is being looked into. I will let you know how we will plan to support Auth Code.

[2020-08-27 20:50] MIchaelMainer commented on #316
@baywet

[2020-08-28 11:34] baywet commented on #316
@nikithauc let me know if you want to setup 30 minutes so I can help you get started with SPFx

[2020-09-07 12:13] naugtur opened #320 "Node.js stream support missing in LargFileUploadTask"
# Bug Report

## Prerequisites

-   [ x ] Can you reproduce the problem?
-   [ x ] Are you running the latest version?
-   [ x ] Are you reporting to the correct repository?
-   [ x ] Did you perform a cursory search?
        yes, I found a gist that suggested reading entire file into memory for each chunk splicing :)

## Description

Attempting to pass a Stream into LargeFileUploadTask as file co

[2020-09-10 08:04] naugtur commented on #320
Here's what I'd like to do:
1. If it's possible to send entire upload to the session in one chunk (as discussed on Twitter) I'd like to expose a method to do that, which would consume anything the http client can put into body (string, blob, buffer, formdata, but most of all Stream)
2. If the file content passed to chunk upload helper is a stream:
 - prepare two buffers (pooling instead of garbage

[2020-09-10 12:52] sandeeppatel344 opened #322 "Unit testing with Jest"
Any one can provide example for Jest unit testing in React Native

[2020-09-10 20:12] MIchaelMainer commented on #322
This repo is specifically for issues with the JavaScript client library. Please post questions to StackOverflow.

[2020-09-10 20:12] #322 closed

[2020-09-10 20:17] MIchaelMainer commented on #320
@naugtur We'd be happy to have you contribute here. @nikithauc will work with you on this.

[2020-09-10 20:38] naugtur commented on #320
Ok. Allocating time next week!

[2020-09-11 22:30] MIchaelMainer commented on #320
Additional reference PRs:

https://github.com/microsoftgraph/msgraph-sdk-dotnet/pulls?q=is%3Apr+author%3Aandrueastman+large+is%3Aclosed
https://github.com/microsoftgraph/msgraph-sdk-dotnet-core/pull/65

[2020-09-13 14:35] baywet opened #324 "Enhance the implementation and usage of fetch API"
Bug Report
Prerequisites

 Can you reproduce the problem?
 Are you running the latest version?
 Are you reporting to the correct repository?
 Did you perform a cursory search?

For more information, see the CONTRIBUTING guide.
Description
isomorphic-fetch hasn't been updated in 5+ years and is not maintained anymore.
A few days ago I received a security alert on the node webhook sample indicating

[2020-09-14 17:45] ddyett commented on #297
this issue is not actionable by this team.  Closing with the service label to pass on.

[2020-09-14 17:45] #297 closed

[2020-09-14 17:53] ddyett commented on #288
apologies for not responding here due to staffing issues.  From what I understanding this is outside of the js sdk so i'm closing this issue.

[2020-09-14 17:53] #288 closed

[2020-09-14 17:57] ddyett commented on #277
still should look at why it was added as a stream content type.

[2020-09-14 18:01] ddyett commented on #275
not enough information to reproduce at this point so not currently actionable.

[2020-09-14 18:01] #275 closed

[2020-09-14 18:02] ddyett commented on #274
not an issue with the sdk itself so closing.

[2020-09-14 18:02] #274 closed

[2020-09-14 18:08] ddyett commented on #271
you need to add sourcetype: module to the project.

[2020-09-14 18:08] #271 closed

[2020-09-14 18:08] #267 closed

[2020-09-14 18:10] #264 closed

[2020-09-14 18:17] ddyett commented on #253
let's double check this is working properly.

[2020-09-14 18:23] ddyett commented on #241
@darrelmiller was there an action decided on here?

[2020-09-14 18:25] #236 closed

[2020-09-14 18:26] ddyett commented on #235
not something we can handle in this sdk.

[2020-09-14 18:26] #235 closed

[2020-09-14 18:28] ddyett commented on #228
issue is a limitation of the service so closing as we cannot address.

[2020-09-14 18:28] #228 closed

[2020-09-15 07:18] nikithauc commented on #254
@technicallynick  Is this issue still reproducible?

[2020-09-15 07:46] nikithauc commented on #281
Thank you for bringing this to attention!

[2020-09-16 09:23] naugtur commented on #320
Hi @nikithauc
Could you share info or docs about the option to send a single chunk to the upload session?

Darrel Miller mentioned that on Twitter.

 I'd like to start with proving I can make it work.

[2020-09-17 00:40] nikithauc commented on #320
@naugtur   Currently it is not possible to send a single chunk in the  upload session and the way send a stream is through range requests.

[2020-09-17 21:19] #281 closed

[2020-09-17 23:46] nikithauc commented on #277
[Fix](https://github.com/microsoftgraph/msgraph-sdk-javascript/commit/3b0edb32bf57c4c29ae98e1e21f19e9405ba10ef). This should be fixed in [Microsoft Graph JS SDK Client](https://github.com/microsoftgraph/msgraph-sdk-javascript/releases Version 2.0.0)

[2020-09-17 23:46] #277 closed

[2020-09-21 14:06] naugtur commented on #320
I can confirm the uploadSession demands all details about ranges.

Sending
`Content-Range: 0-${N-1}/${N}`
works for a single chunk upload of a file larger than 4MB though.
I tried the request directly, not via UploadTask.

Then I also uploaded 203MB powerpoint file as one chunk and it worked fine.
Any thoughts on that?
The only limitation on chunk size was a popular JS library that's a dependency

[2020-09-21 19:21] MIchaelMainer commented on #320
I'm surprised as the max per [documentation is 60MB](https://docs.microsoft.com/en-us/graph/api/driveitem-createuploadsession?view=graph-rest-beta#upload-bytes-to-the-upload-session).

@ificator do we need to update the documentation on this one?

[2020-09-21 20:16] ldorner opened #327 "Expose function to convert from Windows time zones to IANA time zones"
# Feature Request

## Is your feature request related to a problem? Please describe

It's often necessary to convert from Windows time zones (which are expected by and returned from the MSGraph API) to IANA time zones (which are utilized by most other services). In the past, we have solved this problem by maintaining our own mapping of Windows <-> IANA time zones within our projects. However, this

[2020-09-21 20:27] naugtur commented on #320
I'm happy with how it works but if it is unintended, please let me know and I'll avoid abusing it :)

I uploaded the file into a SharePoint site, if that changes anything.

Planning to work on converting stream to chunks anyway.

[2020-09-21 21:08] baywet commented on #320
I've been working on this on the Java SDK recently. The upload services behave a bit differently between OneDrive consumer (live account) OneDrive for business, SharePoint and file attachments on Outlook. It worth testing all these scenarios to catch eventual issues.

[2020-09-21 22:04] nikithauc commented on #320
@MIchaelMainer -> Came across this [Stack Overflow post](https://stackoverflow.com/questions/3571115/sharepoint-2010-iis-7-5-byte-range-request-responds-with-entire-file). The post mentions a download request but could it be the related  to why a 203 MB chunk got uploaded as a single request?

[2020-09-21 22:07] nikithauc commented on #320
@naugtur  I know that the discussion for this issue is in the initial stage but as we move to the implementation design phase, I would like to work with you on the design part of this issue so that we have it in sync with the rest of MS graph SDKs .

Thanks,
Nikitha

[2020-09-21 22:15] naugtur commented on #320
@nikithauc obviously!
I got in touch because I don't want to slap up a PR that never gets merged, I'd rather do the node streams specific part and allow someone else to put it in. Anyway, I'm prepared to fulfill this expectation.

As part of the process I mean to implement the good parts with streams first and show you.
As a starting point.

Meanwhile my team is on a deadline and I need to solve i

[2020-09-22 10:05] kayvee25 opened #328 "Graph API not granting requested permissions in the first time"
# Bug Report

## Prerequisites

-   [x] Can you reproduce the problem?
-   [x] Are you running the latest version?
-   [x] Are you reporting to the correct repository?
-   [x] Did you perform a cursory search?

## Description

My application is calling the Graph API to exchange a code for the access token in the OAuth flow.
I followed the steps in [this documentation](https://docs.microsoft.com/en

[2020-09-22 22:30] nikithauc commented on #317
Hi @kunalkankariya,

The plan to support MSAL 2.0 is still under discussion. However, currently we are working on including [@azure/identity](https://www.npmjs.com/package/@azure/identity) into Microsoft Graph JavaScript SDK. That should  support auth code flow.

Please let me know if you have more questions.

[2020-09-23 07:54] kunalkankariya commented on #317
Thank you @nikithauc for the updates.

Does this mean that auth code flow will be used without PKCE? What will be the lifetime of refresh tokens then?

[2020-09-23 21:23] nikithauc commented on #320
`You can upload the entire file, or split the file into multiple byte ranges, as long as the maximum bytes in any given request is less than 60 MiB.` Considering this line from the [OneDrive upload documentation](https://docs.microsoft.com/en-us/graph/api/driveitem-createuploadsession?view=graph-rest-beta#upload-bytes-to-the-upload-session) , what I would do is allow the user to decide what best w

[2020-09-23 22:34] MIchaelMainer commented on #320
@nikithauc I'm in agreement. Our best bet is to use the documentation as spec as much as possible. With that said, it is a challenge to provide prescriptive guidance as limits can change without us knowing. I'd expect an implementer of large file upload to test different range sizes to determine what is optimal for their scenario. So, we should leave it to the implementer to specify their range si

[2020-09-24 20:35] MIchaelMainer commented on #328
Please ask this question using the feedback link at the bottom of this page:

https://docs.microsoft.com/en-us/graph/auth-v2-user?context=graph/api/1.0

You may want to review this as well:
https://github.com/AzureAD/microsoft-authentication-library-for-js/tree/dev/lib/msal-node

This repo is specifically for the Microsoft Graph library issues you encounter once you have a valid access token.

[2020-09-24 20:39] MIchaelMainer commented on #327
Here's the related .NET implementation:

https://github.com/microsoftgraph/msgraph-sdk-dotnet/blob/dev/src/Microsoft.Graph/Models/Extensions/DateTimeZoneExtensions.cs

[2020-09-25 21:34] #311 closed

[2020-09-25 21:53] nikithauc opened #329 "ChaosHandlerOptions constructor - all optional parameters should be listed at the end of the signature"
The [constructor](https://github.com/microsoftgraph/msgraph-sdk-javascript/blob/130f3c0e9d329498ef8444d86181255b640d5743/src/middleware/options/ChaosHandlerOptions.ts#L69) should be changed from

`public constructor(chaosStrategy: ChaosStrategy = ChaosStrategy.RANDOM, statusCode?: number, statusMessage: string = "Some error Happened", chaosPercentage?: number, responseBody?: any) `

to something l

[2020-09-26 02:29] hasridha commented on #265
FWIW, we tried changing this by unsetting the telemetryHandler like so -
[code]
Yet, we are seeing the errors with - name: TypeError, message: Failed to fetch. Not sure if this is CORS related though..

[2020-09-28 14:22] Sytten opened #330 "Retry handler should retry on connect timeout"
# Feature Request

## Is your feature request related to a problem? Please describe

Currently the retry handler only rethrows when the underlining request throws:
https://github.com/microsoftgraph/msgraph-sdk-javascript/blob/130f3c0e9d329498ef8444d86181255b640d5743/src/middleware/RetryHandler.ts#L176-L189

This means that a connect timeout will not be retried. This happened in production for us t

[2020-09-28 19:42] nikithauc commented on #265
I will take a look at this shortly.

[2020-09-29 07:59] nikithauc commented on #317
Hello @kunalkankariya ,

You can use a credential class which suits your requirement. JS SDK will be implementing an authProvider class with  [TokenCredential](https://github.com/Azure/azure-sdk-for-js/blob/master/sdk/core/core-auth/src/tokenCredential.ts) property and a method to get the access token.
Also, if you do not find a credential class that suits your requirement, you can implement a cus

[2020-09-29 16:52] Cutaiar commented on #196
Any update on this? I am facing a similar issue even without using `format` -- even just trying to access `/me/drive/items/${itemId}/content` results in a CORS issue.

[2020-09-30 05:46] sundariragavan opened #332 "How to get the selected event Id in outlook calendar Add Ins"
I have added Add Ins in Outlook Calendar. I want to get the selected event id. If i use /me/events I'm getting multiple events. I need selected event id only. How to get the selected event id ??

[2020-10-01 14:51] sundariragavan commented on #332
https://stackoverflow.com/questions/64157819/is-it-possible-to-programmatically-access-the-selected-appointment-event-in-ou
Is it possible to programmatically access the selected appointment (event) in outlook using Office Add In

[2020-10-01 18:12] ddyett commented on #332
Have you tried /me/events/{event-id}?

[2020-10-01 20:06] nikithauc commented on #329
No. This will be fixed separately.

[2020-10-01 20:25] MIchaelMainer commented on #332
This is a great question for StackOverflow. You'll get many more eyes on your question there with both the Outlook addins and MicrosoftGraph tags. Please put a link to your post here.

[2020-10-01 20:26] MIchaelMainer commented on #332
Closing as this is primarily a question about Office add-ins. See github.com/officedev for more information, including samples.

[2020-10-01 20:26] #332 closed

[2020-10-01 23:31] #329 closed

[2020-10-02 11:57] baywet commented on #327
@MIchaelMainer were we expecting the bot to close that issue?

[2020-10-02 17:42] MIchaelMainer commented on #327
@baywet Yes, I expected the bot to close this as we tagged this with Needs: Author Feedback which assumes that we were asking the author for more information and didn't provide it so they must not be interested in the issue any longer.

I will reopen.

[2020-10-02 17:44] baywet commented on #327
thanks. Apparently I setup the tag for a reason I don't remember. Sorry about that.

[2020-10-02 21:35] OlivierCuyp commented on #248
@nikithauc I made a quick PR let me know if it is ok for you.
I believe the code is retro-compatible with the exception of the default GraphError message which is `""` instead of `null` now.

[2020-10-02 23:23] nikithauc commented on #248
@OlivierCuyp Thank you so much for this! I will take a look the pr shortly.

[2020-10-05 07:39] nikithauc commented on #317
Closing this issue. Please let me know if there are more questions.

[2020-10-05 07:39] #317 closed

[2020-10-05 22:51] #248 closed

[2020-10-05 23:20] nikithauc commented on #246
Changed the condition to verify if nodeEnvironment in PR #333

[2020-10-05 23:20] #246 closed

[2020-10-08 07:37] JackAdams commented on #230
So how do you access `MSALAuthenticationProviderOptions`?  Is it this:

[code]

[2020-10-08 08:10] nikithauc opened #339 "Add support for multiple cached authorities for MSAL auth provider."
#219 -> This  PR was a created by a contributor.

Opening this issue to invite a discussion on whether and how the suggested change should be implemented in the MSGraph SDKs.
[AB#6322](https://microsoftgraph.visualstudio.com/0985d294-5762-4bc2-a565-161ef349ca3e/_workitems/edit/6322)

[2020-10-08 17:41] OlivierCuyp commented on #241
@darrelmiller & @darrelmiller I already made a PR hoping you'll decide anytime soon in favor of this change ;)

[2020-10-08 23:27] nikithauc opened #341 "OData query options without $."
The JS-client client currently considers <query option> & <$query option> as two different query param keys. Should this be changed? Or do we wait till the service consistently allows a query option with/without $ for all endpoints?
[Discussion](https://github.com/microsoftgraph/msgraph-sdk-javascript/pull/338#discussion_r501660359)
[AB#7548](https://microsoftgraph.visualstudio.com/0985d294-5762-4

[2020-10-09 12:18] baywet commented on #341
I'm not sure the AGS team has been actively working on that recently or plans to.
My opinion on the matter is that the SDK should not get "in the way" of people. If they want to work with select (without $), and the service accepts it (even partially), it should just work. That's also a way to future proof our SDK for the day the change rolls out consistently.

[2020-10-09 20:13] nikithauc commented on #320
@naugtur. Please let me know if you need more information for this issue.

[2020-10-10 15:45] naugtur commented on #320
I had a lot on my plate at work recently and simply didn't get down to this.

The only information I could use additionally is which node versions you intend to support. There was a shift in stream best practices fairly recently and I need to know which if the new stuff I can use.

[2020-10-12 13:33] vemundeldegard opened #342 "Post /subscriptions does not work"
# Bug Report

## Prerequisites

-   [x] Can you reproduce the problem?
-   [x] Are you running the latest version?
-   [x] Are you reporting to the correct repository?
-   [x] Did you perform a cursory search?

For more information, see the `CONTRIBUTING` guide.

## Description
I am trying to create a new subscription by using this client. It does not work and throws an error with no information.

[2020-10-13 23:20] nikithauc commented on #342
Thank you for reporting @vemundeldegard! I have a few questions for your -

1. Can you give me more information of the `client` that is how `this.office365` initialized and the middleware/authprovider that you are using?
2. Are you testing using a business or a personal account?
3.  Can you try changing
 `let subscription = await this.office365.api("/subscriptions").post({
				subscription: payloa

[2020-10-15 22:39] aailenm opened #343 "Cannot fetch chat ids: It's malformed and fires multiples onConversationUpdate events"
# Bug Report

## Prerequisites

-   [x] Can you reproduce the problem?
-   [x] Are you running the latest version?
-   [x] Are you reporting to the correct repository?
-   [ ] Did you perform a cursory search?

For more information, see the `CONTRIBUTING` guide.

## Description

I'm having some issues when attempting to fetch the chat id for a specific user using this request:

GET /beta/users/{US

[2020-10-20 23:45] victorreis opened #344 "Error in a request to download a file from a drive"
# Error in a request to download a file from a drive

## Prerequisites

-   [x] Can you reproduce the problem? Yes.
-   [X] Are you running the latest version? Yes.
-   [X] Are you reporting to the correct repository? Yes.
-   [X] Did you perform a cursory search? Yes.

## Description

I'm developing a API to manage files from a drive and I'm getting error when I try to download a file by his ID.

[2020-10-21 17:52] CaseGuide commented on #249
@MIchaelMainer @EricZhengJun  We're also experiencing this phenomenon. When trying to use the Microsoft Graph API to get change notifications (webhook subscription).  We appear to get nothing back from MS graph API from lambda using a flask app that runs fine locally and in testing using Postman.

Are you aware of any examples using AWS lambda and microsoft graph?

[2020-10-21 18:29] nikithauc commented on #249
@CaseGuide  Please direct this issue to [Microsoft Graph Docs](https://github.com/microsoftgraph/microsoft-graph-docs) , [Microsoft Q&A](https://docs.microsoft.com/en-us/answers/index.html) with Microsoft Graph tag for help with this issue.

[2020-10-21 22:22] nikithauc commented on #344
@victorreis  Thank you for reporting this issue.
Can you please give me the steps  to reproduce this issue?  In the description of this issue you mentioned 'I'm getting error when I try to download a file by his ID.' Can you give me some specifics of the type of account/access token or the ID you are describing here?

Are you querying the 'Graph API' directly through Postman with the url 'https://

[2020-10-21 22:26] nikithauc commented on #342
@vemundeldegard please check if the access token and the middleware is set correctly. I could reproduce this issue when I set the access token as undefined.

Will create a fix for Graph clients errors to be more descriptive.

[2020-10-22 12:14] victorreis commented on #344
Hi @nikithauc ,

The steps to reproduce are below:

Call this orchestrator function:
![image](https://user-images.githubusercontent.com/8744178/96867634-58327c00-1443-11eb-949d-074289fa6aea.png)

That gets the site details: [token works fine here]
![image](https://user-images.githubusercontent.com/8744178/96867695-700a0000-1443-11eb-89fc-a3e1e6ce6b8f.png)

That get drive details: [token works fine

[2020-10-22 13:05] victorreis commented on #344
Hi @nikithauc ,

I tested put the ids and the token hard coded and the error persists, the token isn't sent.
I don't understanding why msGraphClient calls authProvider correctly (I checked) and do not put the token just in this case of the download a file.

Even when I put the skip token with a hard coded token it doesn't work.
![image](https://user-images.githubusercontent.com/8744178/96875675-e0

[2020-10-22 20:38] MIchaelMainer commented on #343
I suggest that you create this issue with a link at the bottom of the page as it looks like this may be an issue in the sample.

https://docs.microsoft.com/en-us/microsoftteams/platform/graph-api/proactive-bots-and-messages/graph-proactive-bots-and-messages?tabs=javascript#view-additional-code-samples

Once you create that issue, please post a link to this issue.

[2020-10-22 20:38] #343 closed

[2020-10-23 09:54] admin-excior opened #346 "client.api(resource).get() return incorrect event or meeting subject."
# Bug Report

## Prerequisites

-   [ ] Can you reproduce the problem? Yes
-   [ ] Are you running the latest version? Yes
-   [ ] Are you reporting to the correct repository? Yes
-   [ ] Did you perform a cursory search? Yes

For more information, see the `CONTRIBUTING` guide.

## Description

[I am using the Microsoft graph to get an event from a subscription. The event returns correctly except

[2020-10-23 10:13] naugtur commented on #248
How do I check to see when it gets released?

[2020-10-23 20:00] nikithauc commented on #248
This was released in 2.1.0 version of Microsoft Graph Client.
Release notes mentions the PR for this issue.

I will work on tagging the issues with the release version.

[2020-10-23 21:28] nikithauc commented on #344
https://github.com/microsoftgraph/msgraph-sdk-javascript/issues/265

[2020-10-26 03:40] nikithauc commented on #344
@victorreis  Are you testing this on a personal account?

Authorization being set as undefined is an expected behavior and it happens in case of a redirection that is when the Graph API redirects to another endpoint.

I am looking into why you are getting an empty error body as in the following screenshot.  https://user-images.githubusercontent.com/8744178/96654241-36d17300-1311-11eb-985f-b4a034fe

[2020-10-26 04:34] nikithauc commented on #344
@victorreis  Can you verify the scopes that is set? https://docs.microsoft.com/en-us/graph/api/driveitem-get-content?view=graph-rest-1.0&tabs=http
Can you please provide a fiddler trace if possible of request and response between the graph JS client sdk and Graph API?

[2020-10-26 11:33] victorreis commented on #344
I'm used my job account with permissions granted by the administrator of my organization to set the configs to "get access without a user". With the ClientId, CliendSecret and TenantId I get the token.

I don't know why it's happening, because in the Postman and in the Axios code it works fine.

Thank you! 👍

[2020-10-26 12:19] victorreis commented on #344
![image](https://user-images.githubusercontent.com/8744178/97169686-37329980-1769-11eb-85c7-a6edd92d898d.png)
![image](https://user-images.githubusercontent.com/8744178/97169721-43b6f200-1769-11eb-9e0c-678fcc6523e0.png)

How can I do that? I installed the "Fiddler Everywhere" and I sent the request via Postman to my local server, but the fiddler doesn't log the internal server request (that uses t

[2020-10-27 08:55] nikithauc commented on #344
@victorreis  I appreciate your patience and your response to my questions. Thank you!

I came across other issues with respect to CORS issues with file content download such as follows -

https://github.com/microsoftgraph/msgraph-sdk-javascript/issues/265#issuecomment-579654141
https://github.com/microsoftgraph/microsoft-graph-docs/issues/5464

A similar issue with respect to CORS error during a f

[2020-10-28 23:11] nikithauc commented on #344
@victorreis  I was able to reproduce this issue. Thank you @peombwa  for the help!

The fix for this is will be included in the next release.

A suggested work around is to as follows-

Get the download url for the item you wish to access as follows -
`https://graph.microsoft.com/v1.0/sites('${siteId}')/drives('${driveId}')/items('${fileId}')?$select=@microsoft.graph.downloadUrl` and use the url t

[2020-10-28 23:22] nikithauc commented on #316
Looks like this is related to https://github.com/microsoftgraph/microsoft-graph-docs/issues/43.
@mikebedwards1 Please check if the workaround suggested in the [comment ]( https://github.com/microsoftgraph/microsoft-graph-docs/issues/43#issuecomment-161519722) works for you.

Please check if the  following workaround works for you
Get the download URL for the item you wish to access as follows -

E

[2020-10-28 23:30] nikithauc commented on #196
Duplicate of #16.

Workaround for this problem - https://github.com/microsoftgraph/msgraph-sdk-javascript/issues/316#issuecomment-718264064

[2020-10-29 18:49] victorreis commented on #344
Thank you! I'm glad to help improve the SDK. 👍

In my case I need to download the file to my API and pass thought the frontend client because the @microsoft.graph.downloadUrl allows any user with the link to download the file. I don't want to give this possibility to the final user.

No more questions, I just need to thank you! Good job! 💯

[2020-10-30 03:10] nikithauc commented on #254
Tried `/users/${userPrincipalName}/transitiveMemberOf` in graph explorer and in a node sample and worked fine. Not able to reproduce this issue.

[2020-10-30 03:10] #254 closed

[2020-10-30 03:16] nikithauc commented on #241
[10/9 2:30 PM] Michael Mainer
    I think it should default to true. If a customer specifically uses count(bool shouldTryRequestCount = true), they want to get the count, and the default should be true. If they specifically do not want the count, which by the way I think there are very few APIs that return it by default, then I think it is reasonable for them to turn off count with count(false). T

[2020-10-30 03:17] #241 closed

[2020-10-30 16:10] victorreis commented on #344
@nikithauc , I have a question, maybe you can help me. I'm trying to get the response headers, but it doesn't works in the SDK, just in Postman, Axios etc. Here is the code:

![image](https://user-images.githubusercontent.com/8744178/97727719-7d606380-1aaf-11eb-8a46-cdc83d241425.png)

I need to get the `response.headers.location`, that informs me the link to have the information about the status o

[2020-10-30 20:07] #230 closed

[2020-11-03 10:25] nikithauc opened #349 "Response is undefined when trying to copy a drive item."
Thank you @victorreis for reporting this [issue](https://github.com/microsoftgraph/msgraph-sdk-javascript/issues/344#issuecomment-719645580).

Steps to reproduce -

- Try the [sample code](https://docs.microsoft.com/en-us/graph/api/driveitem-copy?view=graph-rest-1.0&tabs=javascript) to copy a drive item.
- Console log the response.
- The response is empty.

[2020-11-03 10:27] nikithauc commented on #344
@victorreis  Thank you for pointing this issue!

I have opened  a new issue for this https://github.com/microsoftgraph/msgraph-sdk-javascript/issues/349.

[2020-11-08 15:59] rudxde opened #350 "After updating to version 2.1.0 - getting goups transitivmeberof by email throws an error"
# Bug Report

## Prerequisites

-   [ x] Can you reproduce the problem?
-   [ x] Are you running the latest version?
-   [ x] Are you reporting to the correct repository?
-   [x ] Did you perform a cursory search?

For more information, see the `CONTRIBUTING` guide.

## Description

[Description of the bug or feature]

**Console Errors:** [Is there any console error]

[code]

**Screenshots:** [If

[2020-11-10 01:14] nikithauc commented on #350
@rudxde  Thank you for reporting this issue! I will look into this issue

[2020-11-10 03:14] marcolarosa opened #352 "Can't get file preview from drive with id but can with path"
# Bug Report

## Prerequisites

-   [x] Can you reproduce the problem?

-   [x] Are you running the latest version?

-   [x] Are you reporting to the correct repository?

-   [x] Did you perform a cursory search?

For more information, see the `CONTRIBUTING` guide.

## Description

Using the client to get a preview of a one drive file fails when using the ID but not when referencing the path.

Wit

[2020-11-10 03:40] lethinh0510 opened #354 "SPO can NOT scan virus when upload by Microsoft Graph API"
# Bug Report

## Prerequisites

-   [x ] Can you reproduce the problem?
-   [x ] Are you running the latest version?
-   [x ] Are you reporting to the correct repository?
-   [ x] Did you perform a cursory search?

For more information, see the `CONTRIBUTING` guide.

## Description

I have a problem in SPO scan virus.
When I upload virus file to SPO in browser. It scan OK.
But when I using Microso

[2020-11-10 04:03] nikithauc commented on #354
@lethinh0510  This repo is for issues specific to Microsoft JavaScript Client SDK.
Please post this question in Microsoft Q & A using  tags for SharePoint and  StackOverFlow for help with this issue.

[2020-11-10 04:03] #354 closed

[2020-11-10 09:11] sseppola commented on #232
Thanks for leaving this message, I was puzzled by the usage and point of `msgraph-typescript-typings` as I basically still had to type the return types manually. Which is really odd coming from the org that created TypeScript 🙄

[2020-11-10 21:50] nikithauc commented on #352
@marcolarosa Thank you for reporting this issue!

Can you please verify if  'b!-4xxhXFx5kKSQwwAu ... 4QGAuTlRxZhQ59yKADIuZ49#01K7QV4XM ... ZOOIF6Z' is the drive id or the item id? Because the id mentioned seems to have to have a drive item id format.

References for more help -
https://docs.microsoft.com/en-us/graph/api/driveitem-get?view=graph-rest-1.0&tabs=http
https://stackoverflow.com/question

[2020-11-10 21:52] marcolarosa commented on #352
It's the itemId. The part before the '#' is the drive id and the part after is the item id.

[2020-11-10 22:00] nikithauc commented on #352
Can you try sending only  the part after the # in the request and see the outcome?

Example
[code]

[2020-11-10 22:07] marcolarosa commented on #352
OK - that works. But it doesn't make sense. Why would just that part work without identifying the target drive?

I was following the docs @ https://docs.microsoft.com/en-us/graph/api/driveitem-preview?view=graph-rest-1.0

And on that page there are routes like:
[code]

Which suggests that when using the /me/drive route (like I am) the item id would be the full driveid#itemid form (when I log in to

[2020-11-11 22:44] nikithauc commented on #352
Difference between POST /drives/{driveId}/items/{itemId}/preview  and POST /me/drive/items/{itemId}/preview -
The first one isn't called in the context of a user. It may only work with Application permission type.
The second should only be applicable with Delegated permission type.

[2020-11-11 22:44] #352 closed

[2020-11-11 22:47] marcolarosa commented on #352
It might be worth making that point clearer in the documentation. As I said, I see two drives when I log in so i assumed that even though I was using the /me route, the item-id would need to also include the drive id in order to specify the drive to lookup.

Thanks for the help!

[2020-11-11 23:40] nikithauc commented on #352
I agree.  Let me see if the documentation can be updated.

[2020-11-11 23:43] nikithauc commented on #316
Closing this as this is a known issue. Shall update if the CORS issue gets resolved.

[2020-11-11 23:43] #316 closed

[2020-11-11 23:45] #265 closed

[2020-11-12 21:18] kwv opened #355 ""Complex query on property ... is not supported" for filter clause working on Graph Explorer"
# Bug Report

## Prerequisites

-   [x] Can you reproduce the problem?
-   [x] Are you running the latest version?
-   [x] Are you reporting to the correct repository?
-   [x] Did you perform a cursory search?

For more information, see the `CONTRIBUTING` guide.

## Description

[Description of the bug or feature]

complex filter that works in [Graph Explorer ](https://developer.microsoft.com/en-u

[2020-11-12 22:09] kwv commented on #355
Curious if it's this

https://developer.microsoft.com/en-us/graph/blogs/build-advanced-queries-with-count-filter-search-and-orderby/

I notice when removing `ConsistencyLevel` header in msgraph explorer get the same result.

is there a way to override the headers on the request ?

[2020-11-12 22:50] kwv commented on #355
Setting this addresses the issue

[code]

[2020-11-12 22:50] #355 closed

[2020-11-13 08:04] nikithauc commented on #196
Closing this as this is a known issue. Shall update if the CORS issue gets resolved.

[2020-11-13 08:04] #196 closed

[2020-11-13 21:03] nikithauc commented on #163
Cannot reproduce this issue.

@sebestindragos @jlippold Please let me know if you still see this issue.

[2020-11-13 21:03] #163 closed

[2020-11-13 21:08] #344 closed

[2020-11-16 19:31] nikithauc commented on #350
@rudxde. Can I please get some more information of the application you are using? Information such as JavaScript framework used, the environment the application runs in( Node or browser?), Node version in use, browser name and version. Basically, any information that will help in reproducing this issue?

[2020-11-16 19:57] rudxde commented on #350
node 12 with typescript 4

this is how i initialize the client:
[code]

The authentication is going against a organization with a api token

[2020-11-16 20:29] MIchaelMainer commented on #350
The console error you provided with requestId = `a0d54f1a-1a7f-4b91-9fba-5614bcac0c0a` was for a request that looked like:
GET https://graph.microsoft.com/v1.0/users/{someId}/transitivemembersof

The example:
[code]
does not produce that error message, or at least we can't reproduce it. Can you provide a error requestId for the groups filter error?

[2020-11-17 23:51] nikithauc commented on #320
@naugtur  Sorry for a super delay in the response!
Currently, we are not specific on the version support, but the idea would be to have something that would be flexibly working in multiple node versions,
I am aware that SharePoint library does not support some versions and they use Graph JS SDK.
https://docs.microsoft.com/en-us/sharepoint/dev/spfx/set-up-your-development-environment

[2020-11-18 19:37] rudxde commented on #350
oh my mistake, there was a other request, which produced the error. Its, like you said an transitivmemberof request:
[code]

[2020-11-19 20:03] nikithauc commented on #350
@rudxde
The error 'Resource <groupEmail>does not exist or one of its queried reference-property objects are not present.' occurs when the mail is not valid that is not present in the user's list. I am able to reproduce this error by passing an invalid mail in the query.

`/users/${groupEmail}/transitiveMemberOf` works if the mail is a valid one and present in the user's list.

[2020-11-19 21:37] hilarudeens opened #359 "LargeFileUploadTask is ending with PassThrough stream instead of saying JSON response with id"
# Bug Report
I'm using  msgraph-sdk-javascript in NodeJs and try attach a document in Outlook email. The issue is, LargeFileUploadTask.uploadSlice function returns PassThrough readable stream on end of file upload instead of JSON response with id.

## Prerequisites
-   [ Yes] Can you reproduce the problem?
-   [Yes ] Are you running the latest version?
I'm using 2.1.1 as of 19th Nov 2020
-   [Yes

[2020-11-19 21:51] nikithauc commented on #359
@hilarudeens  Thank you for reporting this issue!

I will take a look at this issue.

[2020-11-20 23:16] rudxde commented on #350
The problem ist, that this rescouce exsists. The error is not thrown, when i am using the previous minor version.

[2020-11-25 04:11] nikithauc commented on #350
@rudxde  Can you please tell me if you see a difference in the request URL that is being made to the Graph API for '/users/${groupEmail}/transitiveMemberOf' between 2.0.0 and 2.1.0?

[2020-11-25 22:34] nikithauc commented on #359
@hilarudeens
The LargeFileUploadTask is designed for uploading to OneDrive. I see that you are trying to upload an attachment to Outlook. The responses by Drive and Outlook differ from each another. Please refer to this https://docs.microsoft.com/en-us/graph/outlook-large-attachments?tabs=javascript. In the document you will see that the final response from outlook  is expected to be an empty body

[2020-12-01 01:47] whatl3y opened #361 "Error: Cannot find module 'msal'"
# Bug Report

## Prerequisites

-   [x] Can you reproduce the problem?
-   [x] Are you running the latest version?
-   [x] Are you reporting to the correct repository?
-   [x] Did you perform a cursory search?

For more information, see the `CONTRIBUTING` guide.

## Description

Building my app in a docker container and running v2.2.0 of `@microsoft/microsoft-graph-client` in Node.js 14.13.1.

Thi

[2020-12-01 02:40] whatl3y commented on #361
Adding `msal` to my package.json dependencies (`npm install -s msal`) temporarily resolves this, but that's not a long term solution obviously.

[2020-12-01 03:17] nikithauc commented on #361
@whatl3y  Thank you for reporting the issue!  Will look into the issue.

[2020-12-01 17:01] Srokap commented on #361
Seeing same issue, looks like installed ms graph lib has only those 2 as dpendencies
[code]
And in `node_modules/@microsoft/microsoft-graph-client/lib/es/ImplicitMSALAuthenticationProvider.js` there is:
[code]
on line 11.

Seems to me that msal should be a production dependency unless you meant to make it a peer dependency. Also notice that msal is currently a devDependency, so that's likely why i

[2020-12-01 19:14] raimille1 commented on #361
Same issue here!

[2020-12-01 21:40] nikithauc commented on #361
@whatl3y @Srokap @raimille1  hotfix #362  has been deployed in version [2.2.1](https://www.npmjs.com/package/@microsoft/microsoft-graph-client/v/2.2.1)

[2020-12-02 18:45] #361 closed

[2020-12-03 13:32] plamber opened #364 "Retrieve the count using the PageIterator class?"
# Feature Request
I am looking for a way to retrieve from the PageIterator class the count of records returned in case of a "count()" query operation.

Lets consider a query that returns the groups.

`
....
let response: PageCollection = await client
        .api("/groups")
        .select("id,displayName,description,mail,groupTypes")
        .orderby("displayName")
        .count(true)
        .g

[2020-12-04 07:23] nikithauc commented on #359
TODO - The current LargeFileUpload task implementation in JS sdk needs an update. We should be allowing uploads to Outlook and the design should not be tightly coupled with the response format of one service like the current implementation .

[2020-12-04 07:30] nikithauc commented on #260
@OlivierCuyp are you still experiencing this problem?

[2020-12-04 13:00] hilarudeens commented on #359
@nikithauc Thanks for responding.

I'm expecting a way to get id. I'm okay to read Location header, however the current SDK implementation is giving passThrough stream. I'm unable to read Location from passThrough.

Do I need to wait for SDK upgrade? or is there any workaround?

[2020-12-04 19:08] jpbufe3 commented on #327
@baywet @MIchaelMainer - any updates or ETAs on this?

[2020-12-04 20:25] ldorner commented on #327
Thanks for reopening! We're still interested in this feature. Please let me know if there is any additional information that I can provide.

[2020-12-04 21:48] nikithauc commented on #327
@ldorner @jpbufe3 I will add this in my to-do tasks and see if I can release this feature soon.

[2020-12-05 00:03] nikithauc commented on #237
This feature should be available after adding @azure/identity token credential support.

[2020-12-05 00:04] nikithauc commented on #307
This features should be available after adding @azure/identity token credential support.

[2020-12-05 20:38] Akxe commented on #307
@nikithauc Is there any example to follow?

[2020-12-07 19:15] nikithauc commented on #307
@Akxe Currently the work is in progress to add token credential support in the SDK.

Please see if the following links help -
https://www.npmjs.com/package/@azure/identity

Register your application to enable authentication to Azure Active Directory using the client secret credential. For more details, please check the following links

[Register an application](https://docs.microsoft.com/en-us/azu

[2020-12-07 19:25] nikithauc commented on #359
@hilarudeens There will be an design change for this issue.

A suggested workaround would be  following this https://docs.microsoft.com/en-us/graph/outlook-large-attachments?tabs=javascript documention.
On creation of the upload session as shown in the documentation, you can use a pattern similar to [upload ](https://github.com/microsoftgraph/msgraph-sdk-javascript/blob/ff5df0c93a2e72793daf141ab18

[2020-12-08 13:17] askdesigners commented on #324
Not to mention that it's a nasty monkey patch...

[2020-12-09 18:34] nikithauc commented on #327
@idorner @jpbufe3  After some discussions on this feature, we feel that this feature does not align with the current scope of the JavaScript SDK, therefore we will not be including this in our roadmap.

Thank you for submitting the request! Please do let us know of any other requests you might have.

[2020-12-09 18:34] #327 closed

[2020-12-09 19:12] baywet commented on #327
FYI people, there are a few libraries to do that for you like [this one](https://github.com/rubenillodo/windows-iana)

[2020-12-11 08:28] nikithauc commented on #359
https://github.com/microsoftgraph/msgraph-sdk-serviceissues/issues/39.

[2020-12-17 03:46] nikithauc commented on #260
Related to #359.

[2020-12-17 03:46] #260 closed

[2020-12-21 19:13] #342 closed

[2020-12-21 19:16] nikithauc commented on #342
#353  adds changes to for better error indication if accessToken/user passed error param is undefined or empty.

[2020-12-30 09:57] plamber opened #367 "Is there an example how to render photos returned by the BatchRequestContent?"
Hello,
I verified the example [here](https://github.com/microsoftgraph/msgraph-sdk-javascript/blob/a95a762b9b7f66fb843aa1e134014f4214bc093a/docs/content/Batching.md) on how to retrieve people photos using the BatchResponseContent.

Unfortunately, I am failing when rendering the results in the browser.

I am using this syntax to render the blob:

__const response = contents.getResponseById("idofBat

[2020-12-30 13:26] baywet commented on #367
Hey @plamber ! I hope you're doing well.
Wouldn't this work? (I haven't tested this code)

(the casting isn't required, it only helps further down with compile time validation and auto-completion)

[code]

[2020-12-30 17:28] plamber commented on #367
Hi @baywet,
thank you for your help.

I tried this before reaching you out. I already generated a blobURL but failed in rendering it when passing it to the <img> tag.

I do not have the problem when calling the same resource using this code.
[code]

Can't figure out what I am missing.

Thank you for your feedback,
Patrick

[2020-12-30 17:36] joaojmendes commented on #367
Hi all,

Here my implementation in SPFx using msggraphclient

I have a function get user info and photo and save data in local cache  with msgraph batch I use to function to converto b64 to blob and the blob to base64 that I use to src in image tag.

/**
   *  Get User Data
   * @param user
   */
  const getUserId = async (user: string): Promise<IUserInfo> => {

    const _batchRequests:IBatchRequ

[2020-12-30 17:51] baywet commented on #367
yep the base64 decode of the response was the next thing I was about to suggest. I don't thing the Batch content response handler applies other handlers to the responses like the regular response handler does. Additionally this information is base64 encoded because it's part of a string response (json) and not a binary one (image/jpeg).

[2020-12-30 17:51] baywet commented on #367
thanks for helping @joaojmendes !

[2020-12-30 17:53] joaojmendes commented on #367
Wellcome! 😊

From: Vincent Biret <notifications@github.com>
Sent: Wednesday, December 30, 2020 5:52 PM
To: microsoftgraph/msgraph-sdk-javascript <msgraph-sdk-javascript@noreply.github.com>
Cc: João Mendes <joao.j.mendes@outlook.com>; Mention <mention@noreply.github.com>
Subject: Re: [microsoftgraph/msgraph-sdk-javascript] Is there an example how to render photos returned by the BatchRequestContent

[2020-12-30 17:54] plamber commented on #367
Thank you @joaojmendes. Your solution works.

Here the snippet for future reference.

[code]

[code]

Hope this helps.

Thank you all.

Closing the issue.

Wish you a great 2021

[2020-12-30 17:56] baywet commented on #367
@plamber would you mind PRing the docs you were pointing to in the initial message please? just adding a comment about the base64 encoding when it's in a batch as well as adding a sample of decoding. I'm sure it'll help others with the same goal and it'll be easier to find than here.
No worries if you can't, and it doesn't have to be right now.

[2020-12-30 19:19] nikithauc commented on #367
Reopening this so that this example is sampled.

[2020-12-30 19:45] plamber commented on #367
Hi @baywet,
do you want me to change the docs or do I just have to open a PR?

br,

[2020-12-30 22:18] baywet commented on #367
My original thoughts were that you could PR [this](https://github.com/microsoftgraph/msgraph-sdk-javascript/blob/dev/docs/content/Batching.md) unless you had a better proposition?

[2020-12-30 22:18] baywet commented on #367
@nikithauc thanks for reopening!

[2020-12-30 22:46] plamber commented on #367
@baywet will do it asap

[2020-12-31 08:48] plamber commented on #367
Just created a PR with an example. The example compiles and was tested on my environment. I haven't created automated tests for the example

[2020-12-31 20:53] dsanthosh411 opened #369 "Is this possible to cancel oneDriveLargeFileUploadTask request?"
This my scenario:

I am using upload option.sometimes my internet slow that time it takes more time.so I need cancel my request.is there anyway to cancel my request.
![IMG_20210101_022224](https://user-images.githubusercontent.com/50237749/103425430-40603c80-4bd8-11eb-8bd1-0078d76cde20.jpg)

[AB#7550](https://microsoftgraph.visualstudio.com/0985d294-5762-4bc2-a565-161ef349ca3e/_workitems/edit/7550

[2020-12-31 21:31] nikithauc commented on #369
@dsanthosh411  https://docs.microsoft.com/en-us/graph/api/driveitem-createuploadsession?view=graph-rest-1.0 has a section Cancel a Upload session

[2020-12-31 21:46] nikithauc commented on #369
@dsanthosh411  `await uploadTask.cancel()`  should help in cancelling the upload session.

[2020-12-31 21:47] nikithauc commented on #367
Thank you for the PR @plamber ! Appreciate your contribution :)

[2021-01-02 12:56] fabiofenoglio commented on #320
I am really interested in this too. In case someone needs it, I am using this drop-in alternative to the default LargeFileUploadTask in order to allow an upload from a generic Stream:
https://gist.github.com/fabiofenoglio/388a80204c2f203893882644567205f7

usage:
[code]

[2021-01-04 14:16] #367 closed

[2021-01-04 23:50] nikithauc commented on #307
Duplicate to #237

[2021-01-04 23:50] #307 closed

[2021-01-06 00:59] nikithauc opened #372 "Support for Authorization Code Flow with PKCE."
https://tools.ietf.org/html/draft-ietf-oauth-browser-based-apps-00
https://docs.microsoft.com/en-us/azure/active-directory/develop/reference-third-party-cookies-spas

I am working on an implementation in the @microsoftgraph/msgraph-sdk-javascript, which uses the` @azure/identity ``TokenCredential `feature.  An example use case is that a user must be able to pass a `authorizationCodeCredential ` fo

[2021-01-06 01:00] #372 closed

[2021-01-08 18:18] jasonnutter opened #373 "Add support for MSAL Browser (MSAL.js v2) and MSAL Node"
# Feature Request

I'm Jason from the MSAL.js team, and I am reaching out to see how we can help add support for our new libraries, [MSAL Browser](https://www.npmjs.com/package/@azure/msal-browser) and [MSAL Node](https://www.npmjs.com/package/@azure/msal-node).

## Is your feature request related to a problem? Please describe

For client-side auth, this library includes support for the Implicit F

[2021-01-08 18:20] MIchaelMainer commented on #373
@thewahome as well for GE

[2021-01-11 13:53] baywet commented on #373
FYI @nikithauc already started some of that work here #371

[2021-01-11 19:16] nikithauc commented on #350
Closing this due to inactivity.

[2021-01-11 19:16] #350 closed

[2021-01-11 19:43] nikithauc opened #375 "Improve telemetry collection of the library"
We are currently publishing the JavaScript SDK via npm and CDN. The purpose of this issue is to capture telemetry, which will help us learn
- statistics of the apps using the SDK.
- usage stats of CDN and npm.
- any other information that could add value in improving the SDK usage experience.

The privacy and security of the application using the SDK should be cared for while capturing the telemet

[2021-01-12 23:26] nikithauc commented on #373
@jasonnutter  Thank you for in this issue!
We are currently  working on supporting authentication with the `@azure/identity` which depends on the  MSAL Node.
I agree that MSAL Node and MSAL Browser have great features.
Is there a timeline when MSAL V1 will be deprecated?

[2021-01-13 05:24] pradeepsinghrao opened #378 "Access is denied. Check credentials and try again"
Getting this response while calling: https://graph.microsoft.com/v1.0/me/calendar/getSchedule API

1. Created App on Azure Directory
2. Given below permissions
   Delegated and Application Permission:- Calendars.Read, Calendars.Read.All, Calendars.ReadWrite
3. Given admin concent
4. Got the Access token from:
   https://login.microsoftonline.com/{tenant}/oauth2/v2.0/token

  client_id={clientid}

[2021-01-13 07:16] nikithauc commented on #378
@pradeepsinghrao May be the following links will helps -
https://docs.microsoft.com/en-us/answers/questions/28515/microsoft-graph-api-oauth-20-scopes.html
https://docs.microsoft.com/en-us/azure/active-directory/develop/v2-permissions-and-consent

Are you facing this issue only when using the Microsoft Graph JS SDK?

I recommend posting this question on Microsoft Q & A -> https://docs.microsoft.com

[2021-01-13 23:50] nikithauc opened #379 "Document supported node JS versions."
Library should be compatible with the supported node versions https://nodejs.org/en/about/releases/.

[2021-01-14 03:39] nikithauc commented on #379
https://stackoverflow.com/questions/29349684/how-can-i-specify-the-required-node-js-version-in-package-json

[2021-01-19 03:18] nikithauc opened #380 "Update rollup dependencies"
Update rollup and babel related dependencies.

Remove deprecated rollup plugins
rollup-plugin-babel
rollup-plugin-commonjs
rollup-plugin-node-resolve

And install the latest plugins
@rollup/plugin-babel
@rollup/plugin-commonjs
@rollup/plugin-node-resolve

Note - The plugins support Node version 10+.

[AB#7632](https://microsoftgraph.visualstudio.com/0985d294-5762-4bc2-a565-161ef349ca3e/_workitems/

[2021-01-19 04:00] nikithauc opened #382 "Replace Gulp."
Replace gulp with another dependency or process to perform tasks present in the gulpfile.js.
[AB#7633](https://microsoftgraph.visualstudio.com/0985d294-5762-4bc2-a565-161ef349ca3e/_workitems/edit/7633)

[2021-01-19 04:02] nikithauc commented on #369
Closing due to inactivity. @dsanthosh411  please reopen this issue if you still have questions.

[2021-01-19 04:02] #369 closed

[2021-01-19 12:14] baywet commented on #382
Out of curiosity, why do you want to replace gulp?

[2021-01-19 19:05] nikithauc opened #383 "Update design for task classes like LargeFileTaskUpload and PageIterator task."
Currently, when creating the `LargeFileUpload` object or the `PageIterator` object, we are passing a `Client` object which is used to make the requests.
The current design creates limitations in customizing the `GraphRequest` object options.
Example - To pass custom headers in the `PageIterator`, we pass a `requestOptions` parameter while creating the `PageIterator` object.
Another problem I came

[2021-01-19 19:11] nikithauc commented on #382
https://www.npmjs.com/package/gulp last update was two years ago. There are security alerts related to this dependency.
Proposal to use something more up-to-date.

[2021-01-19 19:32] nikithauc opened #384 "GraphResponse object design update"
[AB#7643](https://microsoftgraph.visualstudio.com/0985d294-5762-4bc2-a565-161ef349ca3e/_workitems/edit/7643)

[2021-01-19 19:36] nikithauc commented on #384
https://github.com/microsoftgraph/msgraph-sdk-dotnet-core/pull/112/files

[2021-01-19 19:37] baywet commented on #382
It looks like the only thing we're using gulp for is to update the version constants in TS from the package.json. It surely is a big dependency to do just that... A PS script should be more than enough :)

[2021-01-19 21:50] #328 closed

[2021-01-21 02:03] nikithauc commented on #384
Current Implementation - for any request example `const response = await client.api("/me").select(url).get()`, the [GraphResponseHandler ](https://github.com/microsoftgraph/msgraph-sdk-javascript/blob/a26c288b3463c49bf9862e32865bd0beed72753a/src/GraphResponseHandler.ts#L125) processes the Graph API response and returns just the response body.
To access the other response properties like the header

[2021-01-21 02:06] nikithauc commented on #384
[2:42 PM] Darrel Miller

I think I had this conversation previously with Muthu and he didn't believe it was necessary to have the GraphResponse object.  Is there a specific problem that we are trying to solve by creating this interface?

​[2:43 PM] Darrel Miller
    I think the argument was that this https://developer.mozilla.org/en-US/docs/Web/API/Response has all of those properties.

[2021-01-21 05:09] MIchaelMainer commented on #384
There are some responses that return headers with no response body. So how is a customer supposed to know that 1) the response has no body, 2) when it has no body, they need to use ResponseType.RAW. The client API signature doesn't help the dev determine that the response has no body. So the customer has to depend on the docs to get this info (some percentage won't search in the docs and will ask

[2021-01-21 07:13] nikithauc commented on #253
Cannot reproduce this.

[2021-01-21 07:13] #253 closed

[2021-01-21 18:29] pkokkadanjohny opened #385 "proof of possession of access tokens"
# Bug Report

**MSAL.js 2.0+ auth code flow with PKCE support** - During our security testing, we have found vulnerability with applications they are using MSAL 2.0+ library. Vulnerability details are given below

1.	Sign-in to the app, intercept traffic using any proxy tool and get a user’s token of an resource (API)
2.	Sign out of the application
3.	Using Postman, access the API/Resource with to

[2021-01-21 20:35] darrelmiller commented on #384
@MIchaelMainer If the customer calls UpdateCustomer(customer) and there is no response body then UpdateCustomer will return null.  If it fails it will throw an exception.  What information would a customer get from the Response that is useful?

The main scenario I am aware of that is a problem is calling CreateCustomer and the response is a 201 with no body and just a location header.  In this cas

[2021-01-21 23:06] MIchaelMainer commented on #384
@darrelmiller I argue that returning null is not a helpful result. From the customer perspective, null does not indicate success. Returning null, by itself, without the benefit of experience, documentation or a subsequent call, is an indeterminate result. An http status code would indicate success. Without the status code, the customer has to learn that a returned null means that the update was a

[2021-01-21 23:41] darrelmiller commented on #384
@MIchaelMainer Without the benefit of experience or documentation, the HTTP status code isn't going to be helpful either.  The SDKs return the payload as an object if one is returned.  If the HTTP payload is empty, the null is the most natural response.  Having a method that sometimes returns the payload as an object, and other times returns the HTTP response is an unnatural experience.

Our docum

[2021-01-22 00:16] nikithauc commented on #385
@pkokkadanjohny This portal is specific for issues with Graph JS SDK Client. May be https://github.com/AzureAD/microsoft-authentication-library-for-js would be the right place for this?

Are you facing problem specific to the   Graph JS SDK Client?

[2021-01-22 01:01] MIchaelMainer commented on #384
I thought I was replying to you in teams.

[2021-01-22 03:42] nikithauc commented on #384
+1 on this point by @MIchaelMainer.

We can have a GraphResponse object -
1. Allows user to access the response properties - header, body, statusCode.
2. Provides API's example - `graphResponse.raw()`, `graphResponse.getDeserializedBody()` allowing customizations on the GraphResponse. This way the user has more control on the response and it allows extensibility of the functionality in the future.

[2021-01-22 03:53] nikithauc commented on #384
Having a GraphResponse object could also help in bringing in abstraction and making it simpler to move to a new HTTPClient.

[2021-01-22 04:44] nikithauc commented on #378
@pradeepsinghrao  please reopen this issue if you have questions.

[2021-01-22 04:44] #378 closed

[2021-01-25 13:23] prorohit opened #386 "Not able to get the Login Screen in Android API level 30"
# Bug Report
We are not able to get the login screen on the API level 30 devices of Android using this library. However, it works fine in the devices below API level 30.

## Prerequisites

We are using the below version of library in packag.json of our React Native Application.
"@microsoft/microsoft-graph-client": "^2.0.0"

For more information, see the `CONTRIBUTING` guide.

## Description

When

[2021-01-25 22:29] nikithauc commented on #386
@prorohit Thanks for getting in touch!

1. What is the Auth Provider that you are using with the Graph JavaScript library client ?
2. When you say login is not working , do you mean login of a user into  your application or to access the Graph API?

[2021-01-27 15:13] kangqiwang opened #387 "Limit users with a sharing link to only view and may not download"
# Feature Request

## Is your feature request related to a problem? Please describe

Limit users with a sharing link to only view and may not download the contents of a shareddriveItem on OneDrive for Business or SharePoint.

 I'm always frustrated when I can not invite a specific user to a file with only view permission and not download the contentes

## Describe the solution you'd like

I hope w

[2021-01-27 21:57] nikithauc commented on #237
This feature will be released in 3.0.0

[2021-01-27 21:57] #237 closed

[2021-01-27 22:20] nikithauc commented on #387
[2:07 PM] Michael Mainer
    Thank you for opening this issue. This appears to be a a feature request for the Microsoft Graph API. Please use the [Microsoft Graph User Voice](https://microsoftgraph.uservoice.com/forums/920506-microsoft-graph-feature-requests) to search for existing feature requests, and to open new feature requests.

[2021-01-28 02:50] nikithauc commented on #188
Closing this issue as I am unable to reproduce this. Please reopen if this problem persists or for any related questions.

[2021-01-28 02:50] #188 closed

[2021-01-28 04:02] prorohit commented on #386
Hi @nikithauc

I am using Oauth2 Auth provider.

When I say login not working on Api level 30 devices of Android, then I meant the the in app browser is not coming when I do the initialisation  of the login process. However same is working on the Api level 30 devices, which means browser is getting opened for filing the Microsoft credentials .

If you need any other information please let me know

[2021-01-28 09:09] nikithauc commented on #386
@prorohit
Are you able to debug or produce an error pointing any part the code in the Microsoft Graph JavaScript library? That would be helpful if you can provide that.

I think that the problem with the login process might have something to do with authentication library. The Graph JS library does not  provide any login functionality.

[2021-01-28 09:41] prorohit commented on #386
@nikithauc

**Following auth library is being used**
"react-native-app-auth": "6.0.2"

**Usage:**
import {authorize, refresh} from 'react-native-app-auth'
....
....
 static signInAsync = async () => {
    **const result = await authorize(config)**
    await AsyncStorage.setItem(
      AppConstants.appConstants.accessToken,
      result.accessToken,
    )
    await AsyncStorage.setItem(
      AppCo

[2021-01-28 20:58] nikithauc commented on #386
@prorohit

Apparently, this is an issue with the react-native-app-auth and not in the Graph JS SDK. It would be helpful to create an issue in the react-native-app-auth repo.

[2021-01-28 21:04] nikithauc commented on #385
Closing this due to inactivity. Please reopen if you have any questions or concerns.

[2021-01-28 21:04] #385 closed

[2021-01-29 00:16] #387 closed

[2021-02-01 22:54] snebjorn opened #388 "CORS issue when accessing shared DriveItems content"
# Bug Report

## Prerequisites

-   [x] Can you reproduce the problem?
-   [x] Are you running the latest version?
-   [ ] Are you reporting to the correct repository?
-   [ ] Did you perform a cursory search?

For more information, see the `CONTRIBUTING` guide.

## Description

Requests to
[code]
https://docs.microsoft.com/en-us/graph/api/shares-get?view=graph-rest-1.0&tabs=http

Will result in a

[2021-02-01 23:07] nikithauc commented on #388
This is a known isssue - to microsoftgraph/microsoft-graph-docs#43.
@snebjorn  Please check if the workaround suggested in the comment works for you.

Please check if the following workaround works for you
Get the download URL for the item you wish to access as follows -

Example -
https://graph.microsoft.com/v1.0/sites('${siteId}')/drives('${driveId}')/items('${fileId}')?$select=@microsoft.graph.

[2021-02-01 23:29] snebjorn commented on #388
I see. Using the `@microsoft.graph.downloadUrl` link from `GET /shares/{shareIdOrUrl}/driveItem` worked, thank you.

However `GET /shares/{shareIdOrUrl}/driveItem?$select=@microsoft.graph.downloadUrl` doesn't seem to limit the response

[2021-02-01 23:52] nikithauc commented on #388
@snebjorn  can you explain what you mean by limit the response?

[2021-02-02 07:57] snebjorn commented on #388
it doesn't select the @microsoft.graph.downloadUrl property. It still returns everything

[2021-02-02 21:04] nikithauc commented on #386
@prorohit  Please free to reopen this issue if you have more questions or concerns. I am closing this issue as it is not related to the Graph JS SDK.

[2021-02-03 10:27] finsharp commented on #388
@snebjorn I was able to reproduce the issue, turns out its a [known issue](https://stackoverflow.com/questions/45502275/microsoftgraph-querying-for-microsoft-graph-downloadurl-returns-character-i), please use `content.downloadUrl` instead.
Repro in GE:-
`
https://graph.microsoft.com/v1.0/shares/<redacted>/driveItem?$select=id,@microsoft.graph.downloadUrl
`
Produces: Does not filter
![image](https:

[2021-02-03 13:44] snebjorn commented on #388
I'm closing this as the original issue and follow up issue are both known

[2021-02-03 13:44] #388 closed

[2021-02-04 19:48] clawyq commented on #359
this issue of the sdk returning a passThrough stream can also be reproduced by making a call to the copy endpoint as specified [here](https://docs.microsoft.com/en-us/graph/long-running-actions-overview?tabs=http).

[2021-02-04 21:39] #386 closed

[2021-02-05 22:33] nikithauc opened #390 "Remove empty catches in the code"
https://github.com/microsoftgraph/msgraph-sdk-javascript/blob/dev/src/content/BatchRequestContent.ts#L271

[2021-02-06 00:11] #308 closed

[2021-02-06 09:00] Stono opened #391 "Shared state causing non-deterministic behaviour"
# Bug Report
Hi there
I'm really struggling to get to the bottom of this... it looks like there's potentially some shared state behind the scenes causing it.

At a high level, I'm writing a wrapper around the `microsoft-graph` client that does some basic bits for us, but can be instantiated with:

 - clientId and Secret
 - username and password
 - existing bearer token

The test suite runs the sam

[2021-02-06 09:12] Stono commented on #391
Actually,
This appears to be an issued with `node-adal`, as when I create the client with a new cache, its fine:

[code]

[2021-02-06 09:15] #391 closed

[2021-02-07 08:20] nikithauc commented on #359
@clawyq Thanks for bringing this to our attention! This issue will be  addressed in 3.0.0.

[2021-02-07 08:31] nikithauc commented on #359
@clawyq Can you please check if the following works for you -
[code]
using `responseType(ResponseType.RAW)` should fetch the entire response with the headers.

[2021-02-07 09:11] clawyq commented on #359
@nikithauc I was able to retrieve the monitor URL through the steps detailed [here](https://github.com/microsoftgraph/msgraph-sdk-javascript/issues/141). It would be very helpful if there was documentation for this flow with the API.

Also, does the graph client support querying for the progress of the operation? Currently, after obtaining the monitor URL, I will then use axios to get the status o

[2021-02-08 14:22] darrelmiller commented on #384
@MIchaelMainer wrote

I think we will have a use for this in the TypeScript Service Library.  However, I am not convinced that we should change our core library unless there is a non-breaking way to do it.

@nikithauc wrote

Expecting anything specifically in an HTTP response is a broken assumption.  To match our other SDKs, every response from making a call in core should return a RAW response.

[2021-02-09 07:58] nikithauc commented on #359
@clawyq  can you try the following ?
[code]

[2021-02-10 03:56] nikithauc commented on #294
No changes required for now.

[2021-02-10 03:56] #294 closed

[2021-02-10 18:55] siva1545 opened #393 "Support of Audio/Video calls with graph APIs on browser using Angular or JavaScript"
Hello
I am trying to create teams plugin for single page application using Angular.
Have used SDK https://github.com/microsoftgraph/msgraph-sdk-javascript to send/receive text messages.
Now want to add support of audio & video calls.

1. Do you have sample Angular or Javascript code for the same?
2. How audio/video calls are rendering in browser?

I think following graph API links supports the sam

[2021-02-12 00:31] nikithauc commented on #393
@siva1545 Did the samples showing create call , get call , answer call  as in the documentation -> https://docs.microsoft.com/en-us/graph/api/application-post-calls?view=graph-rest-1.0&tabs=http work for you?

[2021-02-12 17:20] siva1545 commented on #393
@nikithauc
Document provided explains how to use the Graph API. Samples provided are request and response not sample code.
It is not addressing my questions

1. I am asking for sample code in Angular/JavaScript consuming those APIs.
2. APIs provided are kind of signaling APIs only (like SIP). Want to know how the actual call voice/video (Like WebRTC) are rendered in web page

For example, I am ref

[2021-02-16 19:09] nikithauc commented on #393
@siva1545  Looks like the call support via Graph API is applicable in scenarios using a bot.
https://github.com/microsoftgraph/microsoft-graph-comms-samples I saw that you closed your issue  here but I recommend reopening this  or opening the same issue for more information.
I also suggest posting this question in StackOverFlow or Microsoft Q & A with Teams, Graph API tags.

[2021-02-18 07:41] nikithauc opened #394 "Use browser field in package.json, remove graph-es-sdk.js file."
https://github.com/defunctzombie/package-browser-field-spec
https://docs.npmjs.com/cli/v7/configuring-npm/package-json#browser

`msgraph-sdk-javascript` is an isomorphic library.

Use the browser field for the following -
1. We currently have two entry files, src/index.ts and src/browser/index.ts.
 - Use the browser field to indicate the browser entry point.
Example -
[code]
- Currently, we have

[2021-02-18 17:15] siva1545 commented on #393
@nikithauc
You mentioned 3 points and I am re-iterating what I am expecting

1. Graph API supports Audio calls only for Bot, but I want to have the same in SPA (Single Page Application) using Angular. Raised the same in this forum as this sdk is meant for Angular
2. I closed the same issue on BOT SDK. As this is related to JavaScript SDK, so I raised here (this issue) and closed BOT SDK issue.
3.

[2021-02-25 16:29] waldekmastykarz opened #395 "What's the recommended way to dynamically request the necessary permissions?"
Say I have a JavaScript app that allows users to show their email, among other things. Ideally, during sign in, we'd ask only the basic access to their profile and wait with requesting permissions for accessing email until they use that portion of the app.

Would something like the following snippet be the recommended way of implementing it or is there a better way?

[code]
[AB#8310](https://micro

[2021-02-25 16:36] baywet commented on #395
Thanks for posting here @waldekmastykarz .
To recap some of the conversation we've had offline, the scopes array reference is [kept all the way down to the moment the token is requested](https://github.com/microsoftgraph/msgraph-sdk-javascript/blob/a26c288b3463c49bf9862e32865bd0beed72753a/src/ImplicitMSALAuthenticationProvider.ts#L93).
So I believe that keeping that reference and changing the cont

[2021-02-25 16:39] baywet commented on #395
[Our documentation](https://docs.microsoft.com/en-us/graph/sdks/create-client?tabs=Javascript) looks outdated since the [provider has been renamed](https://github.com/microsoftgraph/msgraph-sdk-javascript/commit/fe072046f273b7c3dc2d035364de4a7c8b0400fd#diff-47d67d04f0a75dcbb467d04a6c29df69c422e86885f8c41e6b7ce171cd898466) though. CC @nikithauc

[2021-02-26 07:37] nikithauc commented on #395
@waldekmastykarz
Graph Explorer does something similar to your requirement. We can modify and update permissions for different services after login and it works with a single instances of the JS SDK Client.
Something that might help at -
https://github.com/microsoftgraph/microsoft-graph-explorer-v4/blob/20f67242038e4e1ea1b879ff1d2b6b73fcf14d1a/src/app/services/graph-client/msal-service.ts#L122

He

[2021-02-26 09:44] waldekmastykarz commented on #395
Thanks for the pointer @nikithauc. When trying to get the code to work, I came across another issue, that we'd need to sort our first.

I noticed that we show devs two ways to instantiate the Graph client: one that I mentioned above which is in our docs on the JS SDK page, and the other one in the tutorial @ https://docs.microsoft.com/en-us/graph/tutorials/javascript?tutorial-step=3. The main diff

[2021-03-01 04:26] nikithauc commented on #395
@waldekmastykarz

Are you writing a browser application ?

If yes, I suggest using the Authorization Code flow with PKCE. Implicit flow is not recommended anymore.
https://tools.ietf.org/html/draft-ietf-oauth-browser-based-apps-00.

I know of two packages that support PKCE flow -
1. MSAL 2.0 or the MSAL browser.
2. @azure/identity - This is what we will be using and we are planning to be release a

[2021-03-03 12:11] waldekmastykarz commented on #395
Thank you for the additional information @nikithauc. Let me try everything you've shared so far and get back to you if I have any more questions 👍

[2021-03-03 12:11] #395 closed

[2021-03-04 22:23] #359 closed

[2021-03-04 23:37] nikithauc opened #398 "Update Graph URLS list."
Update the list with the canary Graph 'https://canary.graph.microsoft.com/' endpoint and check for any new Graph URLS.
[AB#8449](https://microsoftgraph.visualstudio.com/0985d294-5762-4bc2-a565-161ef349ca3e/_workitems/edit/8449)

[2021-03-08 15:32] kairiruutel opened #399 "Mail folder delta - get endpoint missing skiptoken query parameter"
Requesting mail folder deltas it does not seem to be possible to pass `skiptoken` query parameter.

Endpoint: `/me/mailFolders/delta`
Method: `get`

`skiptoken` is not available from query parameters: https://github.com/microsoftgraph/msgraph-sdk-javascript/blob/dev/docs/QueryParameters.md

https://docs.microsoft.com/en-us/graph/api/mailfolder-delta?view=graph-rest-1.0&tabs=http

Am I missing some

[2021-03-08 17:57] kairiruutel commented on #399
It can be closed, I realised there is `.query()` for adding additional query parameters.
https://github.com/microsoftgraph/msgraph-sdk-javascript/blob/dev/docs/OtherAPIs.md#query

[2021-03-08 17:57] #399 closed

[2021-03-11 10:15] IIrafail opened #400 "Unable to get Graph Explorer API token"
# Bug Report
Unable to get Graph Explorer API token

## Description
Looking at the instructions on the node.js sample page I followed the instructions on how to get the API access token but the `tokenPlease()` function is not defined
[Description of the bug or feature]

**Console Errors:** `tokenPlease() is not defined`

## Steps to Reproduce

1. Go to: developer.microsoft.com/en-us/graph/graph-ex

[2021-03-11 17:30] nikithauc commented on #400
@IIrafail  Thanks for this question!

Once you login to the Graph Explorer site, you should be able to find the 'Access Token' tab option -

![image](https://user-images.githubusercontent.com/23219007/110828860-57f91880-824c-11eb-9530-6f85aa3ded93.png)

You can copy paste the access token from here.

Please let me know if you have more questions.

[2021-03-11 18:35] IIrafail commented on #400
@nikithauc  Thank you for your reply. When I try it there is no access token, the copy button doesn't work either. Is there any setting I need to enable? Also when I click on the curly brackets button I get null as the access token.
![grph2](https://user-images.githubusercontent.com/71592772/110836817-2b271e80-82a9-11eb-8190-fbbb786f19de.png)

![grph](https://user-images.githubusercontent.com/7159

[2021-03-15 17:28] nikithauc opened #402 "Deprecate ImplicitMSALAuthenticationProvider"
[AB#8604](https://microsoftgraph.visualstudio.com/0985d294-5762-4bc2-a565-161ef349ca3e/_workitems/edit/8604)

[2021-03-17 02:48] #394 closed

[2021-03-17 02:48] #402 closed

[2021-03-20 23:42] codeRuth opened #404 "Getting a 'UnableToDeserializePostBody' when creating a recurring event"
# Bug Report

## Prerequisites

-   [x] Can you reproduce the problem?
-   [x] Are you running the latest version?
-   [x] Are you reporting to the correct repository?
-   [x] Did you perform a cursory search?

## Description

When creating a recurring calendar event, the graph client throws a ` {"code":"UnableToDeserializePostBody","message":"were unable to deserialize "}` error. I tried creating

[2021-03-22 18:17] nikithauc commented on #404
Hello @codeRuth. Thank you for getting in touch!

I was not able to validate the json in the POST payload that you mentioned in the issue.
[code]
Can you please verify that and provide a valid json payload which is producing the same `UnableToDeserializePostBody` error?

The following is a small sample that I tried  and it worked -
[code]

Please check the following link for the examples of creati

[2021-03-23 09:07] SLdragon opened #405 "Question: What's the reason to ask user to import "isomorphic-fetch" himself instead of package it into the SDK"
From the [wiki](https://github.com/microsoftgraph/msgraph-sdk-javascript/wiki/Migration-from-1.x.x-to-2.x.x) it says:
"This gives more space for the users of the library to take actions regarding polyfills according to their need".

Are there some other reasons for this?
Seems this is not very common for node js developers to import a dependency library before using a package.
[AB#8707](https://mi

[2021-03-23 17:35] codeRuth commented on #404
Hello @nikithauc, fixed the issue, it had got to do with the date format, which was not very clear in the documentation. Thank You.

[2021-03-23 17:35] #404 closed

[2021-03-23 21:47] nikithauc commented on #405
In the past our library has included polyfills for fetch and promise. However, doing so adds to the size of our library and many of our customers do not need these polyfills due to their target platform or the fact they already include them in their application. We have now removed the polyfills for fetch and promise. Developers who do still need the polyfills will need to include them explicitly.

[2021-03-25 03:26] SLdragon commented on #405
OK, thank you very much for your explanation!

[2021-03-25 15:11] mickog opened #406 "Secured API gateway endpoint as webhook"
Implementing a service that will get notified when a mailbox receives an email. Created the subscription fine but it will only receive mails when the AWS API gateway created is set to regional on AWS making it public.

This seems odd to me that there is no way to configure the webhook with oauth details rather than leaving the api open.

Can't see anything in the docs regarding this could you poin

[2021-03-25 15:33] baywet commented on #406
Hi @mickog
Thanks for reaching out.
This is what the [client state property](https://docs.microsoft.com/en-us/graph/api/resources/subscription?view=graph-rest-1.0) of the subscription is for. It's a shared secret between the client application and Microsoft Graph that allows the client application to know whether a specific call comes from Microsoft Graph.
Alternatively, if the resource [supports

[2021-03-25 15:48] mickog commented on #406
I get what you are saying about the clientState property this  would allow our service to verify that the request is coming from Graph, the problem we are having is that we have to leave our API gateway open with no security on it or else the webhook notification won't reach our AWS lambda to verify the clientState. This is a security concern for us leaving the API gateway open, it means a rogue a

[2021-03-25 15:57] mickog commented on #406
Also curious is the clientState property just used for verifying subscriptions or is it also used on the webhook notification, say when we get a mail and our service gets notified then will the clientState be part of that request also?
Thanks

[2021-03-25 16:48] baywet commented on #406
The service doesn't support delivering notifications over authenticated endpoints today (through JWT bearer tokens or other means). This is something you can request [on uservoice](https://microsoftgraph.uservoice.com).
Yes to the question "is the client state part of the notification payload?" as you can see [in the docs](https://docs.microsoft.com/en-us/graph/webhooks#change-notification-example

[2021-03-25 16:52] mickog commented on #406
Yea I'm pretty sure we can do something like that, thats exactly what I was looking for thanks. Question.. does that list of IP addresses ever change or will we be safe hardcoding them, or is there an API that we would need to check if they were updated or anything?
Thanks

[2021-03-25 17:37] markfields opened #407 "Add a getDelta function to GraphRequest"
# Feature Request

## Is your feature request related to a problem? Please describe

Working with a `/delta` endpoint (like `me/calendarView/delta` in my case) is kind of painful, unless I'm missing something. e.g. here's how I'm extracting the `skiptoken`:

[code]

I have to do the same for `deltatoken`, then check if either is undefined and then proceed accordingly.

## Describe the solution you

[2021-03-25 17:45] markfields commented on #399
I actually do see a `skipToken` member on `GraphRequest`, but no `deltaToken` member (I'm on v `2.2.1`). So if you're going to have one, why not both?

Also it looks like the documentation is missing `$skiptoken`:  https://github.com/microsoftgraph/msgraph-sdk-javascript/blob/dev/docs/QueryParameters.md

cc @nikithauc (I know it's not nice to comment on closed issues...)

[2021-03-25 17:46] markfields commented on #399
btw - while thinking about this I opened #407 (and proposal draft PR #408) which would make these not really necessary in most cases

[2021-03-25 18:36] baywet commented on #406
It does change, but not frequently. However back when I was a PM for that feature (webhooks), there was an ongoing effort to have those IPs surfaced in the [IP web service](https://docs.microsoft.com/en-us/microsoft-365/enterprise/microsoft-365-ip-web-service). I don't see those in right now. Maybe this is something that @Jumaodhiss can follow up on and make sure those IPs get added to the endpoin

[2021-03-25 19:07] mickog commented on #406
That's interesting, when you say not frequently would you say every few months or years or its just hard to say?

[2021-03-25 19:49] baywet commented on #406
hard to say, it depends on deployment models, network configurations, how the service groves, and a multitude of other factors. Some of which are in control of the product team, some which are not. Obviously the product team tries to minimize the number of changes as much as possible to avoid disrupting customers.

[2021-03-25 22:34] nikithauc commented on #407
@markfields  Thank you for the contribution! I will review the PR and the approaches proposed in this issue and get back to you.

[2021-03-25 23:02] nikithauc commented on #393
The communications APIs are not designed for client side support.  They drive server to server scenarios (recording, voice response, voice mail, etc...).  There is no way to do client web app integration using the communications APIs.

More information and requirement gathering is needed to understand if and how `server to server` support can be provided by the SDKs.

We currently have this issue

[2021-03-26 04:37] nikithauc commented on #339
#402

[2021-03-26 04:37] #339 closed

[2021-03-26 08:23] mickog commented on #406
Thanks for providing this information so quickly. I think we will wait to hear from your colleague regarding the IPs being available via the API as our design will really hinge on that, there is no other way for us to get notified on an IP being changed other than we would stop receiving our events?

[2021-03-26 10:29] mickog commented on #406
https://microsoftgraph.uservoice.com/ seems to be not active anymore, also looking at this issue here https://github.com/microsoftgraph/microsoft-graph-docs/issues/4807 it looks like clientState is probably going to be removed, does this mean there will be something else taking its place?

[2021-03-26 12:15] baywet commented on #406
The deactivation is concerning, I reached out internally to the owners of the website to know more about it.

I don't thing the conclusion of that issue is the client state is going to be removed.
As you can see in [this PR](https://github.com/microsoftgraph/microsoft-graph-docs/pull/7012), the client state value is simply not returned when listing subscriptions or getting the subscription from an

[2021-03-26 12:36] baywet commented on #406
The platform has been deactivated due to internal decisions. The best thing to do for suggestions at the moment is to post [on the dedicated Q&A topic](https://docs.microsoft.com/en-us/answers/questions/topics/single/128333.html)

[2021-03-29 01:31] nikithauc commented on #296
@plamber. It is possible can a request currently when using the MS Graph JS SDK.

References to cancel a fetch request -
You can use the interface [FetchOptions](https://github.com/microsoftgraph/msgraph-sdk-javascript/blob/dev/src/IFetchOptions.ts).
https://developer.mozilla.org/en-US/docs/Web/API/AbortController
https://github.com/node-fetch/node-fetch#request-cancellation-with-abortsignal

Exam

[2021-03-29 02:16] nikithauc commented on #405
@SLdragon  Can I close this issue ?Do you have more questions or any comments?

[2021-03-29 10:03] mickog commented on #406
@baywet thanks for that, as far as we can see update subscription only allows us to update the expiry time, if we wanted to rotate the client state property rather than reuse the same one for long periods of time does that mean we need to delete and recreate our subscriptions rather than update them or is there a way to do this?
Thanks

[2021-03-29 12:36] baywet commented on #406
I'm not 100% sure but I believe you should be able to update the client state property to rotate it as well. This was a while ago now though and I can't remember for sure. Maybe @Jumaodhiss can confirm.

[2021-03-29 13:01] Jumaodhiss commented on #406
@mickog you can not update the expiry date together with the clientState property. If you want to rotate the clientState, you need to delete the existing subscription and create a new subscription.

[2021-03-29 13:09] Jumaodhiss commented on #406
We are also working on delivering change notification using user defined content types.

e.g: When creating a subscription you can indicate a notificationContentType property. This will support several scenarios including

1. application/jwt for jwt formats
2. application/json - the default format
3. application/xml  etc.

However this will be dependent on the resource eg

Below is a sample subscr

[2021-03-29 13:15] mickog commented on #406
OK thanks for that, any idea of when that new functionality will be available?

Also just wondering in the list of IP addresses listed for change notification https://docs.microsoft.com/en-us/microsoft-365/enterprise/additional-office365-ip-addresses-and-urls?view=o365-worldwide Do they all fall under the same domain, I see the first in the list is  *.cloudapp.net I am wondering if we whitelisted

[2021-03-29 13:34] Jumaodhiss commented on #406
@mickog we are already testing this feature with Identity Instant Revocation. I am not 100% sure on when we will roll out the feature in other workloads eg Exchange in you case but I will confirm the estimates today and share here.

For the IPs, they are just clustered based on
*.cloudapp.net, Public Cloud:, Microsoft Cloud for US Government:, Microsoft Cloud Germany: etc. But all the IPs are unde

[2021-03-29 13:38] mickog commented on #406
So we should be able to just deny all IP addresses except ones that are part of the *.microsoft.com domain and that would add a good layer of security for us?

[2021-03-29 13:40] Jumaodhiss commented on #406
The domain varies based on a few checks
Its safer to whitelist the IP list instead of denying anything outside *.microsoft.com

[2021-03-29 13:43] Jumaodhiss commented on #406
Yes that's a good security layer but Its better to whitelist the provided IP list and block any other traffic.

[2021-03-29 13:45] mickog commented on #406
Yea thats what we were originally thinking but there is the fear that the IP addresses will change and we will stop receiving notifications? Or do you know is there a way to dynamically retrieve the IP addresses incase of change?
Thanks

[2021-03-29 13:49] Jumaodhiss commented on #406
I don't think there is a way to dynamically fetch the IPs at the moment.

[2021-03-29 13:55] Jumaodhiss commented on #406
You can also explore getting the notifications delivered through Azure event hubs. That way you dont need a publicly available notificationUrl. follow https://docs.microsoft.com/en-us/graph/change-notifications-delivery for more info

[2021-03-29 14:03] mickog commented on #406
Thanks that looks interesting, the link mentions the feature is currently in preview, does this mean it is available or might become unavailable in the future?

[2021-03-29 14:09] Jumaodhiss commented on #406
Thanks @mickog. This feature is available right now. We are in the process of announcing it for General Availability this Quarter.

[2021-03-29 23:54] #296 closed

[2021-03-30 15:02] mickog commented on #406
@Jumaodhiss Just to confirm did we say that all the domains would be part of *.microsoft.com, you mentioned the domain varies based on a few checks, is there a list of domains we could use or would we be safe with that?
Thanks

[2021-03-30 15:09] Jumaodhiss commented on #406
@mickog. Let me find this out about the domains and let you know. However, its safe to only allow the enlisted IPs.

[2021-03-30 15:21] mickog commented on #406
Yea we are just afraid of having any issues if the IP address changes, that would be great if we could find out about the domains, thanks for the quick response!

[2021-03-31 08:16] mickog commented on #406
Actually just realising on further investigation, it is unlikely we will be able to restrict to domain microsoft.com, we would need to use CORS for that which would just restrict traffic coming from browsers.. What we noticed when looking at our last few requests were coming from the IP address 13.89.104.147, if we went with the route of locking down to IP would we just restrict to this address or

[2021-03-31 21:17] #380 closed

[2021-04-01 02:46] SLdragon commented on #405
Sure, thank you!

[2021-04-01 07:00] #398 closed

[2021-04-01 07:03] #320 closed

[2021-04-01 07:03] #305 closed

[2021-04-01 07:34] naugtur commented on #320
I got busy building user value. Is inactivity the reason this is now closed?
There's still a plan to make this happen. If you're interested in getting that code, we want to share. If not, we can keep it private.

[2021-04-01 11:05] #405 closed

[2021-04-07 07:35] nikithauc commented on #232
We are currently maintaining both https://github.com/microsoftgraph/msgraph-typescript-typings and https://www.npmjs.com/package/@types/microsoft-graph. Users can chose any source for downloading the typings.

[2021-04-07 07:35] #232 closed

[2021-04-07 07:47] nikithauc commented on #324
Any fetch polyfill can be used with the Microsoft Graph Client JS SDK and it is not specific to isomorphic-fetch.

@askdesigners  what do you suggest as an alternative to the monkey patching?

[2021-04-07 12:49] baywet commented on #324
@nikithauc since my original post isomorphic fetch has been [updated to patch the security issue](https://github.com/matthew-andrews/isomorphic-fetch/issues/192). However, this dependency is still pretty much inactive and we should consider an alternative.

Additionally, I can see that [you have updated it](https://github.com/microsoftgraph/msgraph-sdk-javascript/blob/a2b6dea60f6ba27caea8a5db55e32

[2021-04-07 13:10] matt-tyler commented on #324
I feel like it would be more ergonomic to add an optional field to the configuration object that meets the interface of the fetch API, personally.

[2021-04-07 18:24] nikithauc commented on #324
@matt-tyler
There is a way to set  the [fetch options](https://github.com/microsoftgraph/msgraph-sdk-javascript/blob/dev/src/IFetchOptions.ts) during the [client instantiation](https://github.com/microsoftgraph/msgraph-sdk-javascript/blob/dev/src/IClientOptions.ts#L27)

Can you elaborate on the capabilities that you feel should be present to access the fetch API?

[2021-04-08 07:50] waldekmastykarz opened #417 "Add support for caching in the SDK"
# Feature Request

## Is your feature request related to a problem? Please describe

Say you're building an app connected to Microsoft 365 where you want to show your colleagues, upcoming meetings and recent files. All these objects have information about users on them. If for each person you wanted to show their name, photo and presence, you might end up requesting the same data from Graph multip

[2021-04-08 09:30] andrewconnell commented on #417
Links in the issue are 404'ing.

[2021-04-08 09:34] waldekmastykarz commented on #417
Sorry, my bad. Pointed to a private repo. Link updated.

[2021-04-08 12:36] darrelmiller commented on #417
Yes, absolutely.  This would be awesome, and has been on our backlog for way too long.

The default behavior should respect the request and response Cache-Control header and can fall back to heuristics for expiry times if there is no Cache-Control header.  I would like the caching middleware to be in a position where services can define the default expiry times of resources and clients can overrid

[2021-04-08 13:18] waldekmastykarz commented on #417
Awesome suggestion! I haven't touched the cache-control header at all in my POC, but it would be great to have in there like you mentioned @darrelmiller

[2021-04-08 14:04] andrewconnell commented on #417
_pontificating..._ 🤔

- How would that work when using the JS SDK server-side (Node.js) when `window === undefined`?
- While I get this discussion is happening in the JS SDK, any consideration to others? Or are we seeing a divergence of SDK capabilities?  🤢
- Is this more of a pattern the SDK(s) will offer developers to implement if they choose so?

[2021-04-08 14:18] baywet commented on #417
1. We should define an abstraction layer, and have some kind of factory that provides the session storage implementation when running in a browser or some kind of in memory hashmap for backend/native apps.
2. I don't see any reason for the Java/Dotnet/... SDKs not to have it. Especially considering such languages can be used for native apps (android/xamarin/...), front end apps (blazor), or low co

[2021-04-09 07:35] nikithauc commented on #407
@markfields
FYI, the PageIterator task has a [getDeltaLink API](https://github.com/microsoftgraph/msgraph-sdk-javascript/blob/c239b7cd652d636648445139b6b5df1523640916/src/tasks/PageIterator.ts#L169) which gives access to the delta link when working with a collection of items.

The requirement you stated in this issue expects additional capabilities such as a
1. getDeltaToken()
2. getSkipToken()
wh

[2021-04-09 15:22] plamber opened #418 "What is the proper way to upload files larger than 4MB using the JavaScript SDK on SharePoint Online libraries?"
I was looking for a way to upload a file larger than 4MB using this JavaScript SDK. Unfortunately, I only found the OneDriveLargeFileUploadTask classes to perform the activity on OneDrive for Business.

Do you have some recommendations how to perform a similar operation for SharePoint Online libraries?

Thank you for your feedback,
patrick
[AB#8915](https://microsoftgraph.visualstudio.com/0985d294

[2021-04-09 16:26] MIchaelMainer commented on #407
We shouldn't return just the deltatoken or skiptoken. You still have to then build the resource path. We should return deltalink and nextlink without the **host** + **endpoint** part of the URL. This way, I can do `client.api(deltalink).get()`.

[2021-04-09 21:13] darrelmiller commented on #418
Sorry for the confusion.  OneDriveLargeUploadTask should work for both OneDrive personal and OneDrive for Business which is a SharePoint library.  Despite it's name, it works for both because Microsoft Graph expose Drives and Files in a consistent way, regardless of where they are stored.

[2021-04-10 00:41] darrelmiller commented on #417
@baywet   Creating an abstraction layer for storage is something we should do for all language implementations.  Sometimes an in-memory cache will be appropriate, other times a persistent cache in some secure storage would be a better option.   In the case of a web farm, you may even have a distributed cache.  I implemented this in the .NET version I did but having to implement a cache that "prope

[2021-04-10 02:52] plamber commented on #418
Hello @darrelmiller,
Thank you very much for clarifying. Is there somewhere an example that shows how to upload a file to a SharePoint library and how to pass the current SharePoint folder by using the driveItem Id of the folder? Unfortunately we weren't able to successfully execute an upload with it.

Thank you,
Patrick

[2021-04-10 02:54] darrelmiller commented on #418
@plamber We will investigate and provide you an example.  Could you provide details of the error you received?

[2021-04-10 03:15] plamber commented on #418
Hi @darrelmiller,
I am getting this exception:

[code]

I am using an administrative account without assigned license and no OneDrive for Business site. I am using the code below to upload a file to a SharePoint Online site.

The folder ID is the ID of the folder I am currently in. I got it from a DriveItem property. In your documentation under [this link](https://docs.microsoft.com/en-us/graph/sd

[2021-04-10 03:24] darrelmiller commented on #418
Hey Patrick,

Thanks for the details.  I will need to dig in a little to see what is expected in that path property.  I agree that the relative path from the root doesn't seem like enough information.  The details about how the HTTP API works are here https://docs.microsoft.com/en-us/graph/api/driveitem-createuploadsession?view=graph-rest-beta

Considering you are getting a 403, I wonder whether y

[2021-04-10 03:42] plamber commented on #418
Hi @darrelmiller,
I can exclude permission issues because I am able to perform the upload operation using this code and a file smaller than 4MB without issues:

[code]

[2021-04-10 03:49] plamber commented on #418
I tried to modify the code above using this code

[code]

I was hoping to make it work with a path that works with the standard "PUT" operation `/sites/${site.id}/drive/items/${folderId}:/${fileName}:/content` but received this error.

[code]

My hope is to be able to pass a path that is unique with as few parameters possible considering that I am starting from the Folder DriveItem information

[2021-04-10 10:35] fabienpatou opened #419 "Outlook Event : filtering on lastModifiedDateTime is failing"
Hi,

I'm using latest version of the Graph SDK on a Node environment (on Firebase Cloud Functions).

I need to retrieve all Outlook Events of a user on some secondary calendar, filtered on the lastModifiedDateTime Event attribute.

<img width="532" alt="image" src="https://user-images.githubusercontent.com/42865942/114266830-c0c4e380-99f8-11eb-9df6-7cbf18031eaf.png">

These calls always fail with

[2021-04-10 10:41] fabienpatou opened #420 "Subscriptions : change notifications that include resource data for Outlook Events"
Hi,

This is about : https://docs.microsoft.com/fr-fr/graph/webhooks-with-resource-data

When creating a subscription on Microsoft Graph, we can get change notifications that contain resource data for some objects (such as Teams chats, as documented).

Do you plan on supporting Outlook Events on MS Graph subscriptions ?

The old (deprecated) Outlook REST API 2.0 supports this feature.

Thanks
[AB#

[2021-04-12 17:43] nikithauc commented on #419
@fabienpatou  Thank you for reporting this issue!
Looks like there is an issue in the API with filtering on basis of the lastModifiedDateTime.
https://github.com/microsoftgraph/microsoft-graph-docs/issues/4000.

I will update on this as and when I find more about this.

[2021-04-12 17:49] fabienpatou commented on #419
@nikithauc the issue you're referring to is not describing the exact same behavior.

In my case, it does not return "0 result", but crashes with an "invalid filter clause" error message.

[2021-04-12 18:02] nikithauc commented on #419
@fabianwilliams  I got the 'invalid filter clause' error too when trying this -> https://graph.microsoft.com/v1.0/me/events?$filter=lastModifiedDateTime gt '2020-01-01T12:00:00Z'

The filter query works on other properties such as startTime. So I suspect that something is wrong with 'lastModifiedDateTime' field filtering and I added a similar issue for reference as it is also related to 'lastModif

[2021-04-12 18:49] darrelmiller commented on #420
Outlook Events do support regular webhooks and you can use delta queries to get the full event data related to events that have changed. https://docs.microsoft.com/en-us/graph/api/resources/webhooks?view=graph-rest-1.0
There is ongoing work to enable rich notifications for other parts of Microsoft Graph, but I don't have details around the timelines.

[2021-04-12 19:28] fabienpatou commented on #420
I understand that you can't provide some ETA on this specific feature.

[2021-04-12 20:30] vprasanth opened #421 "How is the .search query suppose to work?"
According to https://github.com/microsoftgraph/msgraph-sdk-javascript/blob/dev/docs/QueryParameters.md I am supposed to put a string into this function, but what field is this searching on?

For example, what field is is used to match `somestring`:

[code]

Perhaps the docs can be updated.
[AB#8943](https://microsoftgraph.visualstudio.com/0985d294-5762-4bc2-a565-161ef349ca3e/_workitems/edit/8943)

[2021-04-13 08:17] fabienpatou commented on #420
@darrelmiller I failed back to the Webhooks + Delta queries method. This is not working for my use case.

<img width="655" alt="image" src="https://user-images.githubusercontent.com/42865942/114519797-0a077400-9c41-11eb-9ac2-6e5df161abba.png">

--->  GraphError: Unsupported request: Change tracking is not supported against 'microsoft.graph.event'.

The documentation is stating that Delta queries o

[2021-04-13 09:09] alexrecuenco commented on #324
Good afternoon,

I am with @matt-tyler. I may be misunderstanding the issue, but, I believe

1. This whole application currently does not compile without the "dom" library, which should be avoided, you can import the fetch types from somewhere else alone without importing all the declarations from the dom. see ( https://github.com/microsoft/TypeScript/issues/33901 )
2. Fetch as a global object as

[2021-04-13 12:26] baywet commented on #420
Salut Fabien,
Replace `events` by `calendarView` in the path, it should then work.

[2021-04-13 17:58] zengin commented on #419
@nikithauc `https://graph.microsoft.com/v1.0/me/events?$filter=lastModifiedDateTime gt 2020-01-01T12:00:00Z` works. Note the difference in quotes. I don't see `startTime` defined on `event` object.

[2021-04-13 18:24] nikithauc commented on #419
Thanks @zengin! Looks like the use of quotes is not uniform.

https://docs.microsoft.com/en-us/graph/query-parameters#filter-parameter
I am trying to find the documentation for filtering based on lastModifiedDateTime that I was referring yesterday.

@fabienpatou  can you try replacing `lastModifiedDateTime/dateTime`  with `lastModifiedDateTime` in the query. Example - /dateTime?

[2021-04-13 22:28] nikithauc commented on #324
@alexrecuenco Thanks a lot for this feedback! I appreciate this input as it helps in improving our library!

I will get in touch with you again during planning for the design changes of this task and would like to learn more from you.

[2021-04-14 08:22] piotrlech commented on #53
Ok, but how to set proxy for msalClient.getAuthCodeUrl(urlParameters) ?

[2021-04-14 10:31] alexrecuenco commented on #324
@nikithauc Thank you for all the effort. Excellent tools!

[2021-04-14 16:26] diberry opened #422 "Can I create a service principal with is SDK?"
[AB#8985](https://microsoftgraph.visualstudio.com/0985d294-5762-4bc2-a565-161ef349ca3e/_workitems/edit/8985)

[2021-04-15 06:37] kafka-yu opened #423 "the `timeout` property of the fetchOptions is not working?"
# Bug Report

## Prerequisites
I use the below codes to init the client in my React app, NOTE the "timeout" value,
[code]

While when I calling the MS Graph API via the client, the timeout of the fetch action does not work.

## Steps to Reproduce
1. Init the client with the above code
2. Turn off the network connection
3. Invoke the API request via the above client
4. The fetch request is in "Pend

[2021-04-15 16:45] ramya-rao-a opened #424 "No reference documentation found in docs.microsoft.com/javascript/api"
While discussing how to create service principals in https://github.com/Azure/azure-sdk-for-js/issues/14833, @diberry found that we don't have any reference documentation in https://docs.microsoft.com/javascript/api for the package `@microsoft/microsoft-graph-client`. I couldnt find any either.

I would have expected these reference docs to be at https://docs.microsoft.com/en-us/javascript/api/@mi

[2021-04-15 20:46] nikithauc commented on #421
@vprasanth  Thank you for your question!

1. `$search="someValue"` <- This will search some default search properties.

GET https://graph.microsoft.com/v1.0/me/messages?$search="pizza"

Refer - https://docs.microsoft.com/en-us/graph/query-parameters#using-search-on-message-collections
2. `$search="propertyName:value"` <- This will be used in case a property has search enabled and is not default.
E

[2021-04-15 21:01] nikithauc commented on #422
@diberry Thank you for your question!

Have you tried this -
[code]
https://docs.microsoft.com/en-us/graph/api/serviceprincipal-post-serviceprincipals?view=graph-rest-1.0&tabs=javascript

[2021-04-15 21:05] nikithauc commented on #424
Thank you @ramya-rao-a for bringing up this point!

I will have to learn more about this issue and I will get back to you.

[2021-04-15 21:38] diberry commented on #422
@nikithauc I hoped to use the SDK. Is there a estimated timeline for delivering the Service Principal with SDK?

[2021-04-15 22:17] nikithauc commented on #422
@diberry  The JS SDK does not have a request builder or the service library at this time. Is that what you are looking for?

[2021-04-16 00:18] vprasanth commented on #421
I don't think this is working as expected, I was trying to search on a supported field however kept getting an error regarding an unknown character, which was saying the colon (:) was unknown. So I couldn't use this method.

eg. `.search("displayName:somevalue")` didn't work. I tried wrapping the whole thing in quotes, as suggested in  #302 but that didn't work either. I also tried escaping the en

[2021-04-16 18:10] nikithauc commented on #423
@kafka-yu  Thank you for the feedback!

`FetchOptions` gets the `timeout` option by extending an interface has some options that are in `node-fetch`
[code]

https://www.npmjs.com/package/node-fetch

Can you please try using an AbortController to cancel the request on timeout?
Example -
[code]

[2021-04-16 19:11] zachauten commented on #405
Hi @nikithauc!

I have a question about the explanation you gave, hopefully it's okay if I post it here.

In `Client.ts`, it looks like the first thing the constructor does is call `validatePolyFilling`, which throws an exception if a fetch polyfill isn't installed.

When you say it's optional, do you mean that the graph sdk needs _a_ polyfill, but it doesn't matter which one, or that you should b

[2021-04-19 15:34] nikithauc commented on #405
@zachauten Thank you for your question!

When I say that use of polyfill is optional it means
- You can chose any polyfill package that you need.
- You don't need to import a polyfill when working with a browser which has fetch API defined.

Please let me know if you have more questions.

[2021-04-19 17:27] nikithauc commented on #421
@vprasanth

Can you share the full query that you are trying? Which entity are you trying to search?

I tried the following and this worked for me.

[code]

and

[code]

I will update the documentation to point the need for including the quotes in the search query.

[2021-04-19 17:51] #423 closed

[2021-04-19 17:55] nikithauc commented on #418
@plamber  for the delay in the reply. Were you able to successfully upload to SharePoint?

[2021-04-19 17:58] plamber commented on #418
Hi @nikithauc ,
Unfortunately not with large files and the sdk.

Br

[2021-04-19 18:05] zachauten commented on #405
@nikithauc Thanks!

[2021-04-19 18:32] sebastienlevert opened #426 "ChaosHandler send a Retry-After of 300 seconds"
# Bug Report

## Prerequisites

-   [x] Can you reproduce the problem?
-   [x] Are you running the latest version?
-   [x] Are you reporting to the correct repository?
-   [x] Did you perform a cursory search?

## Description

When using the Chaos Handler in Javascript, it feels like the next retry never happens because the Retry-After is set at 300 seconds. Making it 3 seconds (like on the C# SDK

[2021-04-19 19:07] sebastienlevert opened #427 "ChaosHandler cannot be used in interactive scenarios"
# Bug Report

## Prerequisites

-   [x] Can you reproduce the problem?
-   [x] Are you running the latest version?
-   [x] Are you reporting to the correct repository?
-   [x] Did you perform a cursory search?

## Description

When using ChaosHandler, it should work in interactive scenarios (not only Unit Tests). Right now, if it fails once, it will always fail, which creates a wrong experience in

[2021-04-19 20:46] nikithauc commented on #418
@plamber
Can you try if the following would work for you?

[code]

[2021-04-20 00:10] vprasanth commented on #421
Hey, thanks for looking into this. My queries were similar to yours, the only difference was I was hitting `/servicePrincipals`. I ended up using a different library, so can't reproduce right now, but can try this weekend and get back to you.

Btw, requiring the string to be wrapped seems redundant, and since the other query methods don't require it also feels unintuitive from an API standpoint. I

[2021-04-20 03:33] plamber commented on #418
Hi,
I will give it a try and come back to you.

br,
Patrick

[2021-04-20 18:51] nikithauc commented on #421
@vprasanth I agree that the framing of the parameters should be handled in  a better manner. Marking this issue as a bug.

[2021-04-20 22:16] #427 closed

[2021-04-20 22:17] #426 closed

[2021-04-21 10:54] mdybich opened #431 "3.0.0 version - ETA of release"
We are waiting for the stream support for the Large File Upload Task (added as a part of this PR https://github.com/microsoftgraph/msgraph-sdk-javascript/pull/401) which seems to be included in the upcoming 3.0.0 version.

Do you have any ETA when the 3.0.0 version will be officially released and ready to use?
[AB#9100](https://microsoftgraph.visualstudio.com/0985d294-5762-4bc2-a565-161ef349ca3e/_

[2021-04-22 06:15] supersime opened #433 "Case sensitivity in the batch endpoint causes error: Error: Request Id <id> has to be unique in a batch"
We are sending `POST` requests to the `/$batch` endpoint of the graph to retrieve multiple calendar events. A request looks like this:

[code]

Notice that the "url" and "id" in the two events are **almost** identical... the 5th last character is "g" in the first request, and "G" in the second request. The "id" we pass in, is the id of the outlook calendar event.

The graph sdk responds with the f

[2021-04-22 18:33] nikithauc commented on #431
@mdybich 3.0.0 will be released by the end of  May, 2021 at the latest.

[2021-04-22 19:25] baywet opened #438 "delete orphan package-lock.json"
https://github.com/microsoftgraph/msgraph-sdk-javascript/blob/9441382f7963fa782cd30a103af2632d7585e0a0/test/common/content/package-lock.json#L1

@nikithauc this package-lock.json is orphaned as far as I can tell. And it contains references to pacakges that have security vulnerability triggering the dependabot security alerts.
Can you please:
1. delete this file if it's not needed anymore (or move

[2021-04-22 21:24] #438 closed

[2021-04-26 09:24] mdybich commented on #431
Ok. Thank you for your answer.

[2021-04-26 09:24] #431 closed

[2021-04-27 20:45] nikithauc commented on #431
@mdybich Here is a preview of the 3.0.0 version -
https://www.npmjs.com/package/@microsoft/microsoft-graph-client/v/3.0.0-Preview.1

https://github.com/microsoftgraph/msgraph-sdk-javascript/blob/dev/changelogs/v3-upgrade-guide.md

[2021-04-28 21:08] nikithauc opened #444 "Try out the preview of 3.0.0 version of the JS client library! 📢 📢"
[@microsoft/microsoft-graph-client 3.0.0-Preview.1](https://www.npmjs.com/package/@microsoft/microsoft-graph-client/v/3.0.0-Preview.1) is released!!

3.0.0 version introduces the `TokenCredentialAuthenticationProvider` enabling the use of `@azure/identity` `credential classes` for authentication purposes.
The `TokenCredentialAuthenticationProvider` enables support for multiple authentication flows

[2021-04-29 09:58] plamber commented on #418
Hi @nikithauc,
thank you. Your example helped. I would like to share a small variation of the example. Please note that we had to add ":" after the ItemId.

[code]

It works fine. Thank you for that.

I am going to close this issue.

I would just ask you if you could consider updating [this page](https://docs.microsoft.com/en-us/graph/sdks/large-file-upload?tabs=typescript) with a SharePoint examp

[2021-04-29 09:58] #418 closed

[2021-04-29 22:38] nikithauc commented on #320
@naugtur sorry I missed you last comment.
This issue was closed as the PR was merged and is awaiting to be released.

The  support for  Node.js stream large file upload will be released in 3.0.0 version of the JS SDK.

@naugtur @fabiofenoglio I would appreciate if you can try the  [3.0.0- Preview.1](https://www.npmjs.com/package/@microsoft/microsoft-graph-client/v/3.0.0-Preview.1) and provide a fe

[2021-04-29 23:26] nmetulev opened #445 "Create a setter for baseUri"
# Feature Request

Add the ability to set the baseUri of the graph client after the client has been initialized. This will make it easier to change the `baseUri` of the graph client in scenarios where the developer might not own the code that initializes the graph client (such as the Microsoft Graph Toolkit)

## Describe the solution you'd like

[code]

## Additional context

Request coming out of

[2021-04-29 23:30] nikithauc commented on #445
@nmetulev  Thank you for this feature request!

Adding to the description of this issue, we should discuss providing ways to modify the other client configs after the client is initialized.

[2021-04-30 00:30] nmetulev commented on #445
Agree 💯

[2021-04-30 14:44] jgburet commented on #324
Since this won't make its way to 3.0.0, could we have an example of how to use `fetchOptions`?
I tried to use `axios` (using https://github.com/lifeomic/axios-fetch) instead but I can't get that (or anything else) to work.

[2021-05-01 06:14] jeroenvdmeer commented on #444
Thanks for already updating the documentation! This allowed me to learn about `TokenCredentialAuthenticationProvider` while I'm currently looking into implementing the Microsoft Graph JavaScript Client Library. However, as being new to this library, it did took me half an hour to find this issue and realize I needed the `@3.0.0-Preview.1` version of the npm package instead of `@latest`. Maybe it'd

[2021-05-01 06:53] nikithauc commented on #444
Thank you @jeroenvdmeer !

Appreciate your feedback and will work on fixing the links.

[2021-05-10 14:13] kairiruutel opened #449 "LargeFileUploadTask documentation improvements for Client initialization"
Would be useful to have an example in documentation about how to implement the LargeFileUploadTask with correct Client initialisation in regard of authorisation. Currently it is not clear that a new Client has to be initialised with authtoken from the UploadSession response to prevent 401 error.

Adding code example how I got it working:

[code]

[AB#9349](https://microsoftgraph.visualstudio.com/0

[2021-05-11 00:22] nikithauc commented on #419
Closing this because of inactivity. @fabienpatou  please open another issue if this problem persists or you can comment in this chain.

[2021-05-11 00:22] #419 closed

[2021-05-11 02:41] andrew-hwahin commented on #444
Hi @nikithauc can I use version 3.0.0 on the front-end React client? Or can it only run on backend Node.js?

[2021-05-11 02:54] nikithauc commented on #444
@andrew-hwahin you can use the library with your front-end React application. The library is isomorphic :)

[2021-05-11 03:08] andrew-hwahin opened #451 "Invalid x5t claim"
# Bug Report

## Prerequisites

-   [x] Can you reproduce the problem?
-   [x] Are you running the latest version?
-   [x] Are you reporting to the correct repository?
-   [x] Did you perform a cursory search?

For more information, see the `CONTRIBUTING` guide.

## Description

This is my first time trying to integrate Microsoft Graph API into my web app.
I received `Invalid x5t claim.` while usi

[2021-05-11 06:01] andrew-hwahin commented on #451
I tried to replace the accessToken with an invalid value such as "sdkfjsdklfjsd", then the error produced is:

But when I use a valid accessToken, the error produced was `Invalid x5t claim.`. What does the error mean?

[2021-05-11 15:11] fabiofenoglio commented on #320
@nikithauc thank you very much for your feedback. I will test this as soon as possible but it will take a few days before I'll be able to get back on this.
have a nice day!

[2021-05-12 08:29] mdybich opened #452 "Large File Upload - retry doesn't work for StreamUpload"
# Bug Report

## Description

It looks like the retry for the large file upload doesn't work for `StreamUpload`.
When the [`resume`](https://github.com/microsoftgraph/msgraph-sdk-javascript/blob/ed06eb73cf8ed819ca2b9938cb077416e3e25334/src/tasks/LargeFileUploadTask.ts#L356) is invoked, in the first step the [`getStatus`](https://github.com/microsoftgraph/msgraph-sdk-javascript/blob/ed06eb73cf8ed81

[2021-05-12 18:27] nikithauc commented on #452
@mdybich Thank you for reporting this issue! I will take a look at it.

[2021-05-12 19:49] nikithauc commented on #451
@andrew-hwahin
Is your app set up under Azure AD B2C? Are using an access token for an AAD B2C user to lists users in an AAD tenant?

Following are similar to the issue you have reported:

https://docs.microsoft.com/en-us/answers/questions/246207/34upn-from-claims-with-value-null-is-not-a-valid-u.html?childToView=249533#comment-249533
https://stackoverflow.com/questions/67058760/azure-b2c-ropc-tok

[2021-05-15 07:44] andrew-hwahin commented on #451
Hi @nikithauc thanks for helping 🙏

My app is not using Azure AD B2C, it is a single-tenant setup.

I realised that my app is using MSAL v1 library to sign the user in, is it compatible? Or must I use MSAL v2?

[2021-05-16 11:33] chakravarthi-vl opened #454 "Is there any chatting app sample code?"
# Feature Request

## Is your feature request related to a problem? Please describe

A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

## Describe the solution you'd like

A clear and concise description of what you want to happen.

## Describe alternatives you've considered

A clear and concise description of any alternative solutions or features you've

[2021-05-17 06:40] nikithauc commented on #454
@chakravarthi-vl Can you please provide more details about your requirements?
What is the specific data that you are looking to fetch from/ post to the Graph API?

[2021-05-17 07:03] chakravarthi-vl commented on #454
Hi, @nikithauc thanks For the Reply,

I have a requirement to integrate the Teams chat in my angular application. Is there any lib that I can integrate directly?

[2021-05-17 23:17] nikithauc commented on #454
@chakravarthi-vl
I recommend checking this - https://answers.microsoft.com/en-us/msteams/forum/msteams_tfb-msteams_chatg-msteams_chatgr/integrating-microsoft-teams-to-an-angular/1e215213-2839-494b-b983-b6f1da6b2aa2.

May be you can post this question https://github.com/OfficeDev/microsoft-teams-library-js#readme?

[2021-05-17 23:35] nikithauc commented on #451
@andrew-hwahin MSAL v1 uses the Implicit flow. Implicit flow is not recommended anymore.

Please choose an authentication flow which works for your app set up. [Guidance to choose the authentication flow](https://docs.microsoft.com/en-us/graph/sdks/choose-authentication-providers?tabs=Javascript)

I recommend using MSAL v2 or @azure/identity.

[2021-05-18 19:07] dennisameling opened #455 "ECONNRESET on Node 12+ after 2 mins (but connection to MS Graph works)"
# Bug Report

## Prerequisites

-   [x] Can you reproduce the problem?
-   [x] Are you running the latest version?
-   [x] Are you reporting to the correct repository?
-   [x] Did you perform a cursory search?

For more information, see the `CONTRIBUTING` guide.

## Description

When using this library to connect to Azure AD B2C for getting/creating/updating users, after 2 mins the error below is

[2021-05-18 19:46] dennisameling commented on #455
Just tried with the SDK v3 preview, and thanks to the new `ClientSecretCredential` I no longer have to have a custom `AuthProvider`! 🎉

Can confirm that this issue is not present when using the v3 preview in combination with the `ClientSecretCredential` 👍🏼

For anyone who's interested in the code, here it is: https://github.com/dennisameling/msgraph-nodejs-issue/blob/msgraph-v3/src/app.service.ts

[2021-05-18 19:48] dennisameling commented on #444
This is working great in a NodeJS backend service! [Was having issues with v2](https://github.com/microsoftgraph/msgraph-sdk-javascript/issues/455) of this SDK in combination with Client Credentials, but v3 works perfectly 🚀

For anyone who's interested in some demo code (NestJS/TypeScript), here it is: https://github.com/dennisameling/msgraph-nodejs-issue/blob/msgraph-v3/src/app.service.ts - step

[2021-05-18 20:54] nikithauc commented on #444
@dennisameling Thank you so much for your feedback and for sharing the demo code!

[2021-05-19 03:13] andrew-hwahin commented on #451
ok noted thanks for the help, the issue is resolved 🙏😁

[2021-05-19 03:13] #451 closed

[2021-05-19 12:49] Ofer-Gal opened #456 "Property 'LargeFileUploadTask' does not exist /node_modules/@microsoft/microsoft-graph-types/microsoft-graph""
# Bug Report

## Prerequisites

-   [x] Can you reproduce the problem?
-   [x] Are you running the latest version?
-   [x] Are you reporting to the correct repository?
-   [x] Did you perform a cursory search?

For more information, see the `CONTRIBUTING` guide.

## Description

Using
`import * as MicrosoftGraph from '@microsoft/microsoft-graph-types';`
The line:
`const uploadSession = MicrosoftGr

[2021-05-19 20:30] nikithauc commented on #456
@Ofer-Gal can you try installing npm version 2.1.1 - https://www.npmjs.com/package/@microsoft/microsoft-graph-client/v/2.2.1 ?

[2021-05-19 20:41] nikithauc commented on #455
@dennisameling were you using a custom authprovider with version 2.x of the Graph library?

[2021-05-19 22:09] Ofer-Gal commented on #456
Yes
`import * as MicrosoftGraph from '@microsoft/microsoft-graph-client';` works
Not `'@microsoft/microsoft-graph-types'`
Thank you.
Maybe you have an example of complete Large file upload to SharePoint library?
All I can find are bits and pieces that do not make sense.

[2021-05-20 07:45] nikithauc commented on #456
@Ofer-Gal
`@microsoft/microsoft-graph-types`  contains only objects representing entities of the Microsoft Graph API. The `largefileupload` tasks and the middleware to make requests to the Graph API are present in `@microsoft/microsoft-graph-client`.

Can you try if the following would code work for you?

[code]

Please let me know if you have more questions.

[2021-05-20 11:48] Ofer-Gal commented on #456
Thanks. that is good only I have 2 questions:

1. If the file I am uploading is new to the library. I do I know what {itemId} to add to the first line in your code? any other option?
2. What is fs.??? in line 2 and 3? can I use File type instead? (I have a FileList to work with)

Thank you much

[2021-05-20 12:00] anvilation opened #457 "Enabling the requesting object to be logged out either via debug or in error object"
# Feature Request

## Is your feature request related to a problem? Please describe
Whilst troubleshooting using the Large File request I kept getting a message indicating that the message was malformed. However, because I running my app in Node (console-based app) there was no way for me to meaningfully take the request object being generated by LargeFileUploadTask.createUploadSession

I eventual

[2021-05-20 18:33] nikithauc commented on #457
@anvilation Thank you for your feedback! This feature seems to be a good enhancement to improve the usability of the Graph JS client library.

[2021-05-20 21:11] nikithauc commented on #456
@Ofer-Gal
Please find more information on `item` and `itemid` here.

https://docs.microsoft.com/en-us/graph/api/driveitem-get?view=graph-rest-1.0&tabs=http
https://docs.microsoft.com/en-us/graph/api/resources/driveitem?view=graph-rest-1.0

[2021-05-20 21:38] Ofer-Gal commented on #456
Will love to tell you.
I am working on a SPFx web part that users will use to submit files to different sites libraries (based on project number). the current part uses pnp/js "AddChunck" method but we found out that up to 10% of the times we get "Fail to Fetch" error. So I want to try the all mighty graph that everyone says it is the way to go. Up to now, the "Client" created from SPFx was not co

[2021-05-22 18:27] Ofer-Gal commented on #456
@nikithauc,   Finally found the trick no-one else but Ryan Gregg showed in [stackoverflow.com](https://stackoverflow.com/questions/40369180/microsoft-graph-uploading-files-to-shared-library-instead-of-users-library)
graph may be good but the documentation sucks very much.
Thank you for your help.

[2021-05-25 18:30] nikithauc commented on #455
Closing this as solution will be present in 3.0.0 version.

[2021-05-25 18:30] #455 closed

[2021-05-25 19:56] nikithauc commented on #456
Hi @Ofer-Gal,

It was nice talking to you.
The progress tracking of the upload is a feature that will be released in 3.0.0.

You can check out this feature in preview of 3.0.0 - https://www.npmjs.com/package/@microsoft/microsoft-graph-client/v/3.0.0-Preview.1.
`npm i @microsoft/microsoft-graph-client@3.0.0-Preview.1`

Following is an example on how to track the progress of the upload using 3.0.0 v

[2021-05-25 22:11] Ofer-Gal commented on #456
@nikithauc Thank you!
I installed the 3.0.0 and changed the code as you will see below. But I get an error from inside your code.
`TypeError: Cannot read property 'get' of undefined
    at Function.<anonymous> (GraphResponseHandler.js:94)
    at Generator.next (<anonymous>)
    at tslib.es6.js:76
    at new Promise (<anonymous>)
    at __awaiter (tslib.es6.js:72)
    at Function.convertResponse (G

[2021-05-25 22:27] nikithauc commented on #456
@Ofer-Gal

What is the type of `fContent` ?
 `FileUpload`  is for content of format - `ArrayBuffer | Blob | Buffer`.

Can you try the following?
`const fileObject = new FileUpload(Buffer.from(fContent), fixFileName, file.fileSize)`;

`T` represents the use of generics here.
In case of `FileUpload` `T` binds to `ArrayBuffer | Blob | Buffer`.
In case of `StreamUpload` `T` binds to `Readable` that is

[2021-05-25 22:28] nikithauc commented on #195
Cannot reproduce this issue.

[2021-05-25 22:28] #195 closed

[2021-05-25 23:19] Ofer-Gal commented on #456
the type of fContent id type  downloadFileContent: () => Promise<File>;
It has a method .arrayBuffer() but TypeScript says:"TS2339: Property 'arrayBuffer' does not exist on type 'File'." So I made the type any.
Only uploadTask: LargeFileUploadTask<Blob | ArrayBuffer | Buffer>  is OK by Typescript. :-(
So I made it any too.
But I still get the same error:
[code]
Now the code is:
[code]
thank you

[2021-05-26 00:30] nikithauc commented on #456
@Ofer-Gal

I tried passing a `File`  object to create a `FileUpload` object and it works fine.

 What is the return type of `await file.downloadFileContent()`?

If `await file.downloadFileContent()` returns `File` type. You can directly use
[code]
I tried the following and I did not get any compile time error -

[code]

The  following error indicates that the GraphResponseHandler is not getting a

[2021-05-26 12:37] Ofer-Gal commented on #456
Using ```let fContent: File  = await file.downloadFileContent(); ``` was OK for the tslinter did not help.
Using the test ```fContent = new File(["ssssssssssssOfer"], fixFileName);``` couse bunch of other errors even before the upload.
with the selected file, when getting to line 94 in GraphResponseHandler, Only rawResponse.headers is undefined
rawResponse is:
[code]
Can I just attach a header to

[2021-06-01 17:09] nikithauc commented on #456
@Ofer-Gal  I am working on a sample to use the large file upload task from the 3.0.0-preview version.

`fContent = new File(["ssssssssssss"], fixFileName)` this is an just an example I used to reproduce the `T` error that you reported.

Are you still getting the same error with the headers?

[2021-06-01 18:27] nikithauc commented on #454
Closing this due inactivity. @chakravarthi-vl  Please feel free to open a new issue if there are more questions.

[2021-06-01 18:27] #454 closed

[2021-06-01 21:25] Ofer-Gal commented on #456
I reverted to 2.2.1 and gave up on the progress report.
I think there is some disconnect between the 3.0.0-preview version and the graph factory of SPFx.
My work is a SharePoint framework web part and I can't use 3.0.0 as is.

[2021-06-01 23:40] nikithauc commented on #420
Closing this due to inactivity. Please open a new issue if you have more questions.

[2021-06-01 23:40] #420 closed

[2021-06-02 00:33] dineshsecret commented on #53
Hi
Please refer last part of [msal-node] Issues when server is behind proxy #2600. below is the url for that blog post
https://github.com/AzureAD/microsoft-authentication-library-for-js/issues/2600
That blog post explains how to configure networkClient which configure with proxy.

However above fetchOption didn't work for me. What is the IP address I have to use there? is that the proxy server IP

[2021-06-02 01:03] dineshsecret commented on #53
Hi, I want to add further comments to above comment.
  I have tried above fetchOptions with username password combination like below

 fetchOptions:{agent: new HttpsProxyAgent('http://username:password@xxx.xxx.xxx.xxx:8080')},

where username and password are my credentials to the proxy server, and it worked.

[2021-06-02 18:02] nikithauc commented on #422
Closing this due to inactivity. @diberry  Please open a new issue if you have more questions.

[2021-06-02 18:02] #422 closed

[2021-06-02 18:13] nikithauc opened #461 "Azure.Identity token classes not directly support by GraphClientFactory."
Reported by @MIchaelMainer -

I expected that I could pass in a TokenCredential to get back an HttpClient from the GraphClientFactory. Not yet supported. I need to wrap the TokenCredential in the TokenCredentialAuthProvider.

Actual:
		public static HttpClient GetHttpClientWithClientSecretCredential()
		{
			return GraphClientFactory.Create(new TokenCredentialAuthProvider(GetClientSecretCredential

[2021-06-04 15:14] Lindvorn opened #463 "Drag&Drop attachment cannot be found and downloaded by attachmentItemId"
# Bug Report

## Prerequisites

-   [+] Can you reproduce the problem?
-   [+] Are you running the latest version?
-   [ ] Are you reporting to the correct repository?
-   [ ] Did you perform a cursory search?

## Description

We have an application that uses Graph api to get the attachments. Our users want to D&D attachment from https://outlook.live.com/ and download it to our application. When a

[2021-06-04 18:09] #452 closed

[2021-06-05 06:55] plamber opened #464 "How do I access the responseheaders after a call to the api?"
Hello,
we are using the client to [copy a DriveItem](https://docs.microsoft.com/en-us/graph/api/driveitem-copy?view=graph-rest-1.0&tabs=javascript) from one Drive to another.

[code]

To see if a file has been copied successfully and to receive the new driveItemId for other actions I have to follow [these instructions](https://docs.microsoft.com/en-us/graph/long-running-actions-overview?tabs=http)

[2021-06-05 07:10] nikithauc commented on #464
@plamber

Please try explicitly setting the response type to RAW as follows -
[code]

The headers should be available from the raw response.

Please let me know if this works.

[2021-06-05 07:35] plamber commented on #464
Hi @nikithauc,
thank you. Will give it a try but might be able to give you feedback in a couple of days only.

Cheers.

[2021-06-07 14:44] Acrawford-Adesa opened #465 "Content file commit fails - Upload state is always commitFileFailed"
# Background
I am trying to create a script that will update an Intune app automatically as part of a continuous deployment pipeline. I have been replicating the steps found [here](https://github.com/microsoftgraph/powershell-intune-samples/tree/master/LOB_Application) so that they work in our environment.

# Issue
After calling
`deviceAppManagement/mobileApps/${application.id}/microsoft.graph.ios

[2021-06-07 21:30] nikithauc commented on #456
@Ofer-Gal

I learned that SPFx uses the Graph client 1.x version. The 3.x changes may not be compatible with 1.x Graph client.

Are you using a version 1.x Graph client?

References-
https://www.sebastienlevert.com/2021/04/18/latest-microsoft-graph-client-spfx/

[2021-06-07 22:05] Ofer-Gal commented on #456
I do something similar to connect 2.2.1 but it did not help 3.0.0 preview

[2021-06-08 16:17] Ofer-Gal opened #466 ".expand('fields(select=ProjectNumber,FileLeafRef,DocumentType)') creates a faulty URL"
# Bug Report

## Prerequisites

-   [X] Can you reproduce the problem?
-   [x] Are you running the latest version?
-   [ ] Are you reporting to the correct repository?
-   [ ] Did you perform a cursory search?

## Description
with syntax like:
[code]
**Console Errors:** [Is there any console error]
`"Parsing OData Select and Expand failed: Term '(select=ProjectNumber,FileLeafRef,DocumentType)' is

[2021-06-08 22:37] nikithauc commented on #452
@mdybich A fix for this has been released in https://www.npmjs.com/package/@microsoft/microsoft-graph-client/v/3.0.0-Preview.2.

[2021-06-09 11:19] sibi-ghl opened #469 "Issue with using custom authentication provider"
The documentation says that the `getAccessToken()` method is called every time before we make a request with the client API.
But, how do we determine which user's access token we are supposed to return from that method? Each user has a unique access token that is stored in our database.

![image](https://user-images.githubusercontent.com/67587425/121345305-4d7d1680-c942-11eb-988e-ef50b034800b.png)

[2021-06-09 18:44] nikithauc commented on #469
@sibi-ghl Thank you for the feedback!

In most cases, the a single user is logged in or the application is registered to a single entity and the request made involves a  single account.

Following is a sample you can use -

Consider an implementation of the `AuthenticationProvider` interface and `AuthenticationProviderOptions` interface.

[code]

You custom implementation can be as follows -

[cod

[2021-06-10 01:08] derisen opened #470 "Documentation for using Graph SDK with MSAL.js"
# Feature Request

## Is your feature request related to a problem? Please describe

We have implemented a set of samples (see below) demonstrating how to use MSAL.js as a custom authentication provider for this library. Would it be possible to document these or mention them in the wiki?

- [Vanilla JS SPA using MSAL Browser](https://github.com/Azure-Samples/ms-identity-javascript-tutorial/tree/ma

[2021-06-10 06:22] nikithauc commented on #470
@derisen  This is awesome!
I will add these in the ReadMe. Thank you for the samples!

[2021-06-14 06:52] ApsaraPrabodani opened #471 "StreamUpload is not a constructor"
## Description

Im using the node express.js for our project and we are using `msgraph-sdk-javascript` for connecting with Microsoft graph APIs.

for the record we use following line to get sdk to our app and then created client object.

const graph = require('@microsoft/microsoft-graph-client');

const fileObject = new graph.StreamUpload(stream, fileMeta.document_name, fileMeta.file_size);

but u

[2021-06-14 07:29] plamber commented on #464
Hi @nikithauc,
thank you. I was able to successfully retrieve the location header with this code.

[code]

I would recommend to update the JavaScript documentation [here](https://docs.microsoft.com/en-us/graph/long-running-actions-overview?tabs=javascript) to show how you can retrieve the location header.

I think you can also remove the part where '.version('beta')' is used. Apparently this is no

[2021-06-14 07:29] #464 closed

[2021-06-14 17:36] nikithauc commented on #471
@ApsaraPrabodani Thanks for  reaching out!

The StreamUpload feature will be introduced in the 3.0.0 version.

The preview for this version is out. Can you try installing the version 3.0.0-Preview.2?
- https://www.npmjs.com/package/@microsoft/microsoft-graph-client/v/3.0.0-Preview.2
- `npm i @microsoft/microsoft-graph-client@3.0.0-Preview.2`

[2021-06-15 08:00] ApsaraPrabodani commented on #471
@nikithauc thank you soo much for the quick response.

As you mentioned earlier, installed version 3.0.0-Preview.2 And
then can get access to StreamUpload and LargeFileUploadTask functions with new version.

But agin showing this error with upload task.

<img width="1275" alt="Screenshot 2021-06-15 at 13 27 15" src="https://user-images.githubusercontent.com/22188258/122015491-c61a2200-cddd-11eb-91

[2021-06-15 08:19] nikithauc commented on #471
@ApsaraPrabodani

Can you please provide the code that your are using?

What is the upload session URL that you are using?

Can you please provide more information about the API that you are trying to upload to and any details that can help me reproduce this issue?

[2021-06-15 08:33] ApsaraPrabodani commented on #471
@nikithauc ,
Thank you again for the quick response, Im trying to upload a large file to Microsoft site.

This is the url for creating upload session,
`const url = `/sites/${data.site_id}/drives/${data.drive_id}/root:/${data.document_name}:/createUploadSession`;`

and then creating upload session from this,
[code]

If you need any more information, please get back to me.
thanks.

[2021-06-15 08:46] nikithauc commented on #471
@ApsaraPrabodani  Thanks for providing the details!

Can you please verify if the upload session is being created and is the URL property of the upload session being set?

[2021-06-15 08:55] ApsaraPrabodani commented on #471
@nikithauc ,
It is creating upload session with given url.

<img width="1268" alt="Screenshot 2021-06-15 at 14 22 26" src="https://user-images.githubusercontent.com/22188258/122023732-6de71e00-cde5-11eb-85a9-85b30247d127.png">

[2021-06-15 13:25] ApsaraPrabodani commented on #471
@nikithauc ,

After some workarounds , managed to execute the upload function in uploadTask. But still having a issue with upload function.

`const uploadResult = await uploadTask.upload();`

above method is hanging forever I guess. not returning any error or noting. just hanging there

<img width="528" alt="Screenshot 2021-06-15 at 18 51 34" src="https://user-images.githubusercontent.com/22188258

[2021-06-15 20:18] nikithauc commented on #471
@ApsaraPrabodani

Can you please tell me what was causing the `index of undefined error`?

The upload function can take a while if the file size is large.

What is the size of your file?
Are you not getting any response after the complete file is uploaded?

The file is sliced into multiple parts and each part is uploaded sequentially. You can set a `UploadEventHandler.Progress` callback and verify

[2021-06-16 04:37] ApsaraPrabodani commented on #471
@nikithauc ,

Earlier I didn't await for creating upload session function. As I think that could be problem of `index of undefined error`.
After await that function, it works fine.

Im trying to upload 4.3MB file. The thing is, once waited around 2 hours for any response.

and of course used progress function and added only console.logs for checking status.

[code]
This the result of progress func

[2021-06-17 02:00] #469 closed

[2021-06-17 07:54] nikithauc commented on #471
@ApsaraPrabodani

Following is the code that I am trying and it worked. I was able to get the result.

Can you please try if this code works for you?

[code]

[2021-06-18 00:28] mitani commented on #296
@nikithaqprevent won't this only work if you use 1 client per request. I would have assumed the timeout would need to wrap around an abort controller for each request, and each request would need to have it's own fetch options so that it resets the timer per request.

[2021-06-18 03:05] nikithauc commented on #296
@mitani

You can also use the `options()` api in the GraphRequest ,that is, `client.api().options().get()` instead of setting the `options` while initializing the client.

Is that what you are looking for?

[2021-06-18 04:34] #470 closed

[2021-06-18 12:27] swapnilshinde48 opened #474 "not able to upload large files using upload session"
# Bug Report
For more information, see the `CONTRIBUTING` guide.

## Description
-   Not able to upload large file by creating upload session in react js, does any one have readymade code for this

## Steps to Reproduce

1. [First Step]
2. [Second Step]
3. [and so on...]

**Expected behavior:** large file should upload or if anyone having working code to upload file using upload session

**Actual

[2021-06-18 15:35] mitani commented on #296
Yes,  thank you @nikithauc it would be great if the example also reflected that use case.

[2021-06-18 20:54] nikithauc commented on #474
@swapnilshinde48 Thanks for reaching out :)

Please find the documentation here - https://github.com/microsoftgraph/msgraph-sdk-javascript/blob/dev/docs/tasks/LargeFileUploadTask.md

The following is a code snippet demonstrating how to upload a large file.

[code]

Can you please provide answers to the following:
- Are you trying a stream or a file upload?
- What is the service you are trying to u

[2021-06-21 04:37] nikithauc commented on #471
@ApsaraPrabodani  did the large file upload process work for you ?

[2021-06-24 07:20] sibi-ghl opened #475 "Assertion has expired error"
![image](https://user-images.githubusercontent.com/67587425/123219072-1b46e980-d4ea-11eb-85d9-600b94f1d9ae.png)

We are occasionally getting this error. Any insight on what is causing this?
This comes up all of a sudden and the only way to make it go is to integrate again.
[AB#10034](https://microsoftgraph.visualstudio.com/0985d294-5762-4bc2-a565-161ef349ca3e/_workitems/edit/10034)

[2021-06-24 18:27] nikithauc commented on #475
@sibi-ghl

This does not look like a Graph JS client library issue.

Looking at the error I think it would be best if you can post this question in:
- https://github.com/AzureAD/microsoft-authentication-library-for-js
- Microsoft Q & A
- StackOverFlow.com

[2021-06-24 18:27] #475 closed

[2021-06-24 18:30] #456 closed

[2021-06-24 20:39] MIchaelMainer commented on #474
No repro here. I'm able to upload using this code.

[2021-06-24 20:51] nikithauc commented on #474
@swapnilshinde48 Please feel free to open a new issue if you have more questions

[2021-06-24 20:51] #474 closed

[2021-06-24 21:03] nikithauc opened #476 "SPFx support - side by side version support"
Following is the detailed explanation of the feature provided by Pat Miller from SPFx

So what we need to be able to do is continue giving older components the 1.x version, and new components that are built against graph 3.0 a separate version.  However, both old and new components can be on the same page at the same time, so we'll need to load both graph 1.x and 3.x concurrently.

This issue requ

[2021-06-30 05:54] nikithauc commented on #471
Closing this due to inactivity.

@ApsaraPrabodani  Please feel free to open a new issue or comment here in case you have any questions

[2021-06-30 05:54] #471 closed

[2021-07-01 07:51] mullwaden opened #479 "Using teams as a saas conferencing solution"
# Feature Request

## Is your feature request related to a problem? Please describe
Our need is quite simple, via API create and reschedule online meetings with web links and dial-in numbers. The issue is that teams is centered around users, it's always a "user" that creates a meeting room.

_(We are a smallish company that currently uses Twilio to provide a solution where our users can interview

[2021-07-01 17:52] #449 closed

[2021-07-02 01:22] MIchaelMainer commented on #479
@nkramer

[2021-07-09 19:32] MIchaelMainer commented on #479
@mullwaden Thank you for the question. This issue list is for feature requests and bugs in the client library.

Feature requests should go here: https://techcommunity.microsoft.com/t5/microsoft-365-developer-platform/idb-p/Microsoft365DeveloperPlatform/label-name/Microsoft%20Graph
Q & A should go here: https://aka.ms/askgraph

[2021-07-09 20:39] MIchaelMainer commented on #445
My concerns:

- Authentication tokens are tied to a host URI and by changing the base URI the token will no longer be valid. At least that's my understanding.
- We advise developers to create one client per host + endpoint. The API surface and behavior can change between hosts and endpoints which can lead to unexpected results. For this reason we discourage changing the base URI.
- (hypothetical)

[2021-07-10 02:53] nikithauc opened #481 "Constructor assignment"
Address comments in #480
[AB#10183](https://microsoftgraph.visualstudio.com/0985d294-5762-4bc2-a565-161ef349ca3e/_workitems/edit/10183)

[2021-07-12 13:23] TenBuck commented on #444
I just spent 3 hours looking for it! I'd recommend updating the docs to reflect that TokenCredentialAuthenticationProvider isn't available yet

[2021-07-12 17:24] MIchaelMainer opened #482 "Update docs with deprecation statement and new token credential"
Update docs to show the new way to authorize a SPA. The following docs needs updates:

https://docs.microsoft.com/en-us/graph/sdks/choose-authentication-providers?context=graph%2Fapi%2F1.0&view=graph-rest-1.0&tabs=Javascript#ImplicitProvider

Add statement of deprecation to docs/ImplicitMSALAuthenticationProvider.md:
https://github.com/microsoftgraph/msgraph-sdk-javascript/pull/480/files#diff-42a0

[2021-07-12 21:06] nikithauc commented on #461
@MIchaelMainer  I am closing this issue as we will be adding msal auth providers to the library and not planning on making TokenCredential the primary auth provider.

[2021-07-12 21:06] #461 closed

[2021-07-14 17:37] #479 closed

[2021-07-14 17:51] nikithauc opened #483 "#373 Part 1 - Add support for Msal Browser"

[2021-07-23 15:59] baywet commented on #417
@roinochieng @darrelmiller as the next step would be to document the spec in the sdk deisgn guidelines, would you rather create an issue over there, or transfer this one?

[2021-07-23 17:36] baywet commented on #417
some additional resources to put the spec together
https://apisyouwonthate.com/blog/caching-is-hard-draw-me-a-picture
https://github.com/tavis-software/Tavis.HttpCache
https://httpwg.org/specs/rfc7234.html

[2021-07-26 18:15] #483 closed

[2021-07-28 08:23] sundariragavan commented on #282
@faizan1990 I'm also facing the same issue. can you please explain how you fixed this issue ?

[2021-07-28 09:11] faizan1990 commented on #282
Hi @sundariragavan I am not sure the exact error your are getting. Please have a look at https://github.com/microsoftgraph/msgraph-sdk-javascript/issues/283 as advised by Michael. If that doesn't fix your problem then this issue needs to be reopened as I have already requested on 8 May 2020. All the best

[2021-07-28 15:59] vincepunkrock opened #487 "Problem when listing managers"
I'm trying to make this request:
https://graph.microsoft.com/v1.0/me?$expand=manager($levels=max;$select=id,displayName)&$select=id,displayName&$count=true

as shown in the example here:
https://docs.microsoft.com/en-us/graph/api/user-list-manager?view=graph-rest-1.0&tabs=http#example-2-get-manager-chain-up-to-the-root-level

This is my code:
`
this.props.msGraphClientFactory.getClient().then((cli

[2021-07-28 18:54] nikithauc commented on #487
@vincepunkrock Thank you for reaching out!

I am not able to reproduce this issue.
Tried this and it was able to receive the response:

const res  = await gclient.api("/me?$expand=manager($levels=max;$select=displayName)&$select=id,displayName&$count=true").get();
    console.log(res);

Graph Explorer uses the Graph Client SDK to make the calls.

Can you please provide the following ?
-  code snip

[2021-07-29 11:44] vincepunkrock commented on #487
@nikithauc The code is used in a webpart and the client is initialized by SPFx.

"msGraphClientFactory" is available in the webpart context.
I then pass it to my React component as a property.

This is in my react component in the componentDidMount method:

this.props.msGraphClientFactory.getClient().then((client: MSGraphClient): void => {
         client.api(\`/me?$expand=manager&$select=id,displ

[2021-07-29 21:54] nikithauc commented on #487
@vincepunkrock
Can you please verify the version of the Graph client that is returned by the `msGraphClientFactory`?
SPFX uses the 1.x version of the Graph SDK library. There was a URL parsing issue in the older versions of the Graph SDK which was corrected in 2.1 version of Graph SDK.

Refer:
https://www.sebastienlevert.com/2021/04/18/latest-microsoft-graph-client-spfx/

[2021-08-02 12:59] FreshlyBrewedCode opened #490 "First time access of a file shared from a user's OneDrive throws generic error"
# Bug Report

## Prerequisites

-   [x] Can you reproduce the problem?
-   [x] Are you running the latest version?
-   [ ] Are you reporting to the correct repository?
-   [x] Did you perform a cursory search?

## Description

I am trying to fetch the `downloadUrl` of a file shared from a user's OneDrive using the share URL ([see docs](https://docs.microsoft.com/en-us/graph/api/shares-get?view=gra

[2021-08-02 17:15] Ofer-Gal opened #491 "Please provide the Readable Stream content, name of the file and size of the file"
# Bug Report
I am trying to use "@microsoft/microsoft-graph-client": "^3.0.0-Preview.3" in A SPFx web part.
By Adopting the code from msgraph-sdk-javascript/samples/typescript/tasks/LargeFileUploadTask.ts example

for some reason. the fs from `import * as fs from "fs";` breaks the code
In any way, I will need to get the files from the user so I use `<input type="file" onChange={onFileChange} />`
w

[2021-08-03 00:04] nikithauc commented on #491
@Ofer-Gal Thank you for reaching out!

What framework of library are you using to develop the application?

Readable is part of the Node  Stream feature.  More on this -> https://nodejs.org/api/stream.html#stream_class_stream_readable
Stream-browserify - https://www.npmjs.com/package/stream-browserify can be used to make it available in the browsers.

Alternatively, you can also use the `FileUploa

[2021-08-03 01:14] nikithauc opened #493 "Support custom fetch option"
Thank you @alexrecuenco for suggesting this!

Fetch as a global object as a requirement to run a library seems prone to errors.
For backward compatibility It would not be hard to add in the library a 'fetchObject' option, and if that isn't set, you try the global fetch, and if that doesn't exist, throw an error, instead of failing midway.
I have run into issues since our linters are not catching t

[2021-08-03 01:15] nikithauc commented on #324
Closing this issue as I opened #493 to clearly state the requirement.

[2021-08-03 01:15] #324 closed

[2021-08-03 12:01] isleven commented on #310
it works.

[2021-08-03 19:54] Ofer-Gal commented on #491
I use SPFx for web part so Node is not included see [here](https://sharepoint.stackexchange.com/questions/219558/spfx-unable-to-use-fs-module)

I am using the same example you said but I can't us the fs module
What else can I use to feed the FILE to the fileObject?

[2021-08-03 21:46] Ofer-Gal commented on #491
I managed to figure out how to pump my file as "ArrayBuffer" to `new FileUpload`
So, I am good there.
But everything works accept the line `const uploadResult = await task.upload();`
which errors with:
TypeError: Cannot read properties of undefined (reading 'get')
    at Function.<anonymous> (GraphResponseHandler.js:94)
    at Generator.next (<anonymous>)
    at tslib.es6.js:76
    at new Promise

[2021-08-04 10:19] vincepunkrock commented on #487
@nikithauc Indeed, sp-http 1.12.1 still uses @microsoft/microsoft-graph-client": "~1.1.0
Thank you for your help.

[2021-08-04 10:19] #487 closed

[2021-08-05 21:46] nikithauc commented on #490
@FreshlyBrewedCode Thanks for reaching out!

I was not able to reproduce this issue. Before digging if this is a permissions issue, can you please check if the `sharingURL` is being encoded properly and the request is being made. The final request URL to the Graph API gets consoled at the time of the request. Is that getting logged before you get the error?

[2021-08-05 21:55] nikithauc commented on #491
@Ofer-Gal  looks like you encountered this error a while back https://github.com/microsoftgraph/msgraph-sdk-javascript/issues/456#issuecomment-848303846.

Can you please verify if an upload session is being created and also if the Graph API is being called?

I would check the network calls or use fiddler to inspect the response that causes this error.
It looks like the response you are getting is

[2021-08-05 22:04] Ofer-Gal commented on #491
upload session is being created with no error

[2021-08-05 22:13] nikithauc commented on #491
Can you please provide the code snippet?

[2021-08-05 23:02] Ofer-Gal commented on #491
try {
        const uploadSession: LargeFileUploadSession = await LargeFileUploadTask.createUploadSession(graphIds.client, requestUrl, payload);
        const fileObject = new FileUpload(Myfile, fixFileName, totalsize);
        const task = new LargeFileUploadTask(graphIds.client, fileObject, uploadSession, options);
        const uploadResult = await task.upload(); //Error comes here
        retu

[2021-08-06 08:32] FreshlyBrewedCode commented on #490
Thank you for taking the time to investigate this issue @nikithauc.

I posted my code for encoding the URL in my initial post. I just reproduced the issue again and I can confirm that
- The final request URL is logged, even during an unsuccessful request
- The request URL does not change between unsuccessful and successful requests.

As far as I can tell nothing changes between unsuccessful and su

[2021-08-09 18:04] nikithauc opened #495 "Use npm UUID package for generation"
[AB#10578](https://microsoftgraph.visualstudio.com/0985d294-5762-4bc2-a565-161ef349ca3e/_workitems/edit/10578)

[2021-08-10 00:03] nikithauc commented on #444
Microsoft Graph JavaScript Client Library 3.0.0 is released - https://www.npmjs.com/package/@microsoft/microsoft-graph-client/v/3.0.0

[2021-08-10 00:03] #444 closed

[2021-08-10 01:05] nikithauc commented on #491
@Ofer-Gal I am not sure what is causing this issue.
It looks like you are not getting a response. Did you get a chance to verify the network calls and check if the upload request is being made?
I would recommend posting this issue in Microsoft Q & A -  https://docs.microsoft.com/en-us/answers/index.html with the appropriate Sharepoint tag or the tag for the platform you are trying to upload to.

A

[2021-08-11 03:03] nikithauc commented on #490
@ificator Can you please help with this issue?

[2021-08-11 16:07] ificator commented on #490
We'll need to see the response headers for the request that's generating the 302 - specifically the `request-id` and `Date` headers.

And to get ahead of some potential questions:
1. Does this organization exist in multiple geolocations?
2. Is the request that 302s being made against <organization>.sharepoint.com? I believe that's the case based on comments, but I want to confirm

[2021-08-12 07:47] FreshlyBrewedCode commented on #490
I reproduced the issue again and collected the response headers:
[code]
Regarding your questions:

1. No, the organization is only using one geolocation.
2. No, the request is made against the Graph API:
[code]
The request is started by the msgraph-sdk, i.e.:
[code]

[2021-08-12 22:08] kevklam commented on #490
Regarding the "after visiting the link in a browser, the API call starts to succeed" behavior - I believe this is because you are not redeeming the link in your request. See the prefer header values documented at https://aka.ms/sharesapi.

Separately - the logs indicate that the failing request is (as expected) due to not having access. However, it's very strange that this is resulting in a 302 re

[2021-08-13 07:10] FreshlyBrewedCode commented on #490
Thanks @kevklam, setting the header solved the issue immediately. I must have completely missed that part of the docs because it says "_Optional_ request headers".
Here is my updated code:
[code]
Consider this issue closed from my side.

I agree that the 302 response is very strange and caused a lot of confusion, especially in combination with the msgraph-sdk. Let me know if there is anything else

[2021-08-13 21:06] nikithauc commented on #490
@kevklam What do you would be the right action to get the API to return the right error message?

[2021-08-13 23:08] nikithauc opened #498 "Deliver a JS/Typescript with request builder support"
[AB#10679](https://microsoftgraph.visualstudio.com/0985d294-5762-4bc2-a565-161ef349ca3e/_workitems/edit/10679)

[2021-08-13 23:09] nikithauc opened #499 "Tasks - LargeFileUpload with Kiota request builders"

[2021-08-13 23:11] nikithauc opened #500 "Task - PageIterator support for Kiota request builders"

[2021-08-13 23:17] nikithauc opened #501 "Batch Requests composed using Kiota request builders"

[2021-08-13 23:42] nikithauc commented on #490
Closing this issue and will open a new action item depending on the steps needed to update the API error message.

[2021-08-13 23:42] #490 closed

[2021-08-13 23:44] nikithauc commented on #383
To be considered with #500 and #499

[2021-08-13 23:45] nikithauc commented on #406
Closing this due  to inactivity

[2021-08-13 23:45] #406 closed

[2021-08-16 20:17] ddyett opened #503 "Prototype an experience using GraphQL mesh"
[AB#10708](https://microsoftgraph.visualstudio.com/0985d294-5762-4bc2-a565-161ef349ca3e/_workitems/edit/10708)

[2021-08-17 23:02] nikithauc opened #504 "Bundling and package size management"
As a developer, I want to use the Graph JS SDK with the entire API surface (via intellisence) but when I build my app using webpack (or any other bundling system), I want to bundle only the necessary code paths and not the entire API. This will lead to smaller bundles and improve developer velocity.

This will help web developers to stay within the boundaries of the acceptable regarding file sizes

[2021-08-18 13:13] Ofer-Gal commented on #491
Will not use Graph for SharePoint action anymore.
Thank you

[2021-08-18 13:13] #491 closed

[2021-08-31 01:34] #503 closed

[2021-08-31 15:17] snebjorn opened #505 "Defer `AccountInfo` for easier `AuthCodeMSALBrowserAuthenticationProvider` initialization"
# Feature Request

## Is your feature request related to a problem? Please describe

`AuthCodeMSALBrowserAuthenticationProvider` requires `AccountInfo` to be initialized

[code]
This is problematic when setting up the `Client` in the constructor of a service. Because the `AccountInfo` might not be ready at this point.

Example:
[code]

## Describe the solution you'd like

I don't believe the `Acco

[2021-09-01 04:08] #384 closed

[2021-09-01 04:08] #393 closed

[2021-09-01 11:20] chanakya-1984 opened #506 "Retrieving the threads and posts giving 403 error in ms graph"
# Bug Report

## Prerequisites

-   [x] Can you reproduce the problem?
-   [x] Are you running the latest version?
-   [x] Are you reporting to the correct repository?
-   [x] Did you perform a cursory search?

## Description
In our application there is a requirement to retrieve and display the replies on a threads. When ever we try to retrieve the thread and replies for guest user it gives 403 er

[2021-09-01 22:26] nikithauc commented on #506
@chanakya-1984 Thanks for getting in touch!

It looks like the permissions might not be set correctly. Check https://docs.microsoft.com/en-us/graph/api/group-get-thread?view=graph-rest-1.0&tabs=http#permissions.

Are you getting this error after the scope and permissions have been set?

[2021-09-02 08:09] nikithauc opened #507 "Kiota core dependency"

[2021-09-02 09:39] chanakya-1984 commented on #506
I don't think that permission is an issue here. For posting guest need **Group.ReadWrite.All** and guest can post replay without any issue. We get 403 only while guest tries to retrieve the threads which only require **Group.Read.All.**

[2021-09-08 17:40] nikithauc commented on #506
@chanakya-1984

What is the authentication flow is being used in your app? The authentication flow set up might be the cause of the issue similar to https://stackoverflow.com/questions/45673636/microsoft-graph-api-403-forbidden-error-when-getting-groups-conversations.

Can you please provide more details on the type of application and the code snippet of how you are using the Graph JavaScript Clie

[2021-09-09 17:59] rdick commented on #456
Hello @nikithauc,

I am trying to upload a file (> 4 MB) directly from React to SharePoint with the Microsoft Graph API. Here is my code below.

I keep getting the following error:
**Please provide the Readable Stream content, name of the file and size of the file**

**new FileUpload
/src/tasks/FileUploadTask/FileObjectClasses/FileUpload.ts:28**

I think it is because I am uploading a file (instea

[2021-09-09 18:08] rdick opened #509 "Can't Upload Large Document to Sharepoint >4MB in React"
Hello,

This issue was solved in issue #456 by @nikithauc for Node API but now I would like to figure out how to do this is in React.

I am trying to upload a file (> 4 MB) directly from React to SharePoint with the Microsoft Graph API. Here is my code below.

I keep getting the following error:

Please provide the Readable Stream content, name of the file and size of the file

- /src/tasks/FileUp

[2021-09-09 18:36] nikithauc commented on #509
@rdick Thank you for reporting this issue!

I am marking this issue as a bug because the error message is wrong and needs to be corrected to `Please provide the file content or name or size`.
However, this is not a blocker for you.

Can you please try the following? I think that should solve the problem. The `FileUpload` class expects the content, name and size as three separate parameters.

[code

[2021-09-09 19:47] rdick commented on #509
Hi @nikithauc, I did exactly what you suggested in my first comment.

It still did not work - please refer to the lines with listed NEW CODE

The only thing I changed was:

`const fileObject = new FileUpload(file, file.name, file.size);

Changed:
   file (instanceof File) => file (instanceof Blob)
`

// Function 1 - GET UPLOADED FILE FROM USER IN REACT

    const file1 = e.target.files[0]
    cons

[2021-09-10 22:28] nikithauc commented on #509
@rdick  Are you getting the same error? What is the new error that you are getting?

[2021-09-10 23:00] rdick commented on #509
Hi @nikithauc, have you changed anything in the NPM package since the last comment? I was still getting the same error when I checked 2 hours ago.

[2021-09-13 18:49] nikithauc commented on #509
@rdick

No there is  no change in the package.

Can you please change the following code from

[code]

to
[code]

I believe this change should help remove that error.

Following is a snippet that works for me:
[code]

[2021-09-14 06:47] nikithauc opened #513 "GraphResponseHandler implements Kiota ResponseHandler"

[2021-09-14 08:07] karamem0 opened #514 "A TypeError occurred when mocks BatchResponseContent via jest.spyOn()"
# Bug Report

## Prerequisites

-   [x] Can you reproduce the problem?
-   [x] Are you running the latest version?
-   [x] Are you reporting to the correct repository?
-   [x] Did you perform a cursory search?

For more information, see the `CONTRIBUTING` guide.

## Description

Test failed when I upgraded SDK version from 2.2.1 to 3.0.0.

**Console Errors:** TypeError: Cannot redefine property: B

[2021-09-14 12:06] baywet commented on #513
Can you expand on this please? Why do you think this is required?

[2021-09-15 04:44] nikithauc commented on #514
@karamem0 There are no changes to BatchResponseContent in 3.0.0.

[2021-09-15 16:07] pashvin commented on #66
Hi, Graph library does not handle token. You will have to use MSAL library for getting and managing token.

MSAL library has function to do login and then one method to get token silently (if login is done) and that will return access token which you can pass  in done(null, "PassInAccessTokenHere")

[2021-09-16 09:37] karamem0 commented on #514
@nikithauc Thank you for replying. Did you try to reproduce the issue? In actual there might be no changes to BatchResponseContent but something causes the error.

[2021-09-18 02:00] #506 closed

[2021-09-22 07:10] nikithauc commented on #514
@karamem0 I was able to reproduce the issue. Will have to look more into this to understand the cause of the issue.

Thank you for reporting this!

Are you able to use the `BatchResponseContent` otherwise?

[2021-09-23 16:25] sjha2048 opened #516 "Reference to sample secrets file which doesn't exist"
# Bug Report

## Prerequisites

-   [x] Can you reproduce the problem?
-   [x] Are you running the latest version?
-   [x] Are you reporting to the correct repository?
-   [x] Did you perform a cursory search?

## Description

In ```/msgraph-sdk-javascript/blob/dev/samples/javascript/clientInitialization/tokenCredentialAuthenticationProvider/index.js``` on L#11
some secrets are imported
`const { c

[2021-09-24 20:41] nikithauc commented on #514
@karamem0

[2021-09-25 08:12] nikithauc commented on #516
@sjha2048 Thanks for reporting this! PRs are always welcome :)

[2021-09-28 17:20] #516 closed

[2021-09-30 12:27] jimmywim commented on #445
Does anyone know if this issue is being picked up by MSFT or is it waiting to be fixed by the community?

[2021-10-01 09:44] antonycabero opened #518 "ClientAuthError : Error opening popup window. This can happen if you are using IE or if popups are blocked in the browser"
Hello everyone,

I'm facing to a problem since several weeks now and I need your help.

I'm currently developping an Outlook add-in in Javascript with Yeoman and VS Code that should move a mail to the junk mail box.
The add-in works perfectly on the web version but not on the desktop client. When I click on the "Run" button on the desktop client on the taskpane, it opens a popup window on my defau

[2021-10-01 21:59] nikithauc commented on #445
@jimmywim This request will need some some more discussion with the Graph SDK team.

I would like to know what is your take on this issue?

[2021-10-02 06:59] karamem0 commented on #514
@nikithauc
Thanks a lot! I understood the reason is the change of typescript build systems.
I will use `jest.mock` instread of `jest.spyOn`.

[code]

[2021-10-04 01:16] karamem0 commented on #514
My suggestion to avoid this error is as follows.

before:
[code]
after:
[code]

[2021-10-04 18:09] nikithauc commented on #518
@antonycabero Thank you for getting in touch!

When you say that "The normal behaviour should be that there's no popup windows and the mail move to the junk mail box", do you mean that the token should be acquired silently as the user is already logged in?

@jasonnutter can I please get some help with this issue?

[2021-10-04 18:14] jasonnutter commented on #518
@antonycabero Addins that need to perform interactive authentication cannot use the MSAL popup APIs, and must instead the Office JS SDK to open a dialogue to a page in your application that invokes the MSAL loginRedirect API. This sample demonstrates how to do that (currently uses MSAL v2, look in its git history to see how it worked with MSAL v1): https://github.com/OfficeDev/PnP-OfficeAddins/tre

[2021-10-06 14:39] jimmywim commented on #445
@nikithauc No worries, would be good to know if this is on the timeline to be implemented or not.

Any solution that uses this SDK to communicate to MS Graph (for example Microsoft Graph Toolkit) is not currently portable to any National Cloud instances of Microsoft 365 (including GCC and Germany).

[2021-10-15 10:58] simonyarde opened #519 "Invalid ECMAScript modules"
# Bug Report

## Issue

I'd like to write valid isomorphic ECMAScript but the following import fails

[code]

## Discussion

Package `@microsoft/microsoft-graph-client` has invalid ECMAScript modules due to missing file extensions, e.g.

[code]

Node gives the following error, which is counter-intuitive since the package documentation appears to say it contains ECMAScript modules but node defaults

[2021-10-20 14:52] ashishtank commented on #200
@kaaloo Thanks a lot for work around. I have search a lot but could not find realiable way to download the files. Your work around seems will work for me.

[2021-10-20 21:42] #509 closed

[2021-10-25 06:15] nikithauc opened #520 "Remove lib:dom from tsconfig"

[2021-10-25 06:20] nikithauc opened #521 "Update karma tests to use rolled up file targeting browser"

[2021-10-25 14:10] sgtpenguin opened #522 "me/calendars does not list shared calendars added through web client"
# Bug Report
Requests to me/calendars do not list shared calendars that are added in the user's outlook web client.  If user adds calendar through the iOS app, the calendar shows up in the graph client request.

## Prerequisites

-   [yes] Can you reproduce the problem?
-   [yes] Are you running the latest version? (^2.2.1)
-   [yes] Are you reporting to the correct repository?
-   [yes] Did you p

[2021-10-28 17:45] nedyalkov opened #523 "Outlook resources invited via API do not respond the inviation"
## Bug Report

When creating events via Calendar API, the events are created successfully, but the resources being invited never respond to the invitation. This used to work in the past.

### Prerequisites
* [yes] Can you reproduce the problem?
* [yes] Are you running the latest version? (^2.2.1)
* [yes] Are you reporting to the correct repository?
* [yes] Did you perform a cursory search?

### St