[2016-10-04 10:52] chauey opened #4 "Is there a helper to calculate the orderHint for Planner tasks and buckets?"
We are not able to find here or online about how reorder buckets/tasks for the Planner. Is there a library/helper that can help with that and should it be in this sdk? thanks!

[2016-10-05 08:28] chauey opened #5 "How best for this to call custom Web API and pass-through to MSGraph?"
Hello all,

What if we wanted to add some custom data to a Planner Task object for example. The MSGraph does not have that. How can we have this javascript library call a custom WEB API instead, and it can call the MSGraph endpoint instead, and we can add/remove anything as needed? Best way to get/create this WEB API layer that passes the call through and to inject additional properties? Use of sw

[2016-10-05 16:49] dan-silver commented on #4
Hey chauey that's a great idea for this SDK and we're considering adding some helper utilities that make calls easier.  I'll investigate an orderHint helper further this week. Thank you

[2016-10-05 20:55] dan-silver commented on #5
Hey @chauey!  That's a really interesting idea of using the Graph SDKs to also handle custom data that's sent to other APIs.  In order for this discussion to have as many eyes as possible, would you actually mind explaining this idea a bit more and posting on StackOverflow with the tag microsoftgraph?  It will get a lot more attention there from more Microsoft engineers since we're just getting st

[2016-10-05 20:55] #5 closed

[2016-10-25 22:32] dancampbell691 opened #7 "Is it possible to upload a file (.put) from the browser, or only Node?"
In the examples for uploading (.put), you make use of fs.createReadStream, which is specific to Node and not available in the browser.  I've tried everything I can come up with to pass in a local file, including all options of FileReader.  But all result in the error _stream.pipe is not a function_.  My searching has just about lead me to believe it is impossible to create a readable stream from t

[2016-10-26 23:24] #4 closed

[2016-10-28 18:01] dan-silver commented on #7
The SDK is currently limited to only accepting file streams for uploading files with .put().  You're correct that this approach won't work in the browser so we're moving towards two methods, .put() and .putStream().  In the future, we might automatically detect if it's a stream or not so developers could always call .put().

`.put()` will accept any binary blob, such as an HTML file upload form.
[

[2016-10-31 18:31] DavidLozzi opened #9 "Accessing libraries in other sites"
Not sure this is the right github to report this issue. Using https://graph.microsoft.com/v1.0/drives I can see the libraries in my root site collection, name.sharepoint.com/. However I can't seem to find libraries in my other site collections, like name.sharepoint.com/sites/lozzi. Is there a config for it or is this a bug?

[2016-11-01 23:40] dan-silver commented on #7
@dancampbell691 This is now available in the master branch and will be published to NPM in the next update. Please reopen this thread if you find any other issues with files uploads from the browser.

[2016-11-01 23:40] #7 closed

[2016-11-09 22:10] dan-silver commented on #9
Hey @DavidLozzi, can you please post this to stack overflow with the tag microsoftgraph since it's a question about the API not this SDK? Thanks!

[2016-11-09 22:10] #9 closed

[2016-11-17 21:46] dan-silver opened #11 "Warn user when they forget to pass post data as the first parameter in .post()"

[2016-11-28 21:11] #11 closed

[2016-12-05 16:34] dancampbell691 opened #16 "DriveItems Download gives CORS error"
Hello. I was able to successfully replicate the Browser Sample to download my img file.  However, when the Sample is adjusted to get a fileitem, the response is an attempted 302 redirect which fails due to CORS policy (per the error message).  Given that the URL for the download shouldn't require authorization, this is surprising.

call:
client
.api('/drive/items/' + FileId + '/content')
.response

[2016-12-05 21:28] dan-silver commented on #16
Hey @dancampbell691!

Are you trying to download the file and parse the response in the browser, or send the file to the user so it appears in their downloaded files list?

If you want the browser to handle a normal file download, I got the following to work based on this [stack overflow answer](http://stackoverflow.com/a/3749395/2517012). I used the SDK to get the file data and sent the downloadU

[2016-12-05 21:44] dancampbell691 commented on #16
Hi.  Thanks for the quick response.  I'm trying to get a PDF then display it, which I do through PDFObject.js.

I actually just came up with this work around a few minutes before your response.  I use Fetch to get the file, put it in an objectURL, then send that to PDFObject.  Fetch seems to handle CORS issue.

    client
    .api('/drive/items/' + FileId)
    .get((err, res) => {
        if (err)

[2016-12-05 22:47] dan-silver commented on #16
Glad it's working!  Using fetch is a great idea.  If you don't want your code split between promises and callbacks, you can also call .get() with no params and it should return a promise.

Please re-open this issue if you find any other issues with downloading files with the SDK.

[2016-12-05 22:47] #16 closed

[2016-12-21 18:58] itaydemri opened #19 "typings files are missing"
Hello,

*.d.ts files in this package contains a reference to:
`/// <reference path="../../typings/index.d.ts" />`

which is missing after installing package.

using: "msgraph-sdk-javascript": "^0.2.2"

am i missing something? tried to use the microsoftgraph/msgraph-typescript-typings but unfortunately it doesn't support @types yet...

Thanks!

[2016-12-21 23:23] dan-silver commented on #19
Good catch @itaydemri . This project still uses typings, so ```typings install``` will populate that folder. But, this won't worked in the published npm package since the typings file doesn't exist.

I've started porting this project away from typings on the ```typings-to-types``` branch.  Both the core files and the typescript sample have been updated.  I'd love feedback on that if you can clone

[2016-12-21 23:24] dan-silver commented on #19
Also, the migration away from typings is in pull request #20

[2016-12-22 17:07] dan-silver commented on #19
#20 has been merged. Please reopen this thread if the types are still an issue.

[2016-12-22 17:07] #19 closed

[2016-12-22 19:46] itaydemri commented on #19
Thanks Dan!
it looks much better, however there's a new issue in 0.3.0. i'll open a new issue to address that.

Itay

[2016-12-22 19:56] itaydemri opened #24 "Initializers are not allowed in ambient contexts in common.d.ts"
Hi Dan,
in version 0.3.0, there's an build error due to the assignments:

common.d.ts:
export declare const DEFAULT_VERSION **= "v1.0"**;
export declare const GRAPH_BASE_URL **= "https://graph.microsoft.com/"**;

i'd love to start working with this library :-)
Itay

[2016-12-22 20:05] dan-silver commented on #24
Interesting, I'm not seeing that error. What version of typescript are you using and are you building with tsc (global) or the npm run build command?

TypeScript 2.1 is required as a dev dependency in the package.json

[2016-12-22 20:45] itaydemri commented on #24
I guess you're right! i'm using 2.0.9 currently.

i'll have to upgrade my project which might take a while cause I see some new build errors after upgrading to 2.1.4 :-(

Since 2.1 was just released in November, i would have consider supporting typescript ^2.0.0 versions for a while if possible.

Thanks for your help Dan! and i'm sure i'll use this package very soon.
Itay

[2016-12-22 20:50] dan-silver commented on #24
Glad we're able to figure this out!  I'll look into making this compatible with typescript ^2.0.0.

Also, I think you mentioned in the other thread that you're waiting on the types (https://github.com/microsoftgraph/msgraph-typescript-typings) to migrate away from typings and support @types.  That project was also just updated and although we don't publish to @types, you can save it as a dev depen

[2017-01-01 00:36] bradley-dotnet opened #25 "Cannot import with SystemJS"
I am trying to load the SDK into a Angular2/Typescript application that is using SystemJS. I started with the code from the typescript sample.

`import { Client as GraphClient } from "msgraph-sdk-javascript";`

Works in the typescript file using the library but I get a 404: cannot access localhost:8080/msgraph-sdk-javscript. If I add this map to my systemjs.config.js:

`'msgraph-sdk-javascript': '

[2017-01-04 00:00] dan-silver commented on #25
Hi @bradley-dotnet ! I'm not too familiar with SystemJS, but I tried importing the SDK and got the same errors that you described.  I'll continue investigating and I'm also trying to find someone that's already familiar with SystemJS.

[2017-01-08 01:59] #24 closed

[2017-01-19 17:57] dan-silver commented on #25
I'd love to investigate this more, but I unfortunately can't commit to a time frame. Did you happen to find a workaround to this issue that we can share with others? I'll leave this open so others know there's a known issue importing this library with SystemJs.

[2017-01-19 18:18] bradley-dotnet commented on #25
@dan-silver My workaround at present is to manually load the SDK on my index.html and declare the Client object as an "any" global to use it (same thing I have to do for SignalR at the moment). I could post some sample code this evening for readers until this is fixed.

[2017-01-29 03:52] bradley-dotnet opened #30 "Query results cached, workaround blocked"
Steps:
1. Request CalendarView for all of today with an appointment active today
2. Note the subject
3. Edit the subject in outlook.com
4. Re-request the same CalendarView

The subject is the same as the old one. If you request it again, the update comes through. It seems to be caching? I tried getting around this by adding a nonce to the query string but I got a 400 bad request when doing so.

[2017-01-29 04:09] bradley-dotnet commented on #30
This was a mistake on my end, never mind.

[2017-01-29 04:09] #30 closed

[2017-03-05 07:01] sbiaudet commented on #25
@bradley-dotnet could you post a sample code ? I've always an undefined error. Thanks

[2017-03-05 20:54] sbiaudet commented on #25
Ok I've found my mistake. I forgot delegate...

With this syntax it's ok

[2017-03-23 16:08] jasonjoh opened #34 "Running Node.js app fails with "Cannot find module 'es6-promise'""
After installing the SDK via NPM into a Node.js web app, when I run the app from the command line I get:

[code]

Installing `es6-promise` manually via npm fixes this. However, you should have this listed as a dependency in your package.json. It's currently only listed under `devDependencies`.

[2017-03-23 16:27] #34 closed

[2017-03-23 16:37] dan-silver commented on #34
Thanks, I agree this should be in dependencies not devDependencies. Fixed in version 0.4.1

[2017-04-28 17:18] akramhussein opened #39 "Timeout property of superagent library should be exposed"
Our testing experience has shown that intermittently the MSGraph can fail.

In our test-suite we've extended the time out of Mocha and this has resolved it, but we cannot do this in the main code as timeout property/method of `superagent` is not exposed.

Would it be possible to expose it as an option with a default perhaps?

[2017-04-30 03:02] dan-silver commented on #39
That's a great idea! We should support a library default, a client default set in MicrosoftGraph.Client.init, and a per call timeout method.

I can't guarantee when we can add the timeout property, but if you get to it first and submit a pull request I'm happy to review it.

[2017-05-05 09:47] akramhussein commented on #39
Hi @dan-silver - sounds good, I will take a look.

[2017-05-16 14:47] bengourley opened #42 "Support for "Retry-After" header?"
Hello 👋 !

It looks to me like there is no way to access the value provided by the server for `Retry-After` when [throttling is applied](https://developer.microsoft.com/en-us/graph/docs/concepts/throttling).

It would be good to make it available on the [`GraphErr` type](https://github.com/microsoftgraph/msgraph-sdk-javascript/blob/2719513160fc03e8808e69a308350e75abf383c6/src/ResponseHandler.ts#L6

[2017-05-24 23:51] dan-silver commented on #42
Hello!  You can access response headers when using callbacks with the rawResponse parameter that has everything that we don't surface by default.
[code]

I agree that we're missing support for accessing headers when developers use promises instead of callbacks. Adding it to the GraphErr type would work, but then you can only access the headers if the call failed.  I'm not sure we can add this to t

[2017-05-25 21:58] Oliverr opened #43 "Filter Start/DateTime"
Trying to query my calendar and return the next 5 events.

Query setup:

[code]

When executed Graph replies with:

[code]

Does `2017-05-26T00:00:00` not match `'yyyy-mm-ddThh:mm:ss('.'s+)?(zzzzzz)?'`?

[2017-05-25 22:23] Oliverr commented on #43
Possibly related: https://github.com/OData/odata.net/issues/534

[2017-05-25 22:28] dan-silver commented on #43
Can you try wrapping the date in single quotes?

[code]

[2017-05-25 22:32] Oliverr commented on #43
Spot on, many thanks!

[2017-05-25 22:32] #43 closed

[2017-05-26 11:30] bengourley commented on #42
I can solve the issue by switching to the callback style, thanks for that. I picked up this code from a colleague so wasn't aware both promise/callback interfaces were provided.

In terms of surfacing the headers for promise users, yes, I guess adding the headers to the object in the reject callback would suffice.

Thanks!

[2017-05-30 04:15] AnoXDD commented on #16
Hi @dan-silver ,

Thanks for the tips on getting the download link of the item!

Since it looks like Graph will complain if you `select("@microsoft.graph.downloadUrl")` by saying `character '@' is not valid`, is there other way around to only get the download link?

I tried to use [Download as described here](https://dev.onedrive.com/items/download.htm) but Promise failed to follow the redirect li

[2017-05-30 21:07] dan-silver commented on #16
@AnoXDD Can you try this? I found `content.downloadUrl` at https://stackoverflow.com/a/39495428/2517012 and tested it with the Graph JS SDK.
[code]

[2017-05-30 21:40] AnoXDD commented on #16
Thanks for the answer! But unfortunately that doesn't work for me. Would you mind sharing how you tested it?

My code snippet
[code]

It works if I just do
[code]

And it is worth noting that this is the old OneDrive API before it was integrated with Graph (and it does start with a `@`). I used to do so (and it worked) with the old API call, but since Graph doesn't allow `@`, I guess there really

[2017-05-30 21:47] dan-silver commented on #16
I think if you select on content.downloadUrl, in the response it's still @microsoft.graph.downloadUrl. In your first code snippet, are there other properties returned on the res object?

![image](https://cloud.githubusercontent.com/assets/1266893/26606401/9c43fbbe-4546-11e7-8f42-674915dadc74.png)

[code]

[2017-05-30 23:47] AnoXDD commented on #16
This is very interesting. I run the same way as you did but I didn't get anything

![image](https://cloud.githubusercontent.com/assets/10682290/26609675/62de95f8-4557-11e7-830d-4bb5b89fc0af.png)

Even trying to copy and paste the code you provided
![image](https://cloud.githubusercontent.com/assets/10682290/26609698/7bbad7da-4557-11e7-8bc5-6fa063e6e0a1.png)

And I'm using token flow and it's on my

[2017-05-31 17:11] dan-silver commented on #16
@rgregg Hey Ryan, do you know the proper way to $select the @microsoft.graph.downloadUrl for a drive item?  We're seeing it throw `character '@' is not valid` errors.  Is selecting content.downloadUrl an approved workaround? It seems to work for me, but not @AnoXDD . Thanks!

[2017-06-02 19:37] tarunchopra opened #44 "CDN link"
Can we get CDN link for this library? We want to access graph using this library from ScriptLab (https://github.com/OfficeDev/script-lab) but we need JavaScript CDN to do that. ScriptLab does not support TypeScript

[2017-06-02 19:53] Zlatkovsky commented on #44
@tarunchopra , Script Lab does support TypeScript... but in any case, you can always make _any_ NPM package into a CDN location by using a service like https://unpkg.com:

https://unpkg.com/@microsoft/microsoft-graph-client@1.0.0/lib/graph-js-sdk-web.js

That being said, we don’t currently have a way to authenticate to Graph from Script Lab.  Issues
https://github.com/OfficeDev/script-lab/issues/4

[2017-08-15 20:25] anpetral-msft opened #47 "Dependency on package.json breaks ability to webpack"
GraphRequest.js depends on the ability to open ../../package.json. This breaks the ability to package the script easily with tools like webpack or host the scripts on a CDN, and takes an external dependency on the packaging of the scripts (NPM).

I should clarify that it can be made to work with webpack, but it requires the use of json-loader.

[2017-08-21 22:22] #44 closed

[2017-08-21 22:24] dan-silver commented on #47
Thanks @anpetral-msft for reporting this. We depend on the package.json file for getting the version number. We can create a constants file instead of depending on package.json.

[2017-08-22 00:09] anpetral-msft commented on #47
Thanks for looking into this! That would address the concern.

From: Dan Silver [mailto:notifications@github.com]
Sent: Monday, August 21, 2017 3:25 PM
To: microsoftgraph/msgraph-sdk-javascript <msgraph-sdk-javascript@noreply.github.com>
Cc: Andres Petralli <Andres.Petralli@microsoft.com>; Mention <mention@noreply.github.com>
Subject: Re: [microsoftgraph/msgraph-sdk-javascript] Dependency on packa

[2017-09-01 14:24] tmszyman opened #48 "Null response - Content-Type: image/jpeg"
I have React app and I'm using msgraph-sdk-javascript to connect with Microsoft Graph API. I saw that response with content type - image/jpeg returns null value, so I can not decode the image and share in the app.

Sample query: '/me/contacts/' + id + '/photo/$value'

[2017-09-01 16:13] MIchaelMainer commented on #48
Can you confirm that the user has an image set for them?

[2017-09-01 18:43] tmszyman commented on #48
Yes, the user has an image. Graph API Explorer returns photo and Postman too, but this library returns null value.

[2017-09-01 20:12] MIchaelMainer commented on #48
Can you provide me with a HTTP capture of both the request sent by the client and the response received by it?

[2017-09-04 14:34] tmszyman commented on #48
Response:

It's like captured response is good, but why I can't access it from code...
Response in console is null:
[code]

[2017-09-06 22:48] MIchaelMainer commented on #48
I expect that this is the proper way to get a photo stream. Can you try this and tell us if this works for you:

client
    .api('https://graph.microsoft.com/v1.0/me/photo/$value')
    .getStream((err, downloadStream) => {
        let writeStream = fs.createWriteStream('../myPhoto.jpg');
        downloadStream.pipe(writeStream).on('error', console.log);
    });

https://github.com/microsoftgraph/m

[2017-09-09 00:01] tmszyman commented on #48
It works... thanks.

[2017-09-23 02:01] ddaeschler opened #50 "getStream never sets err parameter on callback"
Due to what I believe is a bug here:

https://github.com/microsoftgraph/msgraph-sdk-javascript/blob/b3f23094d6425f1c04a745fd23b215dbc40e3612/src/GraphRequest.ts#L306

A getStream call will never return err as non-null. I'm seeing a 401 authorization error and I'm unable to catch it to refresh my token since err is always null. The result is that I end up streaming the JSON error instead of the fil

[2017-09-26 13:34] cyberjoac opened #51 "Java SDK support"
Hi, do you plan to release a Java SDK ?
If so, when ? Thanks

[2017-09-26 18:23] cbales commented on #51
We are. You can track the progress in this issue on the Android repo: https://github.com/microsoftgraph/msgraph-sdk-android/issues/62

[2017-09-26 18:23] #51 closed

[2017-09-28 17:32] #48 closed

[2017-10-05 23:31] casieber commented on #50
Hi, thanks for reaching out.

The SDK expects that the token provided to the authentication provider callback, configured by the consuming application during library initialization, is always a valid access token.

The error you are seeing, an authorization error due to an expired/invalid token, is not something that the SDK was built to handle.

Your application is responsible for refreshing toke

[2017-10-06 00:34] ddaeschler commented on #50
Thank you for the response!

I've worked around this issue another way, and I'm still using the 401 response to trigger a refresh. However, I will definitely be using the expiration checking method in a future revision. Just taking care to make sure I have a few extra seconds to make the call to avoid the race condition between check and execution.

Thank you!

[2017-10-06 00:34] #50 closed

[2017-11-02 23:26] luzlab commented on #42
@bengourley We were you able to find the _Retry After_ headers on the response? I don't see that header on the response when I get the 429 errors.

<img width="1603" alt="screen shot 2017-11-02 at 4 25 55 pm" src="https://user-images.githubusercontent.com/9924835/32355191-8e4cb96e-bfea-11e7-9698-42e275dec660.png">

The screenshot is a log of the headers in the response.

[2017-11-03 09:40] bengourley commented on #42
I no longer develop the application I was using this on, but from my memory we didn't get around to attempting to use the `retry-after` in the application. I don't I ever did an ad-hoc test that resulted in a 429 with which to test for the header. Sorry I can't be of more help!

[2017-11-03 21:30] MIchaelMainer commented on #42
@luzlab Can you provide capture of the request and response for that 429 error?

[2017-11-03 22:36] luzlab commented on #42
Here's the error including the request and response.

[code]

[2017-11-06 19:11] luzlab commented on #42
Is there somewhere else I should open a ticket for this issue as well? It's not clear what the preferred channel is for issues like this...

[2017-11-06 21:10] MIchaelMainer commented on #42
@luzlab There should be a place for opening issues like this. This looks like it is either a service issue if the retry-after is expected, or if it shouldn't be expected, we should update the documentation. I've got some questions out on this and will leave this issue open until I have an answer.

[2017-11-06 21:11] luzlab commented on #42
@MIchaelMainer Did you mean "THIS should be a good place for opening issues like this?"

[2017-11-06 21:19] MIchaelMainer commented on #42
@luzlab This isn't a good place for opening issues like this since this repo is for the client library. We are a consumer of the service. I'd just be a go between you and those who can say if this your reported issue is expected. The service (Graph) and underlying functionality (workloads like Exchange, OneDrive, etc) are where issues like this should go. If the issue can be a StackOverflow questi

[2017-11-06 21:21] luzlab commented on #42
@MIchaelMainer Thanks. I wasn't sure if Stack Overflow was a good place report discrepancies between docs and actual behavior. Let me know if you want me to post a question there.

Thank you for looking into this!

[2017-11-06 21:23] MIchaelMainer commented on #42
You are welcome.
Yes, posting to StackOverflow would work great. And for continuity, please link to the StackOverflow post from this issue. Thank you.

[2017-11-06 22:23] luzlab commented on #42
I made an [issue on stackoverflow](https://stackoverflow.com/questions/47146598/not-receiving-retry-after-headers-from-ms-graph-api).

[2017-11-07 13:30] ScottGuymer opened #53 "Proxy Configuration"
Is there any support for configuring proxy settings on this library?

[2017-11-07 18:39] MIchaelMainer commented on #53
Hello @ScottGuymer

I don't think so since this library wraps superagent and super agent doesn't have a proxy setting. You might need to fallback to superagent and use this.

https://www.npmjs.com/package/superagent-proxy

[2017-11-07 19:39] ScottGuymer commented on #53
If the package was to expose the superagent as part of the client then it
could be configured to use superagent proxy.

But as it stands superagent isnt accessible.

On Tue, 7 Nov 2017, 18:40 Michael Mainer, <notifications@github.com> wrote:

[2017-11-07 19:41] MIchaelMainer commented on #53
I agree. I think this should be done. I've opened this in our backlog to expose more of superagent so that we aren't hiding functionality.

[2017-11-07 19:41] #53 closed

[2017-11-11 09:28] rgardler opened #54 "copyToSection not implemented?"
I'm trying to copy a page from one section to another as [documented](https://developer.microsoft.com/en-us/graph/docs/api-reference/v1.0/api/page_copytosection).

Code to do the move:

[code]

When this is run I get a 501 status code with message "OData Feature not implemented. {0}"

There is every chance I am doing something stupid since in the Graph Explorer using:

URI: https://graph.microsoft

[2017-11-12 06:18] rgardler opened #55 "Cannot get page content (but have workaround)"
After having retrieved a list of pages I am attempting to get the content of that page. I am using, the response does not include the content, this can be reproduced as follows

[code]

`console.log(res)` displays '{}'

WORKAROUND: `console.log(raw.res.text)` provides the page content.

[2017-11-13 17:39] MIchaelMainer commented on #55
I think this is by design. The content comes back as HTML, not as JSON, and therefore isn't deserialized into a JS object.

[2017-11-13 17:39] #55 closed

[2017-11-13 17:48] MIchaelMainer commented on #54
Questions like this should be posted to StackOverflow. Issues with the client library should be posted here.

Once you've posted to StackOverflow, can you post a link to your StackOverflow post in this issue?

Thank you for bringing this to our attention.

[2017-11-14 01:53] rgardler commented on #55
OK, Then at least have the SDK behave in a way that is predictable. Returning an empty object in the place every other call that I've tried provides the actual content is non-intuitive. I spent hours debugging this, in the end I had to go into the SDK code to figure it out.

At the very least I suggest you actually document this so that other people don't hit this problem. The obvious place is htt

[2017-11-20 10:26] athapliyal opened #57 "Forbidden 403 error"
Hello,

I am trying to access skills for a particular user which can be retrieved from `https://graph.microsoft.com/beta/me/skills` (tested at https://developer.microsoft.com/en-us/graph/graph-explorer)

However, when I write a function in my react app for the same:

`  getSkills(callback) {
    this.client
      .api('/me/skills')
      .get((err, res) => {
        if (!err) {
          callback(

[2017-11-20 18:28] MIchaelMainer commented on #57
Thank you for contacting us. Please post questions to StackOverflow with the tag [microsoftgraph]. Provide a link to your question for this repo issue.

[2017-11-30 07:46] suresh1271 opened #58 "Proxy issue when running behind corporate proxy"
Hi, I'm working under corporate proxy. It is not allowing Client to request microsoftGraph.Client.init(). Can anyone please suggest me where to add my proxy and port.

var microsoftGraph = require("microsoft/microsoft-graph-client");
var token=<Microsoft Access Token>;
var client = microsoftGraph.Client.init({
        authProvider: (done) => {
          // Just return the token
          done(null

[2017-12-05 09:41] flurin commented on #53
Meanwhile you can use a workaround like this:

[code]

[2017-12-05 09:41] flurin commented on #58
Sadly there is no support for that yet. But there is a workaround: https://github.com/microsoftgraph/msgraph-sdk-javascript/issues/53#issuecomment-349249537

[2017-12-12 05:28] suresh1271 commented on #58
Thank you @flurin , It's working. I got it.

[2017-12-12 05:28] #58 closed

[2018-01-02 19:59] baywet commented on #42
the retry-after header is not consistent across the graph, added a uservoice post for that. (still under validation, might take some time to appear) https://officespdev.uservoice.com/forums/224641-feature-requests-and-feedback/suggestions/32797489-consistent-retry-after-information-accross-differe

[2018-01-15 01:48] ehahn9 opened #60 "npm ERR! 404 Not Found: @microsoft/microsoft-graph-client@^1.0.0"
Maybe a newbie error but as of 2018-01-14 the package seems to be missing from npm and yarn both?

Complete log:

[code]

[2018-01-15 02:04] ehahn9 commented on #60
looks like newbie error after all :-) apologies.

[2018-01-15 02:04] #60 closed

[2018-01-23 17:49] MIchaelMainer opened #61 "Error TS2307: Cannot find module '@microsoft/microsoft-graph-client'"
https://stackoverflow.com/questions/48380812/error-ts2307-cannot-find-module-microsoft-microsoft-graph-client

Error TS2307: Cannot find module '@microsoft/microsoft-graph-client'.
The same happens, when trying to import @microsoft/microsoft-graph-types. Oddly, VS Code resolves the path to the module correctly, but gulp throws the above mentioned error while building.

2123487

[2018-01-31 17:22] warrenmcquinn opened #62 "Paging / Pagination request"
Hey there,

Thanks for open-sourcing this library!

It'd be great if someone updated the Readme to address pagination.

For example, accessing a user's contacts with an MS Graph query to `/contacts` returns 10 results per page by default. It's possible to add a `$top` query parameter to increase that page size.

However, it should definitely be mentioned that the `result["@odata.nextLink"]` URL (r

[2018-01-31 20:38] MIchaelMainer commented on #62
Thank you @warrenmcquinn.  I agree that we should have documentation on paging. 2123467

[2018-01-31 20:49] #57 closed

[2018-01-31 20:49] #54 closed

[2018-02-15 14:10] kritika28saxena opened #65 "Upload image as a stream to one drive"
When uploading an image as a stream from node app, it results in Error: read ECONNRESET, so not able to upload image more than 120KB

[2018-02-15 18:40] MIchaelMainer commented on #65
Can you provide more details:
- [ ] Fiddler capture of request and response.
- [ ] code used when you encounter the issue.
- [ ] stack trace
- [ ] app information like platform

[2018-03-01 04:00] Hongbo-Miao opened #294 "getEmailActivityCounts returns broken image"
When I try to run
GET https://graph.microsoft.com/beta/reports/getEmailActivityCounts(period='D7')

Graph Explorer shows an broken image (it returns csv file, so might because not support render csv file)

Same post, postman can show the result:
Report Refresh Date,Send,Receive,Read,Report Date,Report Period
2018-02-26,,1,,2018-02-26,7
2018-02-26,,,,2018-02-25,7
2018-02-26,,2,,2018-02-24,7
2018-02

[2018-03-01 06:37] aslanovsergey opened #66 "Update access token"
Hello
This just a question.
How i can check for outdated token and  implement update of token?

[2018-03-02 20:19] mahpour commented on #62
How is the `@OData.nextLink` going to be self-consumed by this library to get the next batch of items?

[2018-03-05 18:20] MIchaelMainer commented on #62
@mahpour You'll use the @OData.nextlink value as the url to make the next call to get the next page of results.

[2018-03-05 19:07] mahpour commented on #62
I understand that, but aren’t we using this JavaScript library to not deal with http requests directly? It doesn’t make sense to make some of the calls using Microsoft client and some via direct http methods...

[2018-03-05 19:10] MIchaelMainer commented on #62
Yes, I agree with you. It hasn't been implemented yet.

[2018-03-17 05:00] ak99372 opened #67 "Web-pack/Typescript warnings: Emitted value instead of an instance of Error - Cannot find source file"
using [microsoft-graph-client] npm in typescript file like so...

`import * as MsGraph from '@microsoft/microsoft-graph-client';`
...
`let graphClient: MsGraph.Client = MsGraph.Client.init({
			authProvider: (done) => {
				done(null, graphToken);
			}
		});`

I receive a lot of warnings from web-pack when compiling...

(Emitted value instead of an instance of Error) Cannot find source file '../..

[2018-03-23 05:55] Muthuprasanth opened #68 "client.headers is not a function"
I need to set timezone in headers.If i use either header or headers it returns client.header is not a function or client.header is not a function.How and where to set headers

[2018-03-27 16:47] lumayara commented on #61
I am getting the same error.

[2018-03-27 17:47] MIchaelMainer commented on #61
@lumayara I'm sorry that I haven't gotten to this.

[2018-03-28 14:14] aslanovsergey commented on #62
Would be nice to have it

[2018-03-28 15:27] kriede commented on #62
:+1: +1 for implementing this

[2018-03-29 20:17] #66 closed

[2018-03-29 20:20] MIchaelMainer commented on #68
Here's an example:
https://github.com/microsoftgraph/msgraph-sdk-javascript/blob/c91286e354a5d70c22f0a4b5b53afcefad263e84/samples/node/node-sample.js#L204

[2018-03-29 20:20] #68 closed

[2018-04-05 23:24] balbany commented on #47
Any update to this? Those using things like create-react-app will encounter significant pain...

[2018-05-15 06:30] sbasi5576 opened #71 "How to use this in Vue.js?"

[2018-05-16 03:31] baykingsea opened #72 "Incremental Auth"
Can I do incremental Auth with this library?  For example, a user signs in only with the profile but later authorizes access to to their email account or calendar.

[2018-05-17 02:46] binarykitchen opened #73 "Make it available via CDN?"
Like office-js and office-js-helpers, would be cool.

[2018-05-17 03:13] binarykitchen commented on #73
Ah, it already is. Just not documented:
//unpkg.com/@microsoft/microsoft-graph-client@1.0.0/lib/graph-js-sdk-web.js

[2018-05-17 03:13] #73 closed

[2018-05-20 05:29] tomjebo opened #74 "bad Content-Type in patch() call?"
I've been trying to use the following code:

        client
            .api('/planner/tasks/' + task.id)
            .header("If-Match", task["@odata.etag"])
            .patch(patchString).then(function (res) {
                // refresh the data
                loadContextData();

                $("#pivotContainer").find("*").prop('disabled', false);
                $('#spinnerLoading').css({

[2018-05-21 11:40] moasakthi opened #75 "Cannot read property 'request-id' of undefined"
I've been trying to use the following code:
` let token = await getAccessToken(authData),
    auth_data = token.token,
    isRefresh = token.isRefresh;
  if (auth_data.access_token) {
    const client = graph.Client.init({
      authProvider: (done) => {
        done(null, auth_data.access_token);
      }
    });
    let url = `https://outlook.office.com/api/v2.0/me/calendars/${id.id}/events`

[2018-05-21 17:38] MIchaelMainer commented on #75
You are trying to post to

`let url = 'https://outlook.office.com/api/v2.0/me/calendars/${id.id}/events'`

The Outlook specific endpoint has been deemphasized. This is the Microsoft Graph client library. Please change that line to:

`//The following line gets posted to https://graph.microsoft.com/v1.0/`
`let url = 'me/calendars/${id.id}/events'`

Are you getting a token for Microsoft Graph or for

[2018-05-22 11:12] moasakthi commented on #75
@MIchaelMainer yes i am using Microsoft Graph for getting token. I tried with changing url like you mentioned above: it show `'InvalidAuthenticationToken'` . full error below

[code]

[2018-05-22 17:42] MIchaelMainer commented on #75
What resource is the registered application trying to access? Microsoft Graph or Microsoft Exchange Online.

Either:
1) Inspect the access token and show me the resource.
2) Can you share with me how you registered your application?

[2018-06-07 18:11] cjm771 opened #79 "404 Error"
Hi I am getting a 404 error when querying any api endpoint. Im trying to get calendar events. I have added the following to the application scopes:
[code]
Any idea what might be wrong? thanks.
![image](https://user-images.githubusercontent.com/4239492/41117983-64788416-6a43-11e8-9f8f-13038ab26335.png)

[2018-06-08 00:46] MIchaelMainer commented on #79
Thank you for your question about the Microsoft Graph. Since this question is not specific to the JavaScript client library, please post your questions to StackOverflow with the microsoftgraph tag. After you've posted your question on StackOverflow, please provide a link here back to your post. That way, the question will be found by more people -- plus it gives back to the dev community on StackO

[2018-06-14 10:31] Rwiju opened #80 "Cannot view entire message body"
![capture](https://user-images.githubusercontent.com/40265419/41407245-717ddeaa-6fec-11e8-9983-92b2892573a7.PNG)

The api only shows me the preview of the message. What do I need to do in order to view the whole message body on click?

[2018-06-14 10:39] Rwiju commented on #80
https://stackoverflow.com/questions/50855479/view-full-message-body-with-outlook-api
Link to Stackoverflow question

[2018-06-21 15:55] MIchaelMainer commented on #72
This library's focus is on making the calls to Microsoft Graph. You can use any auth library that will support making calls to our auth endpoints. Please read more
https://docs.microsoft.com/en-us/azure/active-directory/develop/active-directory-authentication-scenarios

You will need to use v2 auth for incremental consent.
https://docs.microsoft.com/en-us/azure/active-directory/develop/active-dire

[2018-06-21 15:55] #72 closed

[2018-06-28 08:25] franferns opened #83 "Run sample code"
I have downloaded and installed "npm install" . How do i run the sample code ?

[2018-07-04 08:47] muthurathinam commented on #83
Refer this: https://github.com/microsoftgraph/msgraph-sdk-javascript#running-node-samples

[2018-07-04 08:50] muthurathinam commented on #83
@franferns For running node samples refer the [README.md](https://github.com/microsoftgraph/msgraph-sdk-javascript#running-node-samples)

[2018-07-05 11:19] #83 closed

[2018-07-05 11:21] #79 closed

[2018-07-11 10:51] muthurathinam commented on #80
The guide is to provide sample setup that to make calls to the outlook api through msgraph. If you want to get the whole message body of the mails you may have to change the snippet in [this call](https://docs.microsoft.com/en-us/outlook/rest/javascript-tutorial#the-getuserinboxmessages-function) by selecting body in the select query and utilize that response to achieve the functionality you desir

[2018-07-11 10:51] #80 closed

[2018-07-24 12:15] Gogul09 opened #90 "Couldn't get children from onedrive using get?"
[code]

This is returning null in `value` response.

I have given all the delegated and application permissions in my app.

- Files.Read
- Files.Read.All

Still not able to access the children in from my OneDrive.

[2018-07-25 10:15] muthurathinam commented on #90
Are you getting any error response..?
what is the value you are getting for err..?

[2018-07-26 05:48] muthurathinam commented on #74
Yeah the content type should be "application/json" by default. Its fixed in the dev branch and will be available in the next release.

[2018-07-31 04:01] muthurathinam commented on #65
Its fixed in the dev branch and will be available in the next release !

[2018-08-01 09:27] muthurathinam commented on #74
Fixed in the release https://github.com/microsoftgraph/msgraph-sdk-javascript/releases/tag/1.1.0

[2018-08-01 09:27] #74 closed

[2018-08-01 09:27] muthurathinam commented on #65
Fixed in the release https://github.com/microsoftgraph/msgraph-sdk-javascript/releases/tag/1.1.0

[2018-08-01 09:27] #65 closed

[2018-08-08 13:38] rubaiet opened #95 "@microsoft/microsoft-graph-client shows missing status"
I run `npm install @microsoft/microsoft-graph-client` but when run `npm start` it shows error message `Cannot find module '@microsoft/microsoft-graph-client'`.

I tried to check the package status by running command `npm outdated` but it shows the package is missing with below detail.
`Package                                             Current      Wanted       Latest  Location
@microsoft/microso

[2018-08-09 03:47] muthurathinam commented on #95
@rubaiet Try to uninstall and install the package again then run ` npm list  @microsoft/microsoft-graph-client` Does it reports `(empty)` ?

[2018-08-09 07:02] rubaiet commented on #95
It shows these below text
`node-tutorial@0.0.0 /Applications/MAMP/htdocs/node-tutorial
└── UNMET DEPENDENCY @microsoft/microsoft-graph-client@1.1.0

npm ERR! missing: @microsoft/microsoft-graph-client@1.1.0, required by node-tutorial@0.0.0`

[2018-08-09 08:36] muthurathinam commented on #95
Try removing the node_modules folder and run `npm install` .

[2018-08-16 14:27] jmorino opened #97 "Unable to use the library through a proxy"
I need to call Graph API through a corporate proxy, but I found no mean to pass options to the underlying fetch() library, in order to specify the proxy URL or a custom HTTP(S) agent.

I think it would be great to provide a way to pass options to fetch(), so it will solve any issue about proxy, timeout or any environment-specific needs.

[2018-08-16 15:10] InternetExplorer8 opened #98 "Support for "Extensions" field?"
It seems that the Extensions field (in my case, Calendar API) is not selectable. The queries were built with /delta. I have seen the following issue: https://stackoverflow.com/questions/47385272/failed-to-get-open-extension-when-use-delta. However, this applies to $expand and filter.

It would be very desirable, otherwise we cannot load custom fields.

Example:
`.select("subject,extensions")`

[2018-08-17 08:57] InternetExplorer8 opened #99 "nextLink with /delta doesn't work for /users"
`nextLink` does not work with `/delta` for `/users/**`. The first request (first page) works fine, but as soon as we want to load more data via nextLink, we get the following error message:

`
{
   code:'SyncStateNotFound',
   message:'The sync state root folder is not found.'
}
`

Same issue:
https://stackoverflow.com/questions/49935297/microsoft-graph-get-delta-changes-in-meeting-room-calendars?

[2018-08-22 04:06] muthurathinam commented on #97
@jmorino Good one. Will implement a way to pass in the options for fetch.

[2018-08-22 04:44] muthurathinam commented on #98
@InternetExplorer8 Thank you for reporting this, I will look into this.

[2018-08-22 04:45] muthurathinam commented on #99
@InternetExplorer8
Thank you for reporting this issue, I will look into this.

[2018-08-22 09:07] jmorino commented on #97
thanks @muthurathinam !

In the meantime, here is my workaround if it can help someone: I just extend the globally-exposed Request class and set a custom HTTPS agent.

[code]

[2018-08-23 04:53] muthurathinam commented on #47
This was fixed with this commit: https://github.com/microsoftgraph/msgraph-sdk-javascript/commit/355fbcd77286629277ea226a486c08b12c405c95

[2018-08-23 04:53] #47 closed

[2018-09-06 14:44] ramonitor opened #106 "Upgrade to 1.2.0 of msgraph sdk results in failing pnp js odata parsing"
Upgrading the msgraph-sdk-javascript package to 1.2.0 results in a no longer working pnp js search parsing.

Downgrading to version 1.0.0 makes it work again.

With version 1.2.0 of this sdk, I get errors like 'TypeError: Cannot read property 'isUrlAbsolute' of undefined' or 'unexpected token in json at position 0' as result of doing a SharePoint Search via PnP JS. Tested with 1.1.2, 1.1.4 and 1.2

[2018-09-06 17:42] MIchaelMainer commented on #106
I'm sorry that you encountered this. Thank you for reporting this issue.

@ramonitor What call is being made? Can you capture and share the following:
- JS client calls
- sanitized (no PII) request and response URLs, headers, and bodies
- links to documentation that describe the functionality that you expect to work

[2018-09-07 19:21] ramonitor commented on #106
@MIchaelMainer, I'll get back on this.

[2018-09-09 22:12] vjpudelski opened #107 "OneNote Pages not being returned using contentUrl"
I have tried using the page.contentUrl to return the page content using the client get command and the getStream to no avail. I would appear the get command the result is undefined while the getstream just produces an empty file when trying to write the stream to file.

[2018-09-10 03:53] Arvind6353 opened #108 "Ability to use service / daemon process to get the contents of the files at an enterprise level"
Hi ,

I have a use case where in I need to use a service / background process to get the files present in one drive at an enterprise level . Can you guys please let me know the steps involved.

For getting access token I assume there must be a way with out involving user (such as using a service account etc).

Thanks,
Arvindan

[2018-09-10 10:46] jasontianxie opened #109 "Request header field SdkVersion is not allowed by Access-Control-Allow-Headers in preflight response"
hi,
when i send a request to download a file :GET /me/drive/items/{item-id}/content
it will get an error :Request header field SdkVersion is not allowed by Access-Control-Allow-Headers in preflight response.

in request header:
SdkVersion:graph-js-1.2.0

[2018-09-10 13:11] muthurathinam commented on #109
@jasontianxie From where you are making your request ? is your Origin and Referer request headers are set ?

[2018-09-10 15:09] jmorino opened #110 "Method .getStream doesn't support Promises"
When trying to use the "Promise" syntax of the `.getStream` method (ie. with no callback),

[code]

I get the following error:

[code]

Nevertheless, the"callback" syntax works great:
[code]

[2018-09-10 15:48] jmorino commented on #110
The same goes for the `.putStream` method:
[code]
gives the following error:
[code]

[2018-09-10 16:01] muthurathinam commented on #107
Thanks for reporting this issue. will look into this.

[2018-09-10 16:26] muthurathinam commented on #110
This is done in [this](https://github.com/microsoftgraph/msgraph-sdk-javascript/pull/105) and will be available in our next release.

[2018-09-11 01:49] jasontianxie commented on #109
i make the reqest in web client side ,it is like this:
this.onedrive = MicrosoftGraph.Client.init({
								authProvider: (done) => {
									done(null, response.data[0].access_token);
								}
							});

this.onedrive.api('/me/drive/items/' + params.id + '/content').get().then.....

the request headers are :

:authority:public.ch.files.1drv.com
:method:OPTIONS
:path:/y4mzJSX7H5WZB61PCH-OJmsBCw

[2018-09-11 01:53] jasontianxie commented on #109
i make the reqest in web client side ,it is like this:
this.onedrive = MicrosoftGraph.Client.init({
								authProvider: (done) => {
									done(null, response.data[0].access_token);
								}
							});

this.onedrive.api('/me/drive/items/' + params.id + '/content').get().then.....

the request headers are :

Accept:*/*
Accept-Encoding:gzip, deflate, br
Accept-Language:en-US,en;q=0.9,zh-CN;q=0

[2018-09-11 05:35] DavidCannon opened #111 "Uploading files larger than 4 MB"
Hi @muthurathinam, I was wondering if you could provide a sample of how to upload a file that is larger than 4 MB using a browser?

[2018-09-11 05:45] muthurathinam commented on #108
Go through installation and usage in [README](https://github.com/microsoftgraph/msgraph-sdk-javascript#microsoft-graph-javascript-client-library) to setup and getting started with SDK in your application.

To get list of drives, to get all files or a file from OneDrive refer API Docs [[#1](https://developer.microsoft.com/en-us/graph/docs/api-reference/v1.0/api/drive_list), [#2](https://developer.m

[2018-09-11 05:48] muthurathinam commented on #111
@DavidCannon To upload a file to OneDrive..?

[2018-09-11 06:02] muthurathinam commented on #109
@jasontianxie
Can you provide me some more details.
1. Response headers for this get() request.
2. If there is a redirect request following this request, provide Request and Response headers
(Note: Hide the Authorization header in your response).
3. Screen shot of console error if any.

[2018-09-11 06:13] DavidCannon commented on #111
Yes. I'm actually uploading to SharePoint, but SharePoint and OneDrive for Business are pretty much the same. So what works for OneDrive should be fine. Thank you!

[2018-09-11 06:17] jasontianxie commented on #109
@muthurathinam
here are the infomations

1、Response headers for this get() request.
Generral：

Request URL:https://graph.microsoft.com/v1.0/me/drive/items/898AC54775936BE6!102/content
Request Method:GET
Status Code:302 Found
Remote Address:20.190.145.177:443
Referrer Policy:no-referrer-when-downgrade

Response headers:

Access-Control-Allow-Origin:*
Access-Control-Expose-Headers:ETag, Location, Pr

[2018-09-11 07:10] muthurathinam commented on #111
@DavidCannon
Support for [Large File uploading](https://github.com/microsoftgraph/msgraph-sdk-javascript/pull/94) to OneDrive is implemented and will be available in our next release.

Thank you for your patience till our next release. We really appreciate it!

[2018-09-12 12:51] sibelius commented on #61
this is fixed, can we close?

[2018-09-12 12:52] sibelius opened #112 "getting access token for a service without a user"
I've following this guide https://developer.microsoft.com/en-us/graph/docs/concepts/auth_v2_service of how to get access without a user

how an `authProvider` would look like?

should I use `fetch` api to get the access token?

would it make sense to provide a `getAccessToken` function to make this simple?

[2018-09-12 13:04] sibelius opened #113 "avoid polyfill fetch and promise"
Polyfills should be in user land

https://github.com/microsoftgraph/msgraph-sdk-javascript/blob/dev/src/GraphRequest.ts#L2

can we remove those and let the user polyfill them?

[2018-09-12 14:13] sibelius opened #114 "enable authProvider to accept a promise"
this would make things easy to get new tokens

instead of using callback style programming

[2018-09-12 14:48] Arvind6353 commented on #108
Thanks for the info :) Will have a look at this.

On Wed, Sep 12, 2018, 8:06 PM Sibelius Seraphini <notifications@github.com>
wrote:

[2018-09-12 18:18] sibelius opened #115 "should interface AuthProviderCallback accept null on accessToken?"
https://github.com/microsoftgraph/msgraph-sdk-javascript/blob/0f9ebecb26b0ba99210ba0bae8e739cafcbf4b5a/src/common.ts#L12-L14

it makes sense when we got an error to get an access token

[2018-09-12 21:56] sibelius commented on #61
related to this https://github.com/microsoftgraph/msgraph-typescript-typings/issues/24

[2018-09-14 09:06] muthurathinam commented on #115
@sibelius Yeah this does make sense, and thanks for bringing this to light.
Will make the change. If you have done it first, submit a pull request. Am happy to review !

[2018-09-14 09:53] muthurathinam commented on #113
@sibelius
Is this suggestion is for the browser environments(polyfills will add more weight to the js files) ? or is this something more specific about a certain advantage ?

[2018-09-15 00:35] muthurathinam commented on #114
@sibelius Thank you for your suggestion.
How this eases the way of getting new tokens, wouldn't it just be an another way ?
Can you please provide code sample of how this implementation would look like ?

[2018-09-17 03:43] muthurathinam commented on #114
@sibelius
This would introduce a breaking change also we have a plan to provide the integration of auth library to the SDK this will ease the way of getting auth token.
Till then you could do a workaround by handling your promise settlement in the authProvider function and then calling the callback.

[2018-09-17 08:35] sibelius commented on #114
It makes sense, maybe adding this to the docs should help newcomers

Tks

[2018-09-17 08:35] #114 closed

[2018-09-18 03:26] Arvind6353 commented on #108
Hi @sibelius @muthurathinam : I created an app via azure  and got the access token . I tried to use the graph api "https://graph.microsoft.com/v1.0/me/drive/root/children" .
Am getting the below error :

{
    "error": {
        "code": "BadRequest",
        "message": "Unable to retrieve user's mysite URL.",
        "innerError": {
            "request-id": "69434821-0fe6-435a-af52-3f88956b2d02",

[2018-09-18 03:30] muthurathinam commented on #108
@Arvind6353
Can you provide more details about your request and response:
1. Request headers (remember to hide your auth token)
2. Response headers
3. Complete response body

[2018-09-18 03:37] Arvind6353 commented on #108
Hi @muthurathinam ,
Please find the details below :
**Request** :
GET /v1.0/me/drive/root/children HTTP/1.1
Host: graph.microsoft.com
Authorization: Bearer xxxxxx

**Response:**

**Response Header** :
Cache-Control →private
Content-Type →application/json
Date →Tue, 18 Sep 2018 03:35:54 GMT
Duration →2286.7285
Strict-Transport-Security →max-age=31536000
Transfer-Encoding →chunked
client-request-id

[2018-09-18 05:09] muthurathinam commented on #108
@Arvind6353 Check [this](https://github.com/microsoftgraph/microsoft-graph-docs/issues/1354) out. It seems like a same scenario for you.!

[2018-09-18 21:00] sibelius commented on #108
@Arvind6353 check this https://github.com/microsoftgraph/msgraph-sdk-javascript/issues/114#issuecomment-421518305

as you are not using an user token

you do not have access to `/me`

you need to get `/users` and get data from an specific user

[2018-09-19 06:46] Arvind6353 commented on #108
Hi @muthurathinam @sibelius  I have got the access from admin and /users works now .

I have a question . Is there an endpoint which gives me the list of drives present .

What is the best way to get the list of all documents present in the one drive in an enterprise level .?

Thanks,
Arvindan

[2018-09-19 06:59] suresh1271 opened #117 "How to get the mail body beyond 255 characters ?"
Hello All, I am retrieving mails through the following code. But I am getting 255 characters only instead the whole body. Is there any way to remove this limit. Please let me know if there is any way.

const api =client
			.api('/me/mailfolders/inbox/messages')
			.top(10)
			.select('subject,from,receivedDateTime,isRead,bodyPreview')
			.orderby('receivedDateTime DESC')

			.get((err, res) => {

[2018-09-19 10:10] sibelius commented on #108
You need to iterate through all the users

[2018-09-19 10:32] muthurathinam commented on #117
Post these kinds of questions in the Stackoverflow in future. In your request you are requesting for preview of the mail body which is limited. Try removing and `bodyPreview` from the select query.

[2018-09-22 20:02] DavidCannon commented on #111
Thank you for this, but I'm afraid OneDrive for Business and SharePoint do not work, even though they are supported in the Graph API. The reason is because you have the "me" drive hard-coded, rather than allowing us to provide the drive ID. Here's an example of where it is hard-coded:

`return encodeURI(`/me/drive/root:${path}${fileName}:/createUploadSession`);`

Found here: https://github.com/mic

[2018-09-24 07:57] muthurathinam commented on #111
@DavidCannon Thanks for notifying, Will work on this.

[2018-09-24 12:15] suresh1271 commented on #117
@muthurathinam sorry for late reply... How can I print mail body if I remove bodyPreview. Actually the mail body is limited to 255 charcters in this query. I dont how to see the full body which is more that 255 characters. Please help me out.

[2018-09-25 06:58] muthurathinam commented on #117
@suresh1271  Please this post your question to StackOverflow with the microsoft-graph and microsoft-graph-sdks tags. After you've posted your question on StackOverflow, please provide a link here back to your StackOverflow post. That way, the question will be found by more people.

[2018-09-26 09:43] jasontianxie opened #119 "file preview get bad request response"
hi,
when i send a request to get a preview of a file ,it will get a bad request

1、Request URL:https://graph.microsoft.com/v1.0/me/drive/items/....!180/preview

2、Response Headers:
Access-Control-Allow-Origin:*
Access-Control-Expose-Headers:ETag, Location, Preference-Applied, Content-Range, request-id, client-request-id
Cache-Control:private
client-request-id:56.....bfc7c19
Content-Type:applicatio

[2018-09-26 10:34] muthurathinam commented on #119
@jasontianxie Can you provide the usage document for the api call that you are making ?

[2018-09-27 06:55] suresh1271 commented on #117
@muthurathinam please find the question in stackoverflow https://stackoverflow.com/questions/52531146/how-to-get-the-mail-body-beyond-255-characters

[2018-09-28 06:07] jasontianxie commented on #119
@muthurathinam
i got the usage from here:https://docs.microsoft.com/en-us/onedrive/developer/rest-api/api/driveitem_preview?view=odsp-graph-online

i used like this: this.onedrive.api('/me/drive/items/' + fileId + '/preview').post({}).then....

[2018-09-28 08:31] muthurathinam commented on #119
@jasontianxie Is this reproducible ? Actually its working fine for me.

Give me some details to learn more about your issue:
1. Repro steps
2. Your request body
3. Are you getting the same response in [Graph Explorer](https://developer.microsoft.com/en-us/graph/graph-explorer) ?

[2018-09-28 14:48] JSteunou opened #121 "Is it possible to go with Promise / async await form..."
...instead of old callback (err, res) form?

I found it weird that you want Promise but does not leverage it on API level. Would be so much more comfortable to be able to use async / await in 2018 :)

[2018-09-28 14:49] JSteunou commented on #113
I second @sibelius

libraries should document requirements, but let users add polyfills if they need it, not force it.

[2018-09-29 04:18] jasontianxie commented on #119
@muthurathinam
request body is an empty object{} ,from https://docs.microsoft.com/zh-cn/onedrive/developer/rest-api/api/driveitem_preview?view=odsp-graph-online ,every filed is optional

and in Graph Explorer still get the same problem，here is a screen shot：https://view.axel.org/item/96e21ac48201dd00

[2018-10-01 04:27] muthurathinam commented on #121
@JSteunou
We do have support for both callback and promise for API actions. Please refer the [calling pattern](https://github.com/microsoftgraph/msgraph-sdk-javascript/blob/dev/README.md#calling-pattern) in readme

[2018-10-01 05:49] muthurathinam commented on #119
@ificator  Is there any recent changes to this API ?

[2018-10-01 07:36] JSteunou commented on #121
My bad I did not see it :pray:

[2018-10-01 07:36] #121 closed

[2018-10-01 20:01] ificator commented on #119
I believe this is a documentation issue - the `preview` API is currently only available for OneDrive Business. If you try to use it against a OneDrive Consumer account it'll fail like this.

We'll look into updating the documentation so that it's more clear.

[2018-10-03 09:56] muthurathinam commented on #108
@Arvind6353 Please close this issue if your request is addressed. In future do post any issues with respect to this library in here and post your queries like this in Stackoverflow.

[2018-10-03 09:57] #108 closed

[2018-10-03 10:11] JSteunou commented on #113
I think that's a good choice that satisfy everyone. I also noticed `"main": "lib/src/index.js"` in the package.json, so using a builder like webpack should include only what's necessary.

:+1:

[2018-10-03 10:16] JSteunou commented on #113
Buuuuuuut it does not work because of https://github.com/microsoftgraph/msgraph-sdk-javascript/blob/dev/lib/src/GraphRequest.js#L3

So I'm in favour of #122 because usually, webpack users do know what they do, and know when and how include polyfills.

I prefer when the build with polyfills is the exception rather than the build without.

[2018-10-03 10:29] sibelius commented on #113
You can throw an error if polyfill was not included

[2018-10-03 10:29] muthurathinam commented on #113
By with and without polyfills I meant these two files [#1](https://github.com/microsoftgraph/msgraph-sdk-javascript/blob/dev/lib/graph-js-sdk-web.js) and [#2](https://github.com/microsoftgraph/msgraph-sdk-javascript/blob/dev/lib/graph-js-sdk-core.js).

@JSteunou This particular change will be a breaking change. So some good, supporting explanation and reference to some legitimate good practices do

[2018-10-03 10:42] JSteunou commented on #113
@muthurathinam I could use those files, if I was using `<script>` directly. But I'm building a complex app and using webpack as a builder. Builders rely on the `main` entry in the package.json by default. I could work around that by importing the *file* without the polyfills, but I would lose possible tree shaking, nice developer help and link thanks to .ts, etc.

That's a workaround, but that's n

[2018-10-05 06:04] muthurathinam commented on #113
@JSteunou Thank you for the explanation. I cannot take this up as of now. If you got time to get it done first, raise a pull request, am happy to review.

[2018-10-05 07:28] JSteunou commented on #113
I think the PR you need is #122 from @sibelius

[2018-10-05 08:43] muthurathinam commented on #113
I have already requested changes in that pull request. Please make those changes.

[2018-10-09 02:50] jasontianxie commented on #119
@muthurathinam @ificator ,thanks

[2018-10-10 01:00] usamamashkoor opened #123 "How i can upload files to my own Microsoft one drive from my website"
Hi i have a website and on the website i have my employees and i want my employees to upload their documents to my Microsoft one drive directly without any login.

is their a way i can do this because i want my users to feel like they are just uploading a file without any Microsoft login but in the back end i want the files to be uploaded to my Microsoft One drive is their a way i can achieve this

[2018-10-11 08:32] muthurathinam commented on #111
@jplevene yes we have 4MB limitation for emails. Also we have plan to support emails larger than 4MB and  I cannot give you the ETA as of now, this is going to take some time.

[2018-10-11 08:34] muthurathinam commented on #117
Answered and accepted in Stackoverflow.

[2018-10-11 08:34] #117 closed

[2018-10-11 10:09] muthurathinam commented on #123
@usamamashkoor

https://docs.microsoft.com/en-us/onedrive/developer/rest-api/getting-started/authentication?view=odsp-graph-online
Every call that is been made to the OneDrive needs to be authenticated, So as this upload.

[2018-10-16 04:02] muthurathinam commented on #109
## [Downloading content from OneDrive](https://docs.microsoft.com/en-us/onedrive/developer/rest-api/concepts/working-with-cors?view=odsp-graph-online)

Hello @jasontianxie @J3remyD,

To download files from OneDrive in a JavaScript app you cannot use the `/content` API, since this responds with a `302` redirect. A `302` redirect is explicitly prohibited when a CORS preflight is required, such as wh

[2018-10-17 12:52] J3remyD commented on #109
Helli @muthurathinam,

thank you very muche man, it works like a charm !!! :)

[2018-10-23 06:27] muthurathinam opened #124 "Missing types"
Moving [this](https://github.com/microsoftgraph/msgraph-typescript-typings/issues/26) issue from [msgraph-typescirpt-typings](https://github.com/microsoftgraph/msgraph-typescript-typings)

Missing types in @microsoft/microsoft-graph-client's 1.3.0 release:

node_modules/@microsoft/microsoft-graph-client/lib/src/common.d.ts(41,39): error TS2304: Cannot find name 'RequestInit'.
node_modules/@microso

[2018-10-23 06:44] muthurathinam commented on #124
@casz
Help me with the following:
1. Is this something reproducible. If so please provide the repro steps.
2. What is the editor that you are using.
3. These are the typing which are available in the typescript's lib.dom.d.ts, have included this in you project

[2018-10-25 03:51] jasontianxie commented on #109
@muthurathinam thanks

[2018-10-25 04:44] muthurathinam commented on #109
Closing this thread.

[2018-10-25 04:44] #109 closed

[2018-10-25 08:45] sharmajnu opened #125 "Retry-After header is not available for OneNote API through graph on 429 status code."
The retry header is not available for OneNote calls at least, I am not sure that its available on the drive api either. I read and understood that graph rely on underlying API and not all the underlying API supports this header. Could we get the list of API which supports Retry-After header documented so that we can do better error handling for 429?

[2018-10-25 08:55] #125 closed

[2018-11-07 08:07] ramonitor commented on #106
@MIchaelMainer , sorry for the late followup. I just put up a little code sample (https://github.com/ramonitor/graph-sdk-pnp-issue) to demonstrate the issue. As soon as you instantiate a Graph Client with a version > 1.0.0, the sp.search() via pnpjs no longer works;

[code]
results in:

[code]

Downgrading to version 1.0 of the MS Graph SDK makes the search query work fine. My guess is that is has

[2018-11-14 06:12] Leon-Atrish opened #127 "Sending just a Message using post"
I am getting null in response, please help.

[2018-11-14 20:44] sylvaingirardbe opened #128 "getStream without callback"
Hi,

I'm unable to call the `getStream` function without specifying a callback param in TS and just have it return a promise.

The signature is `getStream(callback: GraphRequestCallback): Promise<any>;`. Has this perhaps been an oversight?

[2018-11-14 22:06] sylvaingirardbe commented on #124
Ok, changing tsconfig.js to use `"lib": ["es6", "dom"],` did the trick.

[2018-11-27 08:13] songpr commented on #111
@muthurathinam could you please allow us to pass option "@microsoft.graph.conflictBehavior": "replace" as well, since I want to replace it rather than rename

[2018-11-28 03:42] muthurathinam commented on #128
@sylvaingirardbe Thanks for reporting. You should be required to pass in a callback or just have it to return a promise. Will fix this in our next update.

[2018-11-28 14:48] ChristianBoehlke opened #129 "PageIterator does not work on empty collections"
Hello,

We are using this library and the [`PageIterator`](https://github.com/microsoftgraph/msgraph-sdk-javascript/blob/dev/src/tasks/PageIterator.ts) to iterate over multiple pages that are returned from `GET /v1.0/me/calendarView/delta`.

If the calendar is empty, the response looks like this:
[code]

As you can see, `values` is empty but the response does not contain a `deltaLink` but a `nextL

[2018-12-04 09:55] muthurathinam commented on #111
@songpr Thank you for the ask. Will look into this.

[2018-12-04 10:21] muthurathinam commented on #129
@ChristianBoehlke Thanks for reporting this issue. Yes its a valid to keep fetching until the `deltaLink` is returned in this case. It will be awesome if you contribute with a PR for this.

[2018-12-22 17:37] juniorfoo commented on #107
Setting the response type to TEXT should do it for you.

`
client.api(ms_page.contentUrl).responseType(ResponseType.TEXT).get();
`

[2019-01-02 18:54] bsdaniel opened #130 "FindMeetingTimes: Error"
Hi, I am utilizing the findMeetingTimes API in microsoft graph. As expected when utilizing the API the response returns in the terminal. However, one error that I have is that once the API is called the meeting time slot returns [Object] instead of the time specified in the request body, the attendeeAvailablity returns [Array] instead of the emails specified in the request body as well. Any sugges

[2019-01-03 22:57] MIchaelMainer commented on #130
This doesn't appear to be an issue with the client library. Please post questions like this to StackOverflow and use the microsoft-graph tag. You'll get more help that way. Provide a link back to your question in this issue. Make sure you provide both the request and response - that will help with an answer.

The meeting time slot in the response is supposed to return an object. The object contain

[2019-01-03 23:52] bsdaniel commented on #130
![screenshot 95](https://user-images.githubusercontent.com/35406006/50667617-0cad9600-0f6f-11e9-86b5-61ebf5043666.png)
See image above. When the same URL is called in the Graph Explorer it displays the details of the meeting time slot etc. such as datetime, timezone. Also it lists the attendees in the Graph Explorer. I have posted my question in stackoverflow. Link: https://stackoverflow.com/quest

[2019-01-04 00:03] MIchaelMainer commented on #130
This is not a client issue. This has to do with how Node outputs to console. There is a link in the StackOverflow answer for more info.

[2019-01-04 00:03] #130 closed

[2019-01-04 16:54] bsdaniel commented on #130
MAJOR HELP! Thanks Michael.

[2019-01-11 08:51] #119 closed

[2019-01-11 09:01] muthurathinam commented on #123
Closing as no response

[2019-01-11 09:01] #123 closed

[2019-01-11 10:17] #124 closed

[2019-01-11 10:18] muthurathinam commented on #124
Closed as no response from the user cc: @casz

[2019-01-13 12:47] xkLander commented on #111
Hi, just want to remind the issue of 4MB+ files, we chose microsoft for storing, but our use case requires to uplaod files greater than 4mb, which complicates things, may I know the ETA now?.
Thanks

[2019-01-17 23:24] gpierrick opened #133 "How to get singleValueExtendedProperties?"
Hi,

I am using the calendar API in Node.js I created an event with singleValueExtendedProperties

[code]

[code]

Then using this

[code]

I have tried with and without `beta` and I have with this in the URL `$expand=singleValueExtendedProperties`

Been followhing this article https://github.com/microsoftgraph/microsoft-graph-docs/blob/master/api-reference/v1.0/api/calendar-list-events.md#list-ev

[2019-01-18 01:30] #133 closed

[2019-01-18 01:31] gpierrick commented on #133
had to change my odata query to
[code]

[2019-02-05 06:57] darrelmiller opened #140 "createWithMiddleware method in HttpClientFactory is not public"
https://github.com/microsoftgraph/msgraph-sdk-javascript/blob/1ccd751dc6775b52f377b178fe3c59062b3217b1/src/HTTPClientFactory.ts#L45

In the comments it says it should be public.  Which is correct?

[2019-02-05 08:33] muthurathinam commented on #140
@darrelmiller
Actually, the access specifier for a member of a class defaults to public. So the createWithMiddleware is public.

Was adding public for more readability and missed with this method. Fix will be merged with the PR from [Linter_and_Prettier](https://github.com/microsoftgraph/msgraph-sdk-javascript/tree/Linter_and_Prettier) branch.

[2019-02-08 16:38] luisrpfigueiredo opened #141 "Raw response promises"
When accessing the graph API response, we can pass a third option to the callback function in order to be able get a raw response, granting access to the headers.

Is there a way to do so through promises? If not, it would be nice to have, as using callbacks is... painful. A potential solution would be to have a .setResponseType('raw') or similar option available.

Edit: I found the .responseType

[2019-02-11 03:22] muthurathinam commented on #141
@luisrpfigueiredo
Getting rawResponse through promises is implemented and merged to the release branch and same will be available in next release.

Refer: [Getting Raw Response](https://github.com/microsoftgraph/msgraph-sdk-javascript/blob/dev/docs/GettingRawResponse.md)

[2019-02-11 04:42] muthurathinam commented on #62
Fixed in this release: https://github.com/microsoftgraph/msgraph-sdk-javascript/releases/tag/1.4.0

[2019-02-11 04:42] #62 closed

[2019-02-11 05:36] muthurathinam commented on #67
@ak99372
1. What version of @microsoft/microsoft-graph-client did you use ?
2. What version of typescript that you use ?
3. Are you getting this warning on every compilation ?
4. Can you provide any other specific information that will help in debugging the issue ?

[2019-02-11 09:30] luis-figueiredo commented on #141
Thank you for the swift reply. Is there any estimate on when this release might be?

[2019-02-11 09:33] muthurathinam commented on #25
@bradley-dotnet
Are you still getting this error ? if so can you educate me to reproduce with the versions of dependencies that you use ?

[2019-02-11 09:43] muthurathinam commented on #141
I don't have the exact ETA for this, as we have more stuffs lined up before next release. I can assure you that before end of this month.

[2019-02-12 04:19] muthurathinam commented on #61
@lumayara I cannot reproduce this error are you still getting this ? If so can you please provide me the steps to reproduce ?
FYI: I am using the latest version of the microsoft/microsoft-graph-client.

[2019-02-13 03:45] muthurathinam commented on #61
User reported this is fixed. Hence closing.!

[2019-02-13 03:45] #61 closed

[2019-02-15 11:00] midgethoen commented on #124
the readme says it can be user serverside. so I don't want to include "dom" in my tsconfig. isnt there a better solution for this?

[2019-02-19 12:34] jlippold commented on #121
Where is CallingPattern.md? I've search git history and can't find it anywhere

[2019-02-20 03:27] muthurathinam commented on #121
Hi @JSteunou , Sorry that you have encountered this.
Here is the [link](https://github.com/microsoftgraph/msgraph-sdk-javascript/blob/a87d98097b712a619ede2a2f7a6c26e8c2edd4bf/README.md#calling-pattern), Also I have updated the above broken link.

[2019-02-28 18:44] tanekim77 opened #145 "documentation confusion"
https://github.com/microsoftgraph/msgraph-sdk-javascript/blob/dev/docs/CustomAuthenticationProvider.md

documentation is not working in typescript

import { AuthenticationProvider } from "@microsoft/microsoft-graph-client";

does not work, because it says AuthenticationProvider doesn't exists

[2019-02-28 19:27] darrelmiller commented on #145
@tanekim77 The AuthenticationProvider work has not yet been released to NPM.  It should be out in a couple of weeks.

[2019-03-05 10:33] #145 closed

[2019-03-06 15:23] real-artswan opened #149 "npm package v1.5.1 doesn't contain any sources"
# Bug Report

## Steps to Reproduce

1. npm install @microsoft/microsoft-graph-client
2. ls ./node_modules/@microsoft/microsoft-graph-client/
`CHANGELOG.md  LICENSE  package.json  README.md`

[2019-03-06 15:36] muthurathinam commented on #149
Hi @real-artswan , its fixed in v1.5.2. Please update the package to same version.

[2019-03-06 15:38] muthurathinam commented on #141
Fixed in v1.5.2.

[2019-03-06 15:38] #141 closed

[2019-03-06 15:39] muthurathinam commented on #140
Fixed in v1.5.2

[2019-03-06 15:39] #140 closed

[2019-03-06 15:39] muthurathinam commented on #129
Fixed in v1.5.2

[2019-03-06 15:39] #129 closed

[2019-03-06 15:39] muthurathinam commented on #128
Fixed in v1.5.2

[2019-03-06 15:39] #128 closed

[2019-03-06 15:39] muthurathinam commented on #112
Fixed in v1.5.2

[2019-03-06 15:39] #112 closed

[2019-03-06 15:40] muthurathinam commented on #42
Getting raw response while using provmise is fixed in v1.5.2

[2019-03-06 15:40] #42 closed

[2019-03-06 15:51] muthurathinam commented on #25
Closing this as no response from the user.

[2019-03-06 15:51] #25 closed

[2019-03-06 15:51] muthurathinam commented on #67
Closing this issue as no response from the user.

[2019-03-06 15:51] #67 closed

[2019-03-07 03:47] #149 closed

[2019-03-11 17:37] juchom opened #151 "beta api is not working with 1.5.2"
# Bug Report

beta api is not working with 1.5.2 release but is with 1.4.0

## Prerequisites

-   [X] Can you reproduce the problem?
-   [X] Are you running the latest version?
-   [X] Are you reporting to the correct repository?
-   [X] Did you perform a cursory search?

## Description

beta api is not working with 1.5.2 release but is with 1.4.0

**Console Errors:**

There is no error, it's like

[2019-03-11 18:35] MIchaelMainer commented on #151
In your first example that targets /user, does it work on both v1.0 and beta?

In the second example that is not working with beta when using 1.5.2, can you share the error that you see?

[2019-03-12 06:29] muthurathinam commented on #151
@juchom  It would better if you provide the required information by following the available template while reporting the bug. It also reduces the back and forth communication to get the necessary information about the bug. Ultimately helps in resolving bug quickly.

[2019-03-12 09:49] juchom commented on #151
@MIchaelMainer the first example works on beta with 1.4.0 but it's not working with 1.5.2.

[2019-03-13 18:26] stevkan commented on #151
I am also experiencing issues using 1.5.2.

## Description

API calls using 1.5.2 fail with "Response is not defined". In my case, this is true whether using API version "v1.0" or "beta". Here are the calls I am making and the (same) resultant error that is produced after each.

[code]

Downgrading to 1.4.0 and the API calls succeed.

**Console Errors:**

[code]

## Steps to Reproduce

1. Install

[2019-03-14 08:59] muthurathinam commented on #151
Same issue reported in stackoverflow: https://stackoverflow.com/questions/55106776/microsoft-graph-api-beta-not-working-with-node

[2019-03-14 09:22] muthurathinam commented on #151
@juchom
Is it happening with all the urls ?
Can you help me in reproducing the issue with the environment in which you are getting this issue ?
if its node, then with node version and if its in browser environment then the browser and its version ?

[2019-03-14 09:26] muthurathinam commented on #151
@stevkan I fell its a different issue. Can you create a new bug for the same ? and provide me the environment information to reproduce the issue because its works fine with my setup.

[2019-03-14 09:27] muthurathinam opened #152 "I am experiencing issues using 1.5.2."
I am also experiencing issues using 1.5.2.

## Description

API calls using 1.5.2 fail with "Response is not defined". In my case, this is true whether using API version "v1.0" or "beta". Here are the calls I am making and the (same) resultant error that is produced after each.

[code]

Downgrading to 1.4.0 and the API calls succeed.

**Console Errors:**

[code]

## Steps to Reproduce

1. Install

[2019-03-14 09:28] muthurathinam commented on #152
It is working fine with my environment. can you help me in reproducing the issue by sharing your environment and its version ?

[2019-03-14 10:34] juchom commented on #151
The sample is done with node js v11.11.0

I've tried with two urls and I have the same behavior, no error, no  output.

[2019-03-15 04:06] muthurathinam commented on #151
Thank you @juchom
* Can you help me with the urls that you have tried ?
* verify whether you have necessary permissions to access the data.
* Try setting the .responseType(MicrosoftGraph.ResponseType.RAW) and check whether you are getting the response or not ?
like this,
[code]
* Also check whether you are getting any exception ?

[2019-03-15 08:21] juchom commented on #151
verify whether you have necessary permissions to access the data:
This works fine with postman

Try setting the .responseType(MicrosoftGraph.ResponseType.RAW) and check whether you are getting the response or not ?

Here is the response

[code]

[2019-03-15 10:29] muthurathinam commented on #151
@juchom I am not able to reproduce the issue. The same code with the node version 11.11.0 just works fine.
Can you try to delete your node_modules folder and package-lock.json file and try intall your dependencies again ? Am just suspecting that installation or update of the package might not happened properly.

[2019-03-15 10:48] juchom commented on #151
It's not working, in my folder I have this two files

package.json

[code]
index.js
[code]

I type the following commands
npm install

[code]

node index.js
[code]

There is no result

[2019-03-15 10:50] juchom commented on #151
Also, it's no working on another machine with node v10.13.0.

[2019-03-15 13:31] juchom commented on #151
Same code running on Ubuntu (WSL) same result.

[2019-03-15 20:55] darrelmiller opened #153 "Running browser sample in Chrome causes continuous browser login pop-ups"
# Bug Report

## Prerequisites

-   [x] Can you reproduce the problem?
-   [x] Are you running the latest version?
-   [x] Are you reporting to the correct repository?
-   [x] Did you perform a cursory search?

For more information, see the `CONTRIBUTING` guide.

## Description

Running the browser sample causes a login popup to display.

## Steps to Reproduce
1. Run the browser sample
2. Selectin

[2019-03-18 05:39] muthurathinam commented on #151
@juchom
Confirm me these things once again:
1. With the same set of setup you have in this https://github.com/microsoftgraph/msgraph-sdk-javascript/issues/151#issuecomment-473240911 its not working for 1.5.2 but its working for 1.4.0 ?
2. With the same setup is it working with v1.0 ? only the beta APIs are not working ?
3. With **`debugLogging: true`** in client init. you should be getting the req

[2019-03-18 05:48] muthurathinam commented on #151
You can debug your index.js in vscode to make sure your code actually makes calls to graph library by,
* Add the below file under `.vscode` folder in the name `launch.json`
[code]
* Navigate to Debug tab
* Select `Run index.js` in the top left
* Run the debugger
* In order to break, place your break points.

[2019-03-18 09:20] juchom commented on #151
1. With the same set of setup you have in this #151 (comment) its not working for 1.5.2 but its working for 1.4.0 ? YES

2. With the same setup is it working with v1.0 ? YES only the beta APIs are not working ? YES

3. With debugLogging: true in client init. you should be getting the request url https://graph.microsoft.com/beta/applications being printed in the console. are you getting this consol

[2019-03-18 11:16] muthurathinam commented on #151
Check whether this helps capturing request in fiddler?
[code]

[2019-03-18 14:14] juchom commented on #151
Before fiddler:
Using a token from my app principal:
https://graph.microsoft.com/v1.0/users -> OK
https://graph.microsoft.com/beta/users -> NOT WORKING

Looking in fiddler I have this now:
https://graph.microsoft.com/v1.0/users -> OK
https://graph.microsoft.com/beta/users -> OK

But the console still shows nothing in beta.
The returned payload size are:
- v1.0 -> 30 897 chars
- beta -> 192 692 cha

[2019-03-18 15:25] juchom commented on #151
Here is a sample of my response with v1.0/users

[code]

And here with beta/users:

[code]

[2019-03-19 01:45] bigthing33 commented on #152
## In my case：

- node version：8.10.0 & microsoft-graph-client version: 1.5.2; error: Response is not defined
- node version：8.10.0 & microsoft-graph-client version: 1.4.0; working fine
- node version：10.5.3 & microsoft-graph-client version: 1.5.2; working fine

[2019-03-19 09:52] muthurathinam commented on #151
https://graph.microsoft.com/v1.0/users -> OK
https://graph.microsoft.com/beta/users -> OK

Here in OK for beta/users are you getting the 200 OK response ?

[2019-03-19 10:11] juchom commented on #151
Here in OK for beta/users are you getting the 200 OK response ? YES

[2019-03-19 10:55] muthurathinam commented on #153
@darrelmiller I will look into this.

[2019-03-19 17:41] MIchaelMainer commented on #153
I've seen this outside of our samples. I forget what it was. I think it was an internal lob app.

[2019-03-25 05:16] amistry79 commented on #151
I am facing the same issue. I tried downgrading to v1.4.0 and it does not work for both the versions of API

graph API : "v1.0": Error
graph API: "beta" : Error
Node v11.12
See the below error:

ReferenceError: Response is not defined
    at Function.<anonymous> (D:\workspace\myapp\node_modules\@microsoft\microsoft-graph-client\lib\src\GraphErrorHandler.js:127:48)
    at step (D:\workspace\myapp\n

[2019-03-26 15:05] sanjcherrydev opened #155 "Graph client not showing recurring meetings"
# Bug Report

## Prerequisites

-   [x] Can you reproduce the problem?
-   [x] Are you running the latest version?
-   [x] Are you reporting to the correct repository?
-   [x] Did you perform a cursory search?

## Description

Thanks for this package, it's been really great so far!

MS Graph Explorer on the web does show recurring meetings but when using this JS SDK I don't get recurring meetings

[2019-03-27 15:34] domihagen opened #156 "sendMail always throws an error"
# Bug Report

## Prerequisites

-   [x] Can you reproduce the problem?
-   [x] Are you running the latest version?
-   [x] Are you reporting to the correct repository?
-   [x] Did you perform a cursory search?

## Version
1.5.2

## Description
When i am sending Mails via the sendMail-Route it always throws an error "invalid json response body at https://graph.microsoft.com/v1.0/users/MY_USER_ID/se

[2019-04-01 06:03] muthurathinam commented on #156
Hi @domihagen ,
Thank you for reporting the issue. Will fix this.
Meanwhile use this as a workaround. Set the responseType to "raw" and you will be able to get the raw response.

[code]

[2019-04-02 22:07] Ricardonacif commented on #152
I just experienced some issues with version 1.5.2 and I had to rollback to 1.4.0. When I do the following call:
[code]
It is not returning the promise, never. I put some debugging `console.log` inside the library and I could see that the server was returning a 200 response with the proper calendar events data, but the promise never resolved. Went back to 1.4.0 and it all works again.

[2019-04-04 04:14] muthurathinam commented on #155
@sanjcherrydev Can you help me with the query that you have executed in the graph-explorer ?

[2019-04-04 17:03] Pjata commented on #111
Any update on this issue? We would like to use OneDrive as our document storage and this would greatly affect our decision.

[2019-04-05 03:41] muthurathinam commented on #111
@Pjata  Will fix this in next release which is scheduled to be released before end of April.

[2019-04-05 08:24] sanjcherrydev commented on #155
@muthurathinam Thanks very much for your response!  This is an example query that I used:

[code]

Using the `calendarView` endpoint works to return recurring event instances and private events, but the `events` endpoint does not, and that is the behaviour we're seeing from this SDK's `.api` method.

[2019-04-06 14:18] edlea opened #158 "calendarview request failing when too much data returned in 1.5.2"
Making requests for a calendarview that returns more than a few events seems to cause a silent failure; i.e. the Promise from get() never resolves or rejects.

This is not the case with version 1.4.0 but happens repeatably with 1.5.2. By changing the date range in the below code example, this is fully reproducible. A short time gap, a single day for example, returns data as expected. For a longer

[2019-04-08 21:29] Ricardonacif commented on #158
Yup, I faced the same issue on 1.5.2. Had to go back to 1.4.0

[2019-04-10 06:47] muthurathinam commented on #155
@sanjcherrydev  Did both `calenderView` and `events` endpoints work in graph explorer ? and `calenderView` endpoint is working and `events` endpoint alone not working in SDK?

[2019-04-10 07:05] MIchaelMainer commented on #155
@sanjcherrydev That is expected behavior. The calendarview expands recurring meetings so that you every instance of the meeting, as you would see in Outlook. The events endpoint **returns the event 'master'**. The 'master' event contains information about individual and recurring meetings. Recurring meetings are not expanded with the /events resource. The events resource returns the master meeting

[2019-04-10 07:08] MIchaelMainer commented on #155
Oh, I see what you want. Okay, start with the calendarview for the day you want to target. Get the IDs of the meetings in the calendarview. Then, using those IDs, call the /events end point for each of those IDs to access the recurring master. Now, off the top of my head, I don't know if you request recurring instance whether you get the recurring master or not. We'd have to check the documentatio

[2019-04-10 08:12] muthurathinam commented on #158
@edlea @Ricardonacif I am not able to reproduce the issue with your sample code in node v11.11.0. Please help me with the following,
* what is your node version ?
* I understand that by big delta you mean the response from server, and this response is restricted with a default page size of 10. Are you using top() [odata query param] to get more events ?

[2019-04-10 08:35] edlea commented on #158
This is occurring in node 8.10 on AWS Lambda. No other arguments beyond the example code are being used

[2019-04-11 08:09] sanjcherrydev commented on #155
@muthurathinam @MIchaelMainer Thank you for your responses, it's much appreciated.  That is sort of similar to the solution we're thinking about.

To get and set events via the `events` endpoint with this client, but since that doesn't return recurring and private events for the queried day we intend to supplement the original data from the `calendarView` REST endpoint.

It would however be really

[2019-04-12 12:46] jlippold opened #163 "Missing property value in graph JSON result"
When I hit the /users via the [graph explorer](https://developer.microsoft.com/en-us/graph/graph-explorer) I call `https://graph.microsoft.com/v1.0/users?$filter=mail eq 'someUser@domain.com'` and the result is

[code]

Through this library I do:
[code]

but the profile returned is:

[code]

Why is jobTitle and officeLocation null when using this library? Are they custom fields that are being filt

[2019-04-14 15:58] darrelmiller commented on #163
@jlippold Thanks for the report.  We are seeing similar behavior across different languages.  We will investigate and let you know what we find.

[2019-04-15 05:12] #152 closed

[2019-04-22 04:22] muthurathinam commented on #156
@domihagen Released a preview with fix https://www.npmjs.com/package/@microsoft/microsoft-graph-client/v/1.6.0-Preview.2
Try it out and provide your feedback. Install Preview package with
`npm i @microsoft/microsoft-graph-client@Preview`

[2019-04-24 10:14] AdriVanHoudt opened #165 "Response with `content-type: text/plain` is not being handled correctly"
# Bug Report

## Prerequisites

-   [x] Can you reproduce the problem?
-   [ ] Are you running the latest version?
-   [x] Are you reporting to the correct repository?
-   [x] Did you perform a cursory search?

For more information, see the `CONTRIBUTING` guide.

## Description

I'm trying to fetch the raw message from the api.
`GET https://graph.microsoft.com/beta/me/messages/[MESSAGE ID]/$value`

[2019-04-25 09:02] muthurathinam commented on #165
let me know did you get the same error in this preview build..
https://www.npmjs.com/package/@microsoft/microsoft-graph-client/v/1.6.0-Preview.3
install preview build by `npm i @microsoft/microsoft-graph-client@Preview`

[2019-04-25 09:03] muthurathinam commented on #158
Can you try this preview build and let me know whether you face the same error with preview build also.
https://www.npmjs.com/package/@microsoft/microsoft-graph-client/v/1.6.0-Preview.3
install preview build by `npm i @microsoft/microsoft-graph-client@Preview`

[2019-04-25 14:44] edlea commented on #158
That doesn't seem to have made a difference

[2019-04-25 18:02] PopGoesTheWza commented on #156
@muthurathinam FYI, I am experiencing the same `202` error with the DriveItem copy endpoint:
`POST /drives/${driveId}/items/${itemId}/copy`
I will try to test your workaround tomorrow.

[2019-04-26 03:55] muthurathinam commented on #156
Hey @PopGoesTheWza try making your request with [this](https://www.npmjs.com/package/@microsoft/microsoft-graph-client/v/1.6.0) new version 1.6.0, should resolve the issue.

[2019-04-26 03:58] muthurathinam commented on #151
@juchom Can you update the library to latest version i.e 1.6.0 and check whether same issue is reproducing ?

[2019-04-26 04:00] muthurathinam commented on #153
Fixed in this release: https://github.com/microsoftgraph/msgraph-sdk-javascript/releases/tag/1.6.0

[2019-04-26 04:00] #153 closed

[2019-04-26 04:02] muthurathinam commented on #106
@ramonitor Are you facing the same issue in [latest](https://www.npmjs.com/package/@microsoft/microsoft-graph-client/v/1.6.0) version i.e 1.6.0 ?

[2019-04-26 04:05] muthurathinam commented on #165
@AdriVanHoudt FYI: Stable version ([1.6.0](https://www.npmjs.com/package/@microsoft/microsoft-graph-client/v/1.6.0)) is released for the 1.6.0-Preview.3

[2019-04-26 08:34] AdriVanHoudt commented on #165
I can confirm that 1.6.0 fixes the issue. What exactly changed in 1.6.0, the releases page is not super clear to me?

[2019-04-26 09:16] muthurathinam commented on #165
@AdriVanHoudt That release page is auto generated, which basically pulls out all the commits that have been pushed.
There was a bug in response handler that is fixed now.

[2019-04-26 09:16] #165 closed

[2019-04-26 13:13] juchom commented on #151
Hi @muthurathinam , I've just tried the same code with 1.6 and it's still not working.

[2019-05-01 01:54] forivall opened #169 "Large responses fail to resolve on Node.js"
# Bug Report

## Prerequisites

-   [x] Can you reproduce the problem?
-   [x] Are you running the latest version?
-   [ ] Are you reporting to the correct repository? - technically, this is a by-design issue of node-fetch, but it can be mitigated
-   [x] Did you perform a cursory search?

For more information, see the `CONTRIBUTING` guide.

## Description

Large responses fail on Node.js - see up

[2019-05-06 15:34] borys-kupar opened #171 "GraphError has no code and message"
# Bug Report

## Prerequisites

-   [x] Can you reproduce the problem?
-   [x] Are you running the latest version?
-   [x] Are you reporting to the correct repository?
-   [x] Did you perform a cursory search?

## Description

When GraphError is constructed in [constructErrorFromRawResponse](https://github.com/microsoftgraph/msgraph-sdk-javascript/blob/dev/src/GraphErrorHandler.ts#L49) function it

[2019-05-07 06:20] muthurathinam commented on #171
@borys-kupar Thank you for reporting this issue. will fix this in our next release.

[2019-05-08 09:16] domihagen commented on #156
@muthurathinam Sorry for my late answer, but I was on vacation. I tested it with the latest version (1.6.0) and it works.

Thanks!

[2019-05-08 09:16] #156 closed

[2019-05-09 06:47] muthurathinam commented on #155
@sanjcherrydev This is not an SDK issue and this should be directed to StackOverflow with the microsoft-graph and microsoft-graph-sdks tags.

[2019-05-09 06:47] #155 closed

[2019-05-09 15:47] MIchaelMainer commented on #99
Is this issue still open? I'm able to perform a /delta call on /users with no problem and then use the nextlink to get the subsequent pages. Please open this issue if you are still seeing this error.

[2019-05-09 15:47] #99 closed

[2019-05-09 15:53] MIchaelMainer commented on #98
Extensions are not selectable but are expandable. This is because they are navigation properties, which means extensions are considered entities. If we still do not support delta on extensions, please open a feature request on microsoftgraph.uservoice.com.

As this isn't a JS client library specific issue, and this has been addressed in StackOverflow, I'll close this.

[2019-05-09 15:53] #98 closed

[2019-05-10 04:42] #171 closed

[2019-05-10 06:51] muthurathinam commented on #171
The fix is released as a preview - [1.7.0-Preview.2](https://www.npmjs.com/package/@microsoft/microsoft-graph-client/v/1.7.0-Preview.2)

[2019-05-10 08:44] borys-kupar commented on #158
I can confirm that the same issue happened to me too when result contains more than 30 events with a select of "start,end,body" fields. The body contain small piece of HTML that has several <p> tags basically. This didn't seem to happen with 1.4 version.

[2019-05-10 15:05] rajivsr23 opened #173 "Error: Cannot find module '../../lib/src/index.js' while running the node sample"
I am trying to run the node sample by following the Instructions listed here [https://github.com/microsoftgraph/msgraph-sdk-javascript/tree/dev/samples/node](url)

But I get an error while running the command listed on step 2. ii. **node ./samples/node/main.js**

The Error Message that I get is "Error: Cannot find module '../../lib/src/index.js'
    at Function.Module._resolveFilename (module.js:5

[2019-05-11 06:30] muthurathinam commented on #173
@rajivsr23 You need to run `npm install` and `npm run build` before running the sample. `npm run build` builds the files in the lib folder.

[2019-05-11 06:30] #173 closed

[2019-05-11 07:26] muthurathinam commented on #111
@DavidCannon @jplevene @songpr @Pjata Your ask is done in this [preview release](https://www.npmjs.com/package/@microsoft/microsoft-graph-client/v/1.7.0-Preview.3). Please try and let me know. Refer [this](https://github.com/microsoftgraph/msgraph-sdk-javascript/blob/dev/docs/tasks/LargeFileUploadTask.md#uploading-with-custom-options) guide.

[2019-05-13 05:58] rachitsakhidas opened #174 "How can i upload files from onedrive or sharepoint to my web app"
Hi,

I want to sync OneDrive or Sharepoint files with my web application.

So how can i import or upload OneDrive or Sharepoint files into my web application ?

So can you suggest what things i need to follow.

Thanks & Regards
Rachit V. Sakhidas

[2019-05-13 09:13] jplevene commented on #111
Slight "error" I'm affraid.  On the version site it says to load the script use:
`<script src="https://secure.aadcdn.microsoftonline-p.com/lib/<version>/js/msal.min.js"></script>`
Changing version to anything above 0.2.4 doesn't work.

[2019-05-13 09:21] jplevene commented on #111
Slight "error" I'm affraid. On the version site it says to load the script use:
<script src="https://secure.aadcdn.microsoftonline-p.com/lib/<version>/js/msal.min.js"></script>
Changing version to anything above 0.2.4 doesn't work.

[2019-05-13 09:36] muthurathinam commented on #111
@jplevene The package depends on the particular version. you can refer msal version number under devDependencies in package.json. Are your application depends on some other version of msal ?

[2019-05-14 21:29] dancampbell691 commented on #141
@luisrpfigueiredo - did you get this working with 1.5.2 or later?  I'm on 1.6 and I still get an empty response.headers.
I've tried using both the callback method with (resp, err, rawResponse) and the promise method with .responseType(ResponseType.RAW), and both beta and v1.0, but in all cases I get nothing in the headers array.  If I look at the network tab in Chrome, I can see that the response

[2019-05-15 03:40] muthurathinam commented on #174
As this is not a JS client library issue, so please post such questions in StackOverflow with tags `microsoft-graph` and `microsoft-graph-sdks`.

[2019-05-15 03:40] #174 closed

[2019-05-15 04:02] muthurathinam commented on #141
Hi @dancampbell691 Can you share me the code that you have used to make a request ?

[2019-05-15 04:06] muthurathinam commented on #111
Fixed in [1.7.0](https://github.com/microsoftgraph/msgraph-sdk-javascript/releases/tag/1.7.0) release.

[2019-05-15 04:06] #111 closed

[2019-05-15 10:55] dancampbell691 commented on #141
hi @muthurathinam. Here's the promise-based version.  This successfully returns the raw response which includes the 202, but the headers array of the response object is empty.  If I don't include the .responseType part, then the response is just an empty string.  As I noted above, Chrome Network tab shows the response headers including location.
One more thing - I had to punt on this and just made

[2019-05-15 23:01] dkorobov opened #175 "empty /lib"
Starting with version 1.5 or so i'm not seeing any file under /lib. documentation seems to suggest that's where the libraries are. What am i missing?

[2019-05-16 03:49] muthurathinam commented on #175
Files under `/lib` is present only in the npm package not in the source control.
I can guide you based on your requirement for `lib` folder. let me know why you are looking for?

[2019-05-16 04:33] muthurathinam commented on #141
@dancampbell691 The returned raw response is of [this](https://developer.mozilla.org/en-US/docs/Web/API/Response) type. So when you do console.log the headers and body won't get printed along with the response object. you have to use one of the [body methods](https://developer.mozilla.org/en-US/docs/Web/API/Response#Methods) to read the body and [headers methods](https://developer.mozilla.org/en-U

[2019-05-16 13:54] dancampbell691 commented on #141
@muthurathinam - Thanks!  res.headers.get('location') did the trick.

It would be helpful if there were an example in the documentation that showed the entire flow of a copy, both the client call for the copy itself, then getting the location from the response, and calling the location url.

[2019-05-16 14:11] muthurathinam commented on #141
@dancampbell691 Sounds valid, let me update the doc showing a smiliar flow which helps in working with raw response. 😊

[2019-05-16 17:29] mattschoch commented on #169
Ran into this as well.
A workaround that appears to work, get the raw response:

[code]

[2019-05-16 18:24] dkorobov commented on #175
gotcha I'll get them from npm then. Thanks.

[2019-05-16 18:24] #175 closed

[2019-05-17 04:22] muthurathinam commented on #106
Closing this as there is no response from the user. Re-open if the issue still persists.

[2019-05-17 04:22] #106 closed

[2019-05-18 02:55] tox777 opened #176 "Where is graph-js-sdk-web.js?"
Hi! I downloaded this project to work on javascript but I can not to locate graph-js-sdk-web.js file.
Where's located?

[2019-05-18 07:02] latonita opened #177 "List items request dies somewhere"
# Bug Report

## Prerequisites

-   [x ] Can you reproduce the problem?
-   [x ] Are you running the latest version?
-   [x ] Are you reporting to the correct repository?
-   [ ] Did you perform a cursory search?

For more information, see the `CONTRIBUTING` guide.

## Description

I need to get attributes information from document library items, so i'm trying to get list items of respective list.

[2019-05-20 03:34] muthurathinam commented on #176
@tox777 You have to run `npm install` and `npm run build` to build the graph-js-sdk-web.js file.
if you require only graph-js-sdk-web.js fille, you can download the same from the [npm package](https://www.npmjs.com/package/@microsoft/microsoft-graph-client) or you can download it from the [CDN](https://unpkg.com/@microsoft/microsoft-graph-client/lib/graph-js-sdk-web.js).

[2019-05-20 03:34] #176 closed

[2019-05-20 03:46] muthurathinam commented on #177
@latonita I am sorry that you have encountered this. Can you help me with the following details ?
* what is the node version that you are using ?
* what is the expected size of the response ? is it greater than 2MB ?
* Can you elaborate what you mean by `When i'm calling this from nodejs only first request works.` ?

[2019-05-20 08:59] latonita commented on #177
@muthurathinam
- nodejs 8.16.0
- good question, looks like its bigger than 2mb
- above i gave two examples: one is to get list info, another to get items from that list. first one works well, second one - dies.
today i tried to make "raw" request and it works okay, just need to resolve json.

look like request which returns more than 2Mb is not properly resolved if it is not 'raw' request.

[2019-05-20 09:01] latonita commented on #177
so now i think it is a duplicate of #169 and can be closed

[2019-05-20 09:04] muthurathinam commented on #177
Yeah it sounds like #169. So closing.

[2019-05-20 09:04] #177 closed

[2019-05-22 16:18] gi-joe-moto commented on #169
Several of our API calls never resolve when using 1.7.  This is a major bug.  I'm reverting to 1.6.

[2019-05-23 13:09] latonita opened #178 "nextLink not working for user /messages"
# Bug Report

## Prerequisites

-   [x] Can you reproduce the problem?
-   [x] Are you running the latest version?
-   [x] Are you reporting to the correct repository?
-   [x] Did you perform a cursory search?

## Description

I want to read all emails from user mailbox.
Here is my request:
[code]
After first call I'm getting following nextLink which returns same data,
then same nextLink over and

[2019-05-23 13:57] #178 closed

[2019-05-23 14:01] latonita commented on #178
was using undocumented send() command, switched back to get() and its okay.
p.s. had to use send() in another call due to the need of using complex filters

[2019-05-28 20:55] darrelmiller commented on #151
@juchom Has this issue been resolved for you in our latest release?

[2019-05-29 04:25] muthurathinam commented on #151
@darrelmiller #152 was fixed in latest release. This issue is related to #169, Fix for this is not yet released.

[2019-05-29 13:42] borys-kupar commented on #171
Unfortunately the issue seems to be not fixed. The GraphError is constructed in last [else](https://github.com/microsoftgraph/msgraph-sdk-javascript/blob/master/src/GraphErrorHandler.ts#L95) block containing the `statusCode` only. The rest of raw error is still not parsed.

The error I get:
[code]

[2019-05-30 06:02] muthurathinam commented on #171
@borys-kupar It is working fine for me. As the error object contains `error` property, [this if](https://github.com/microsoftgraph/msgraph-sdk-javascript/blob/master/src/GraphErrorHandler.ts#L90) statement should be true and it should call `constructErrorFromResponse` to get the error response.

This is what I am getting when I try with the same value for startTime as yours while creating a calend

[2019-05-30 16:12] borys-kupar commented on #171
I use the latest version 1.7.0. It seems like for me error object doesn't contain `error` property so it falls into the last [else statement](https://github.com/microsoftgraph/msgraph-sdk-javascript/blob/master/src/GraphErrorHandler.ts#L95).

[2019-05-31 00:07] stevkan commented on #152
@muthurathinam, apologies. I somehow missed your message to me way up above. It still does not work for me unless I use v1.0.0 (have tried up to v1.7.0). Please let me know if there is specific information you would like/need from me.

p.s. I'll keep this on my radar, this time around.

[2019-05-31 03:25] muthurathinam commented on #171
Can you help me with the exact response that you are getting from the library ? Graph error in [this](https://github.com/microsoftgraph/msgraph-sdk-javascript/issues/171#issuecomment-496942015) comment seems to have "error" property in it.

[2019-05-31 03:37] muthurathinam commented on #152
@stevkan can you help with this, just verify whether you are getting the same error that you have mentioned [here](https://github.com/microsoftgraph/msgraph-sdk-javascript/issues/152#issue-420910574).
[code]

Also, you have mentioned that **Downgrading to 1.4.0 and the API calls succeed** (in the [issue description](https://github.com/microsoftgraph/msgraph-sdk-javascript/issues/152#issue-42091057

[2019-05-31 08:48] WieserSoftware opened #180 "Minification causes issues"
# Bug Report
If you try to build a release build of the react sample in Microsoft-graph-toolkit, the minification causes login not to work from this package.  This would be the same with any sample that uses minification of this package.

## Prerequisites

-   [X] Can you reproduce the problem?
-   [X] Are you running the latest version?
-   [X] Are you reporting to the correct repository?
-   [X]

[2019-05-31 09:25] borys-kupar commented on #171
@muthurathinam sorry, it seems indeed like I had cached node_module in my Docker container. Can't reproduce the issue anymore.

[2019-06-01 03:18] stevkan commented on #152
@muthurathinam, apologies for the confusion.

Yes, I am still receiving the above error using version 1.5.2. Using version 1.4.0 does work (I believe that was a typo - 1.0.0 should have been 1.4.0).

As an aside, when I try version 1.7.0 I get the following error (happy to log as a new issue):

[code]

The 'onTurnError' text can be ignored. The important part is the reference to 'displayName' whic

[2019-06-03 03:40] muthurathinam commented on #180
@WieserSoftware Thanks for reporting will look into issue and your PR.

[2019-06-05 01:57] dluc opened #182 "Real TypeScript support"
This SDK is listed under TypeScript here https://developer.microsoft.com/en-us/graph/gallery/?filterBy=TypeScript,SDKs but I don't see any TypeScript specific code, correct me if I'm wrong.  I appreciate that JS code can be used in TS with some tweaks, but I wouldn't say that the SDK actually supports TS use cases, i.e. the library doesn't provide any type of interface to ease TS integration.

Is

[2019-06-05 16:15] vdnsv opened #183 "Incorrect Content-Type in put() call. Default Content-Type should be application/json"
# Bug Report

## Prerequisites

-   [x] Can you reproduce the problem?
-   [x] Are you running the latest version?
-   [x] Are you reporting to the correct repository?
-   [x] Did you perform a cursory search?

For more information, see the `CONTRIBUTING` guide.

## Description

Method put() creates options object with Content-Type: application/octet-stream in headers instead of application/json:

[2019-06-07 07:00] muthurathinam commented on #182
@dluc Library is shipping with types files along with the js files, so it will seamlessly work with TS project.
I don't understand what is the tweak that you need to use the SDK with typescript?
Can you help me with the list of use cases in which the SDK is not supported with TS ?

[2019-06-07 07:05] muthurathinam commented on #183
@vdnsv I understand your concern, this was left out not to break the current flow. Will change this in our v2.0 release and make application/json as a default content-type.
Meanwhile use this work around,
[code]

[2019-06-07 19:11] markg85 opened #186 "calenderview api call times out"
Hi,

My exact API call is:
```const data = await client.api(`/me/calendarview?StartDateTime=${moment().toISOString()}&EndDateTime=${moment().add(7, 'days').toISOString()}`).get()```

Here `client` is the return of `graph.Client.init` and graph is:
`let graph = require('@microsoft/microsoft-graph-client');`

`moment` is obviously moment.js :)

Now if i do an API call like "/me/events" i just get ev

[2019-06-07 20:34] markg85 commented on #186
I might have solved this myself...
So i did find some places that use `/me/calendarview`, but the official documentation uses `/me/calendar/calendarView`. I don't know why that is done, specially since both work! Anyhow, i picked the one from the documentation (thus /me/calendar/calendarView)

That didn't fix it yet though.
Apparently there were a few calendar events with a lot of possible people

[2019-06-08 11:38] markg85 opened #187 "Ho do i get recurring event instances in the /me/calendarView endpoint?"
Hi,

I'm trying to get the all my calendar events as they are visible in the office 365 calendar. For that, i'm using the [calendarView](https://docs.microsoft.com/en-us/graph/api/calendar-list-calendarview?view=graph-rest-1.0&tabs=cs). It returns me just the events that don't have a recurrence.

But i have a recurrence in there that is visible in outlook, but not in the results of this api call.

[2019-06-09 14:36] darrelmiller commented on #169
@gi-joe-moto Are you seeing the issue when using the RAW responsetype as suggested by @mattschoch in the comment above?

[2019-06-10 07:23] shaundon commented on #187
I would also like to know this.

[2019-06-10 07:30] shaundon commented on #187
I figured it out, this works for me:

[code]

[2019-06-10 09:55] markg85 commented on #187
That's exactly what i did (with valid dates) and it certainly didn't show events of recurring events.

That sounds weird, so let me explain that a little more. Make a recurring event, say every monday, then use that API call to get the events within a date range that should contain at least 1 of those events, but not the very first or last one of the series.

[2019-06-10 10:26] shaundon commented on #187
Strange, that's exactly what I'm doing and it's fine for me 😕

[2019-06-10 10:42] markg85 commented on #187
Are you absolutely sure you're testing the same thing?
I have a weekly occurring event on monday and a bi-weekly ones on friday. Neither shows.
They are all in the same agenda, i just re-verified that.

My API call:
[code]

[2019-06-10 16:45] ashokkumarjuly opened #188 "Taking too long to fetch 4k contacts"
We using your node package "@microsoft/microsoft-graph-client" to access Graph API from node enviroment.

Actually the purpose is to fetch the user contacts (outlook,live,office, hotmail) into our system through API,

API "/me/contacts" by default fetching only 10 contacts per call, so in our system we iterating the API using "skip & @odata.nextLink" until all the contacts are received.
While refe

[2019-06-10 17:11] gi-joe-moto commented on #169
I'll have to check in a couple of weeks... on a different project atm and won't have time till late June.

[2019-06-10 21:48] MIchaelMainer commented on #188
* [Change the page size ](https://docs.microsoft.com/en-us/graph/paging?toc=.%2Fref%2Ftoc.json&view=graph-rest-1.0) with the $top parameter. I think the max is 100 - 200.
* Use $select to only select the properties you are using.

* I haven't tried this but you could parallelize the calls by having thread 1 get contacts 1-1000, thread 2 get 1001-2000 thread 3 get 2001-3000. You'd have to probe $sk

[2019-06-10 22:37] dejue opened #189 "ReferenceError: Request is not defined"
## Description
When using the MS Graph Client Library v1.7.0, we're not seeing any request being sent to https://graph.microsoft.com/v1.0/me.

We're doing the following:
1. We downloaded [sample code](https://github.com/microsoft/BotBuilder-Samples/tree/master/samples/javascript_nodejs/24.bot-authentication-msgraph).
2. We installed npm packages
3. We updated the MS App ID, MS App Password, and th

[2019-06-11 05:15] muthurathinam commented on #187
Duplicate of https://github.com/microsoftgraph/msgraph-sdk-javascript/issues/155

[2019-06-11 05:15] #187 closed

[2019-06-11 05:22] muthurathinam commented on #186
Basically its the design of the API. Refer these comments https://github.com/microsoftgraph/msgraph-sdk-javascript/issues/155#issuecomment-481562072 and https://github.com/microsoftgraph/msgraph-sdk-javascript/issues/155#issuecomment-481562924

[2019-06-11 05:22] #186 closed

[2019-06-11 06:51] ashokkumarjuly commented on #188
@michael, thanks.
After getting the total contacts count, i am trying with parallel threads using skip parameter.
Once completed let me update the time taken.

[2019-06-11 17:05] MIchaelMainer commented on #188
@ashokkumarjuly I change my mind about getting the count. It isn't important. As you spin up threads, you'll know when you've skipped more than max number of items when the result set is empty. That should save some calls.

[2019-06-12 04:32] muthurathinam commented on #189
@dejue This issue is fixed in the version 1.7.0. My guess is that it should be a problem of node_modules cache. Can you delete `node_modules` and `package-lock.json` in the same sample code and reinstall using `npm install` and try making request once more?

[2019-06-12 12:05] hakan0xFF commented on #169
@darrelmiller We are having the same issue and using `.responseType(ResponseType.RAW)` as suggested by @mattschoch seems to resolve it.

[2019-06-12 14:04] vivekdevaraju opened #190 "Angular app does not work on IE11 after installing microsoft-graph-client package"
# Bug Report

## Prerequisites

-   [x] Can you reproduce the problem?
Yes
-   [x] Are you running the latest version?

Yes
-   [x] Are you reporting to the correct repository?
Yes
-   [x] Did you perform a cursory search?
Yes
For more information, see the `CONTRIBUTING` guide.

## Description

[Description of the bug or feature]
Angular App
Version : 7.1.3

Not working on IE11, please find the be

[2019-06-12 16:29] dejue commented on #189
@muthurathinam After trying this twice, it looks like I'm running into the same error described above. I believe I am using the correct dependency version:
    "dependencies": {
        "@microsoft/microsoft-graph-client": "^1.7.0",

[2019-06-16 13:07] nakawankuma opened #192 "I made Office Onenote addin with React, but dont connection graph server."
# Bug Report

## Prerequisites

-   [x] Can you reproduce the problem?
-   [x] Are you running the latest version?
-   [x] Are you reporting to the correct repository?
-   [x] Did you perform a cursory search?

For more information, see the `CONTRIBUTING` guide.

## Description

[Description of the bug or feature]
[code]

I got acquiring token other button(this.state.masl).
I took getAccount data

[2019-06-17 04:44] muthurathinam commented on #192
@nakawankuma I believe you have initialized the msal instance like [this](https://github.com/microsoftgraph/msgraph-sdk-javascript#creating-an-instance-of-msalauthenticationprovider-in-browser-environment).

Can you post in any errors that you got while making request ?
[code]
I don't understand this part. can you elaborate this ?

[2019-06-17 04:47] muthurathinam commented on #190
@vivekdevaraju
`Added Polyfills for IE and Targeted to ES5`
Can you explain me or post how you target to ES5 ?

[2019-06-18 09:12] bitflower opened #193 "ClientConfigurationError: Scopes are required to obtain an access token"
# Bug Report

## Prerequisites

-   [x] Can you reproduce the problem?
-   [x] Are you running the latest version?
-   [x] Are you reporting to the correct repository?
-   [x] Did you perform a cursory search?

## Description

I'm getting the given error although setting the `scopes`:
[code]

**Console Errors:** [Is there any console error]
[code]

**Screenshots:** [If applicable, add screenshots

[2019-06-18 09:22] bitflower commented on #193
My Typescript imports look a bit weird I know. Can't imagine this being the root cause though?

[2019-06-18 09:26] bitflower commented on #193
<img width="1263" alt="Bildschirmfoto 2019-06-18 um 11 25 32" src="https://user-images.githubusercontent.com/6666636/59670248-e9dd0a00-91bb-11e9-887d-eb416f1df07d.png">

What I get back also looks fine.

[2019-06-18 10:16] bitflower commented on #193
Made a couple of logs and found out that the instance of UserAgentApplication in the client seems to be a different one than the one used in the first place:

[code]

You can see the `scopes` being empty from line `Reading user` on which is the moment the msgraph client is making its call.

[2019-06-18 10:42] bitflower commented on #193
I think in this line we should handover more than just `scopes`? It's supposed to be a `request` object with `scopes being nested inside`
https://github.com/microsoftgraph/msgraph-sdk-javascript/blob/d571846b6c5a62a9dfde88d915904052c7190ecd/src/browser/MSALAuthenticationProvider.ts#L80

[2019-06-18 10:53] bitflower commented on #193
The second issue ist that in this line the returned `accessToken` *containing* the `accesstoken` so we shoulds return `accesstoken.accessToken`:
https://github.com/microsoftgraph/msgraph-sdk-javascript/blob/d571846b6c5a62a9dfde88d915904052c7190ecd/src/browser/MSALAuthenticationProvider.ts#L81

[2019-06-18 17:53] darrelmiller commented on #193
@bitflower  That last issue looks like a mismatch between the MSAL.js version and the AuthenticationProvider.  There were breaking changes in the 1.0 release of MSAL.js that changed the return value from simply and authToken to an object containing an auth token.  Can you confirm which version of msal.js and GraphSDK that you are using?  /cc @muthurathinam

[2019-06-18 18:07] bitflower commented on #193
Hey, thanks for the fast reply. Sure:
[code]

[2019-06-18 19:51] darrelmiller commented on #193
@bitflower I believe the fix is in our 2.0 release here https://github.com/microsoftgraph/msgraph-sdk-javascript/pull/179  We are just waiting for this to be merged.

[2019-06-18 21:02] bitflower commented on #193
Hi @darrelmiller, that‘s good to know. I‘ll follow the other issue! Thanks!

[2019-06-19 04:20] muthurathinam commented on #193
@bitflower , Darrel is right. Library version is compatible with MSAL v0.2.4 and the support for v1.x.x will be out with 2.0 release.

[2019-06-19 05:16] arunprasathv opened #194 "InvalidAuthenticationToken: CompactToken parsing failed with error code: 80049217"
@dylank @muthurathinam
Want to call Graph API from Angular, but getting the error CompactToken parsing .    Im calling it without using the library since  Graph Library is not working in IE 11. Getting syntax error at Client.ts so trying to call the api directly.

Error: InvalidAuthenticationToken: CompactToken parsing failed with error code: 80049217.
Code:
          const headers =  new HttpHead

[2019-06-19 05:19] arunprasathv commented on #190
@muthurathinam Im also getting this error ? is it possible to call the graph api directly without using the library ?

my polyfills.ts

/** IE9, IE10 and IE11 requires all of the following polyfills. **/
import 'core-js/es6/symbol';
import 'core-js/es6/object';
import 'core-js/es6/function';
import 'core-js/es6/parse-int';
import 'core-js/es6/parse-float';
import 'core-js/es6/number';
import 'core

[2019-06-19 07:01] bitflower commented on #193
Thanks for the update!

[2019-06-19 09:56] muthurathinam commented on #193
We have released our preview version for 2.0.0 which fixes the issue. To install the preview version of the library, use `npm install @microsoft/microsoft-graph-client@Preview`.
Refer [this release notes](https://github.com/microsoftgraph/msgraph-sdk-javascript/releases/tag/2.0.0-Preview.1) for the list of changes.

[2019-06-19 15:18] mlynam commented on #193
Thanks guys!

[2019-06-20 05:06] muthurathinam commented on #189
@dejue How to debug this scenario? When I login from the emulator the popup appears and disappears after few seconds. it doesn't show any indication that it is signed in. When I send a `me` message after that it doesn't show reply anything. Need your help on this.

[2019-06-23 10:43] coloeus opened #195 "Problem with downloading a file from OneDrive"
I'm trying to download a file but instead of the actual size of around 100mb file I only get a 32kb file and no error shows up.

Already tried to download the file by path but got the same result.
[code]

[code]

[AB#7542](https://microsoftgraph.visualstudio.com/0985d294-5762-4bc2-a565-161ef349ca3e/_workitems/edit/7542)

[2019-06-24 06:54] mannharleen commented on #53
The previous answer is not longer valid.
The msgraph-sdk has moved onto using node-fetch instead of superagent.

Now setting proxt is even simpler. One way is to pass fetchptions.agent:
[code]

[2019-06-24 14:35] arunprasathv commented on #194
@muthurathinam @dylank  Could you please provide an update on this ?

[2019-06-24 15:11] ashokkumarjuly commented on #188
@MIchaelMainer
Now another strange issue, i have 28,000 contacts in my office account.

1. If i give $top parameter greater than 99, endless waiting for the API response
2. If i give $top=99 to fetch the contacts, endless waiting for the API response in the middle after fetching 5,000 contacts.
I have searched for the documents related to this issue, but i can't able to figure out either it is pro

[2019-06-25 04:25] muthurathinam commented on #190
@arunprasathv Sorry for the delay in the response.
* What is the library version that you are using ?
* Your screenshot shows that your vendor.js code contains classes in it? did you verify that your build process actually transpiled the sdk to es5 ?

[2019-06-25 04:26] muthurathinam commented on #194
Classes are not supported in IE11. @arunprasathv did you verify that transpiled your vendor.js to es5 ?

[2019-06-25 04:27] #193 closed

[2019-06-25 04:47] muthurathinam commented on #195
@coloeus Sorry that you have encountered this. can you help me with the following details to debug ?
* What is the version of the library that you are using ?
* Is your item id is valid ?

Actually its not reproducible at my end ? can you share me the exact environment that you are getting this error ? like version of the nodejs if you are running the code in nodejs.

[2019-06-25 04:52] muthurathinam commented on #182
Closing this issue as there is no activity from user.
cc: @dluc

[2019-06-25 04:52] #182 closed

[2019-06-25 04:53] muthurathinam commented on #113
Released a preview with the fix : https://github.com/microsoftgraph/msgraph-sdk-javascript/releases/tag/2.0.0-Preview.1

[2019-06-25 04:54] muthurathinam commented on #151
Fixed in this preview release: https://github.com/microsoftgraph/msgraph-sdk-javascript/releases/tag/2.0.0-Preview.1

[2019-06-25 04:55] muthurathinam commented on #151
Fixed in this preview release: https://github.com/microsoftgraph/msgraph-sdk-javascript/releases/tag/2.0.0-Preview.1
@juchom @amistry79 Can you try and provide your feeback ?

[2019-06-25 04:57] muthurathinam commented on #158
This issue is fixed in [2.0.0-Preview.1](https://github.com/microsoftgraph/msgraph-sdk-javascript/releases/tag/2.0.0-Preview.1). @edlea @borys-kupar @Ricardonacif Can you try and check whether it fixes for you ?

[2019-06-25 04:59] muthurathinam commented on #169
Fix is out in the [this](https://github.com/microsoftgraph/msgraph-sdk-javascript/releases/tag/2.0.0-Preview.1) preview release.
@hakan0xFF  @gi-joe-moto @forivall Can you try the preview and let me know your feedback.

[2019-06-25 05:10] muthurathinam commented on #183
Fix for the issue is released with Preview tag. @vdnsv Check it out https://github.com/microsoftgraph/msgraph-sdk-javascript/releases/tag/2.0.0-Preview.1

[2019-06-25 05:33] muthurathinam commented on #180
Fix is released in [this](https://github.com/microsoftgraph/msgraph-sdk-javascript/releases/tag/2.0.0-Preview.2) preivew.

[2019-06-25 08:17] juchom commented on #151
With the same script I've tried this:

Updated to 1.7.0: => doesn't work

Updated to 2.0.0-Preview.1 and 2.0.0-Preview.2: => I have this error

[code]

[2019-06-25 08:24] muthurathinam commented on #151
@juchom It is expected error. Since there are some breaking changes in 2.0.0-Preview.x.
Please follow [this](https://github.com/microsoftgraph/msgraph-sdk-javascript/wiki/Migration-from-1.x.x-to-2.x.x) migration guide

[2019-06-25 08:28] juchom commented on #151
Ok, adding isomorphic-fetch to my script is fine.

With 2.0.0-Preview.1 and 2.0.0-Preview.2 my script is working fine!

Thanks

[2019-06-25 10:37] coloeus commented on #195
I tried it with 1.6.0 and 1.7.0

Yes

I changed my code for testing so it matches the example written here:
https://github.com/microsoftgraph/msgraph-sdk-javascript/blob/dev/docs/Actions.md#getstream

I'm using Typescript 3.4.5 and Node v10.15.3

My complete transpiled code is this:
[code]
The file at the path exists.

If I'm changing "/me/drive/root/children/ubuntu-mate-18.04.2-desktop-amd64.iso/

[2019-06-25 15:59] muthurathinam commented on #195
@coloeus All your details aligns with mine. Did you try downloading the other files ? Just wanted to know whether this is happening only for that particular file.

[2019-06-26 02:32] arunprasathv commented on #190
Your screenshot shows that your vendor.js code contains classes in it? did you verify that your build process actually transpiled the sdk to es5 ?

How do I verify that? I've given you the tsconfig.json , is that what you meant by verifying?

I  just do -  ng build  --prod

If the library isn't working , how can i call graph api ? when i do http get , i was getting below error,

Error: InvalidAuth

[2019-06-26 04:06] muthurathinam commented on #190
From your screenshot I believe you are using the es6 folder in the library. I am just wondering did you do any transpiling for vendor files from es6 to es5 ? Do you have any build configuration file to do that ?

The example snippet that you have shown is not specific to this library.

[code]

I don't understand the above piece of code that you have posted. Can you explain me that that `getData` a

[2019-06-26 04:43] bitflower opened #196 "Can't download files with ?format= (HTTP 302 / CORS issue)"
# Bug Report

## Prerequisites

-   [x] Can you reproduce the problem?
-   [x] Are you running the latest version?
-   [x] Are you reporting to the correct repository?
-   [x] Did you perform a cursory search?

## Description

Thanks a lot for resolving my issue https://github.com/microsoftgraph/msgraph-sdk-javascript/issues/193 recently. I could move on with some requirements. I'm facing a new is

[2019-06-26 08:33] muthurathinam commented on #196
@bitflower  Refer this comment: https://github.com/microsoftgraph/msgraph-sdk-javascript/issues/109#issuecomment-430093219

[2019-06-26 09:06] bitflower commented on #196
Hi, thanks for the info. I‘m aware of this but was thinking it doesn‘t support PDF file format conversion? Say from excel to PDF...?

[2019-06-26 14:23] arunprasathv commented on #190
I just did npm install and started using the library, this is what I have in node modules.

![image](https://user-images.githubusercontent.com/7142390/60186426-b9b7eb80-97f9-11e9-94b2-3f86a7f4661d.png)

yes, i want to call graph api as any other api using http get.  I'm trying to make a get call to talk to graph api. did you try to make a get call to the graph api from angular ? any simple demo ?

[2019-06-27 03:12] muthurathinam commented on #196
@ificator Can you help with correct API to achieve this ?

[2019-06-27 05:34] muthurathinam commented on #190
Correct me if I am wrong. You are making direct call to the graph service. So if this is the case then you don't require this library to make such call.

[2019-06-27 13:48] arunprasathv commented on #190
I'm trying to make a call to graph API without using a library. Since the library isn't working in IE 11, im taking this approach. So im trying two different things here, 1. making library to work 2. call graph api from the code like anyother API.

[2019-06-27 19:45] ificator commented on #196
What request headers are being provided. That endpoint does have some preflight issues iirc, but realistically the GET request that returns the `PDF` data should be considered "simple" and not require preflight anyway.

[2019-06-27 20:07] bitflower commented on #196
Hi,
this is all I can provide. It what happens from when I call
[code]

<img width="1436" alt="1" src="https://user-images.githubusercontent.com/6666636/60297047-ac008400-9927-11e9-986e-c210338cc381.png">
<img width="1739" alt="2" src="https://user-images.githubusercontent.com/6666636/60297045-ac008400-9927-11e9-870a-e0d1ed3ee4c3.png">
<img width="1887" alt="3" src="https://user-images.githubuserc

[2019-06-27 21:33] jlphelps commented on #158
I was experiencing this issue and can confirm that [2.0.0-Preview.1](https://github.com/microsoftgraph/msgraph-sdk-javascript/releases/tag/2.0.0-Preview.1) fixes it for me.

[2019-06-27 21:51] ificator commented on #196
So it looks like there are three problematic headers:
1. authorization
2. client-request-id
3. sdkversion

It sounds like the SDK is following the redirect itself, and it dutifully attaches its usual headers when it does so. It's this behavior that's triggering CORS.

Now my knowledge of the SDK is limited, but ideally for redirects related to `/content` scenarios (including the use of `format`) t

[2019-06-28 04:51] bitflower commented on #196
Thanks for investigating.

Let me know how I can help.

[2019-06-28 17:21] arunprasathv commented on #190
@muthurathinam Could you please tell me how to make it working in IE11.

[2019-06-30 14:12] coloeus commented on #195
@muthurathinam
Yes, I tried different files with different locations but always with the same result.

[2019-07-01 05:17] muthurathinam commented on #195
"/me/drive/root/children/ubuntu-mate-18.04.2-desktop-amd64.iso"
a 2kb file which is the .json representation of the file is downloaded and the "finish" event is thrown.

Yes, making request without `/content` will bring back the details about the file in json format.

Downloading large file over 1GB results same for me. We might have to understand the proper way to download the large files. @ifica

[2019-07-01 06:02] muthurathinam commented on #190
@arunprasathv
Follow these steps:
1. Install the latest preview of the library (which is light weight) with `npm install -S @microsoft/microsoft-graph-client@Preview` to install the latest preview version of v2.0
2. Use the [README.md](https://github.com/microsoftgraph/msgraph-sdk-javascript#installation) as your reference guide to initialize and make requests.
3. If you are using the es version o

[2019-07-01 08:57] muthurathinam commented on #192
Closing the issue as there is no response from the user. @nakawankuma Please reopen if necessary.

[2019-07-01 08:57] #192 closed

[2019-07-01 15:44] ificator commented on #195
There's nothing special when it comes to downloading - we'll return the entire fire by default, but support the `Range` header for partial content. I cannot think of a service side reason for only getting 32KiB back..

[2019-07-01 18:51] arunprasathv commented on #190
does the preview has the fix for IE 11?

[2019-07-02 05:08] muthurathinam commented on #195
@ificator Thanks for the info. @coloeus will investigate more into this issue.

[2019-07-02 05:13] muthurathinam commented on #190
Actually the reason for SDK not working in IE11 is that your building process need to transpile the vendor js file to es5. Refer [this](https://hackernoon.com/polyfills-everything-you-ever-wanted-to-know-or-maybe-a-bit-less-7c8de164e423) document to understand the difference between transpiling and polyfilling.

The preview doesn't have the fix for your issue. It does have improved compilation pro

[2019-07-02 18:54] arunprasathv commented on #190
Do you have any sample that works in IE11 , I think that would help better. my  tsconfig is targetting to es5.

why can't i call graph api myself as this is just a get call.

[2019-07-05 03:59] NoPhaseNoKill opened #198 "Token Refresh Failing Silently - Causing CompactToken parsing failed with error code: 80049217"
# Bug Report
-   [N ] Can you reproduce the problem?
-   [2.0.0-Preview.1] Are you running the latest version?
-   [Y ] Are you reporting to the correct repository?
-   [N ] Did you perform a cursory search?

## Description

Intermittent issue. After a certain amount of time, it looks like the auth token is expiring. However, when the token has expired, it is still trying to silently log-in, and n

[2019-07-08 19:25] arunprasathv commented on #190
@muthurathinam Could you please provide an update on IE 11 example.

[2019-07-08 19:34] evedal commented on #188
@ashokkumarjuly I had an issue which might be similar to yours. I would have some requests pending, often dependent on what page size i specified for the response.

The issue was not with the API, but with the parsing of the API response. Try requesting the raw response, and parse on your own end. This solved the issue for me (but the root cause is probably a bug in the library). See https://githu

[2019-07-09 05:23] ashokkumarjuly commented on #188
@evedal , thanks let me try.

[2019-07-10 03:08] mannharleen commented on #169
This is Fixed and due with v2.0.0 releaes - https://github.com/microsoftgraph/msgraph-sdk-javascript/pull/170#issuecomment-494650127

[2019-07-10 12:31] bitflower commented on #196
Hi guys, did you have the chance to investigate a little deeper here? Thanks!

[2019-07-11 08:23] muthurathinam commented on #196
SDK is just following the redirect it did not add any additional headers on redirected request.
@bitflower I have tried setting up this in my local server it works fine for me now. can you verify once again. if its unsuccessful try setting the `redirect option` like,
[code]

[2019-07-11 09:26] kaaloo opened #200 "Improve downloading chat message attachments"
# Bug Report

## Prerequisites

-   [X] Can you reproduce the problem?
-   [X] Are you running the latest version?
-   [X] Are you reporting to the correct repository?
-   [X] Did you perform a cursory search?

For more information, see the `CONTRIBUTING` guide.

## Description

When using the list chat messages api `/teams/{id}/channels/{id}/messages` each chat message has an `attachments` proper

[2019-07-11 09:47] muthurathinam commented on #198
@NoPhaseNoKill Can try the new preview version `i.e Preview.4` and let me know were you getting the same error. Basically this preview is rolled out with bug fixing the possibility of returning `undefined` value in auth provider this could possibly be a reason for the above issue.
To install latest preview version use `npm install @microsoft/microsoft-graph-client@Preview`.

[2019-07-11 14:34] kaaloo commented on #200
I ended up using the following workaround to construct a url which will return an object with a `@microsoft.graph.downloadUrl`  that can then be used to download the content as above.

[code]

It's a hack and I'm not sure how stable this mapping will be moving forward.  It would be great to have native support for a `@microsoft.graph.downloadUrl` property in chat message attachments.

[2019-07-11 18:08] arunprasathv commented on #190
@muthurathinam @yinaa
Team,

In general, having an ES6 code published to npm is a very bad practice and should be avoided at all costs.  Could you please fix this and publish it to npm.

Thanks
Arun

[2019-07-11 19:07] bitflower commented on #196
Hi @muthurathinam, thanks for the hint. Unfortunately I get the same error:
<img width="1717" alt="Bildschirmfoto 2019-07-11 um 21 05 31" src="https://user-images.githubusercontent.com/6666636/61077951-c2c2d280-a41f-11e9-945b-6e71e7c7462e.png">

I've used this code:
[code]

Have you tried my repo with an app id of yours?

Any other things I can try?

[2019-07-12 04:56] muthurathinam commented on #200
Hi @kaaloo , Thanks you for the ask but unfortunately the ask cannot be fulfilled from the SDK end. Can you please post the question in StackOverflow with the tag microsoft-graph so that the Graph Service team will respond.

[2019-07-12 04:56] #200 closed

[2019-07-12 05:01] muthurathinam commented on #190
@arunprasathv The library is shipped with both **es5** and **es6** code. The main reason for this is to fulfill the need of users based on their requirement. If your requirement is to directly use the **es5** code then stick to using es5 instead of es6.

[2019-07-12 05:02] muthurathinam commented on #189
Fixed in the latest preview version of the library 2.0.0-Preview.4.

[2019-07-15 08:22] jelohipolitocruz opened #201 "downloadUrl not in the properties of driveItem when using search"
# Bug Report

## Prerequisites

-   [X ] Can you reproduce the problem?
-   [ ] Are you running the latest version?
-   [ ] Are you reporting to the correct repository?
-   [ ] Did you perform a cursory search?

For more information, see the `CONTRIBUTING` guide.

## Description

Using search parameter to get drive items

**Console Errors:** No console errors

**Screenshots:**
https://graph.micros

[2019-07-15 09:05] kaaloo commented on #200
Sure, I posted my question here:

https://stackoverflow.com/questions/57036458/how-to-download-teams-chat-message-attachments-using-the-microsoft-graph-beta-ap

[2019-07-16 18:08] arunprasathv commented on #190
@muthurathinam I'm consuming 15 different libraries and never had this issue. Not sure why this library is special.  Could you please fix IE11 issue that we are reporting. looks like we won't get the fix anytime soon.. Please let me know when this can be fixed.

To your other comment, (since the library isn't working in IE11) I'm trying this approach

Correct me if I am wrong. You are making direc

[2019-07-17 04:15] muthurathinam commented on #190
The library depends on Promise and fetch, in case if your your environment doesn't have support for fetch and promise you need to polyfill them. In your case IE doesn't have support for both, so you have to polyfill them. Refer [installation](https://github.com/microsoftgraph/msgraph-sdk-javascript#installation) section in the readme page of the library.

ReferenceError: regeneratorRuntime is not

[2019-07-17 04:40] muthurathinam commented on #190
Refer [this](https://github.com/OfficeDev/outlook-dev-docs/issues/508#issuecomment-459720747) issue thread.

[2019-07-18 19:38] arunprasathv commented on #190
I solved my problem without using the library by making calls directly.   Thanks!.

[2019-07-19 03:51] #190 closed

[2019-07-19 03:52] #194 closed

[2019-07-19 08:00] #189 closed

[2019-07-19 09:02] krototype commented on #201
@jelohipolitocruz it looks like this feature is not supported by the API, so it doesn't seem to be an SDK issue.
You can post the same query on stackoverflow with the tag microsoft-graph for this purpose.

[2019-07-19 09:09] #201 closed

[2019-07-19 11:06] arceus-jia opened #202 "cannot get attachments for messages"
# Bug Report

## Prerequisites

-   [ ] Can you reproduce the problem?
-   [ ] Are you running the latest version?
-   [ ] Are you reporting to the correct repository?
-   [ ] Did you perform a cursory search?

For more information, see the `CONTRIBUTING` guide.

## Description
I'm trying to use graph api to get attachments for a message , but it seems not work.
If I use graph function, it returns

[2019-07-22 17:00] aslanovsergey opened #203 "Import issues"
# Bug Report

## Prerequisites

-   [x] Can you reproduce the problem?
-   [x] Are you running the latest version?
-   [x] Are you reporting to the correct repository?
-   [x] Did you perform a cursory search?

## Description
`
import { ImplicitMSALAuthenticationProvider } from "./node_modules/@microsoft/microsoft-graph-client/lib/src/ImplicitMSALAuthenticationProvider";`

Doesn't work

Also what

[2019-07-23 03:59] muthurathinam commented on #203
Hi @aslanovsergey Can you help with the following information ?
1. what is the version of the library that you are using?

2. Can you verify that your node_modules and your source file in which you are importing are in the same directory?

This is a global object of the library, in case if you are using the library in browser by including the minified file of the library in html file.

[2019-07-23 04:01] muthurathinam commented on #202
Hi @arceus-jia
Can you wrap the above piece of code in a `try catch` and post me back the error you are getting for that request?

[2019-07-23 06:54] aslanovsergey commented on #203
- 1.7.0
- Yes, src and node_modules have the same parent folder (my project's folder)
- I'm going to use this library in browser but I use npm package import instead of add script tag to add library on the page

[2019-07-23 17:41] nmetulev opened #204 "Batching - unable to get .json() to work on json response"
# Bug Report

## Prerequisites

-   [x] Can you reproduce the problem?
-   [x] Are you running the latest version?
-   [x] Are you reporting to the correct repository?
-   [x] Did you perform a cursory search?

## Description

I'm attempting to use the batching api to get a response for both the `/me` and the `/me/photo/$value` endpoint. However, using the `.json()` method on the me response throw

[2019-07-26 10:02] arceus-jia commented on #202
it was super strange, I've wrapped code, but it showed nothing.
here is my code:
[code]
If I keep this line of code "result = await client.api(url).get();", the program will neither print result1 nor print err. Not even running the next code, it just exit.
but if I don't call this, just use the http request,  it will print the right answer.

Thx.

[2019-07-26 13:58] erinha commented on #67
I'm getting this exact error. @muthurathinam to answer your questions above:

1. Version 1.7.0
2. We're using TS version 3.4.5
3. We are getting this warning on every compilation using webpack.

Our webpack.config.js looks like this:
[code]

I've looked on disk and the files the error says it cannot find are indeed not present. Here's an example of a warning on my compile:
[code]

It's complaining

[2019-07-29 15:39] bitflower commented on #196
Hi guys, did you have the chance to check my repo?

[2019-07-29 16:31] eredisg commented on #203
Hello, I am getting the same issue when attempting to import **ImplicitMSALAuthenticationProvider**.

@microsoft/microsoft-graph-client version: 1.7.0
msal version: ^1.0.0

I get the following error:

[2019-07-29 16:39] aslanovsergey commented on #203
@eredisg because we are looking at the docs for version 2, switch release to 1.7 and you will find answer https://github.com/microsoftgraph/msgraph-sdk-javascript/tree/1.7.0

[2019-07-29 18:51] MarkHerhold opened #205 "Missing Changelog Updates"
I can't find the summary of changes for `@microsoft/microsoft-graph-client@1.7.0`.
Could the changelog be updated for those of us that are upgrading? Thanks!

[2019-07-29 23:03] bimesh commented on #123
Can someone confirm if uploading to a shared folder requires a web-based authentication flow?

[2019-07-30 01:36] wy193777 opened #206 "Get an empty GraphError with 200 code on 1.7.0"
# Bug Report

## Prerequisites

-   [x] Can you reproduce the problem?
-   [x] Are you running the latest version?
-   [x] Are you reporting to the correct repository?
-   [x] Did you perform a cursory search?

For more information, see the `CONTRIBUTING` guide.

## Description

[Description of the bug or feature]
Got nearly empty GraphError with a 200 error code.
**Console Errors:** [Is there any

[2019-07-30 17:20] nmetulev opened #207 "NPM package is missing source"
# Bug Report

## Prerequisites

-   [x] Can you reproduce the problem?
-   [x] Are you running the latest version?
-   [x] Are you reporting to the correct repository?
-   [x] Did you perform a cursory search?

For more information, see the `CONTRIBUTING` guide.

## Description
The latest npm package does not include the source but includes source maps. You can either include source directly in th

[2019-08-01 01:15] sajangurung opened #209 "Calendar create event fails with status code -1"
# Bug Report

## Prerequisites

-   [x] Can you reproduce the problem?
-   [x] Are you running the latest version?
-   [x] Are you reporting to the correct repository?
-   [x] Did you perform a cursory search?

For more information, see the `CONTRIBUTING` guide.

## Description

Calendar create event fails with status code -1. The request is on `/users` endpoint that is Application Permission Type

[2019-08-01 02:08] #209 closed

[2019-08-02 16:31] technicallynick commented on #206
I'm also receiving this empty error when attempting to pull the users photo as a 'signed-in user'.

I'm using the below function where token is a valid OAuth token and the url is '/me/photo/$value':

[code]

However, when removing the $value from the url and just pull the metadata, I'm able to pull it just fine.

[code]

[2019-08-02 18:34] MIchaelMainer opened #210 "How do I get the photo stream using the Microsoft Graph Javascript client?"
I'm also receiving this empty error when attempting to pull the users photo as a 'signed-in user'.

I'm using the below function where token is a valid OAuth token and the url is '/me/photo/$value':

[code]

However, when removing the $value from the url and just pull the metadata, I'm able to pull it just fine.

[code]

_Originally posted by @technicallynick in https://github.com/microsoftgraph/m

[2019-08-02 18:39] MIchaelMainer commented on #210
@technicallynick

You need to set the [responsetype](https://github.com/microsoftgraph/msgraph-sdk-javascript/blob/dev/docs/OtherAPIs.md#responsetype).

[2019-08-03 04:11] technicallynick commented on #210
@MIchaelMainer  So you're saying the request should look like this? I'm having a hard time finding some supporting documentation for the syntax. The doc you linked doesn't really go in to a lot of detail.  I'm still getting the empty error with a 200 OK with the below configuration.

[code]

I also tried looking through the [old beta github](https://github.com/microsoftgraph/nodejs-connect-rest-sa

[2019-08-05 05:22] #203 closed

[2019-08-05 05:24] muthurathinam commented on #205
@MarkHerhold Refer the releases section for the change log. https://github.com/microsoftgraph/msgraph-sdk-javascript/releases

[2019-08-05 05:24] #205 closed

[2019-08-07 15:48] jdolearydl opened #211 "Batching - Node"
The [documentation](https://github.com/microsoftgraph/msgraph-sdk-javascript/blob/dev/docs/content/Batching.md) on batching makes use of the Browser's Request object.

How can the same thing be done in Nodejs?

[2019-08-08 01:03] changus commented on #202
Getting this issue as well, request works when I run it in postman.

Experiencing something similar when I run this in my IDE (surrounded by try/catch).  Code just stops when I step over the line, no error or anything.

[2019-08-08 05:30] muthurathinam commented on #202
@arceus-jia @changus I believe you are using the 1.7.0 version of the SDK. can you try the same code with out preview version 2.0.0-Preview.4 ? as I cannot reproduce the same at my end.

[2019-08-08 06:17] krototype commented on #210
@technicallynick can you tell us whether you are using browser or node version? if browser then can you give the details about the browser and it's version.

[2019-08-08 06:21] #207 closed

[2019-08-08 17:38] changus commented on #202
@muthurathinam after i upgraded to the 2.0.0-Preview.4, the error went away.  Do want to point out that I also needed to include the isomorphic-fetch package that I didn't need to include before.

Thank you!

[2019-08-08 18:20] technicallynick commented on #210
@krototype I'm using the node version.

npm 6.9.0
node v10.16.0
@microsoft/microsoft-graph-client v1.7.0

[2019-08-08 19:07] forivall commented on #169
Unfortunately, I'm no longer working at the company where I ran into this issue, so I cannot try the preview without going through the hoops of setting up a new azure subscription. So I'll have to leave the verification up to someone else.

[2019-08-09 01:13] changus opened #212 "Creating a calendar event is giving error"
# Bug Report

## Prerequisites

-   [x ] Can you reproduce the problem?
-   [ x] Are you running the latest version?
-   [x ] Are you reporting to the correct repository?
-   [ x] Did you perform a cursory search?

## Steps to Reproduce

It's possible that this is an issue with the Microsoft Graph API itself, but when I am trying to post to a calendar with the code:

`await client.api(`/users/${us

[2019-08-09 06:42] arceus-jia commented on #202
@muthurathinam
Yes, I've changed to 2.0.0-Preview.4, it works!
Thank you!

[2019-08-09 16:12] narse opened #214 "How can I put a profile photo on the html page?"
# Feature Request

## How can I put a profile photo on the html page?

https://docs.microsoft.com/en-us/graph/api/profilephoto-get?view=graph-rest-1.0

how a profile picture will appear even if I read the following document.
would  you make me a JavaScript sample code?

[2019-08-12 01:49] sajangurung opened #215 "Msgraph client fails silently when getting schedule for more than one email"
# Bug Report

## Prerequisites

-   [x] Can you reproduce the problem?
-   [x] Are you running the latest version?
-   [x] Are you reporting to the correct repository?
-   [x] Did you perform a cursory search?

For more information, see the `CONTRIBUTING` guide.

## Description

getSchedule fails when queried with schedules greater than one

**Console Errors:** [Is there any console error]

**Scre

[2019-08-12 03:50] #202 closed

[2019-08-12 04:13] muthurathinam commented on #214
Set up your environment as explained in the [readme](https://github.com/microsoftgraph/msgraph-sdk-javascript#installation).

Note: The explanation in the above readme is for our latest preview which is more light weight and has more advantages over the stable version. [2.0.0-Preview.4](https://www.npmjs.com/package/@microsoft/microsoft-graph-client/v/2.0.0-Preview.4) is the latest tag you might w

[2019-08-12 08:45] krototype commented on #210
@technicallynick the blob response type is not supported for node (it is just supported for browser environment).
You can use getStream to get the image data using node. This [doc](https://github.com/microsoftgraph/msgraph-sdk-javascript/blob/dev/docs/Actions.md) would help you with getStream.

[2019-08-12 10:48] casz commented on #171
I am also seeing a similar issue on 1.7.0. Reverted to 1.6.0, experienced the same after reverting after some debugging: The issue seems to be that Request is not defined
![image](https://user-images.githubusercontent.com/1661688/62860074-5a596080-bcff-11e9-8fc6-31fb2bc45288.png)

Getting a GraphError -1
[code]

[2019-08-12 11:21] casz commented on #171
I found the issue related to switching from Node 10 to 12 😓
I see that #197 is released in a preview.

[2019-08-13 06:02] narse commented on #214
Thank you @muthurathinam
I succeeded in showing the profile image using the code you wrote me.

Best Regards

[2019-08-13 06:04] #214 closed

[2019-08-13 12:29] sajangurung commented on #215
To provide some context to above,
NodeJs version: 8.10
Permission Type: Application (not tried with Delegated)
Url: /users/{id|userPrincipalName}/calendar/getSchedule where id used is the first email in Schedules

[2019-08-13 13:40] #204 closed

[2019-08-14 10:22] krototype commented on #215
We are looking into this issue

[2019-08-18 20:10] gunnim opened #220 "LargeFileUploadTask cors error"
## Description

When attempting a LargeFileUploadTask it errors on client PUT with
Access to fetch at '<< longurlremoved >>' from origin 'http://localhost:3000' has been blocked by CORS policy: Request header field sdkversion is not allowed by Access-Control-Allow-Headers in preflight response.

## Steps to Reproduce

1. Follow the steps here https://github.com/microsoftgraph/msgraph-sdk-javascrip

[2019-08-18 23:44] sajangurung commented on #215
Currently waiting on this issue. As a workaround, I've decided to use the direct http endpoint but would appreciate a proper solution in the client itself.

[2019-08-19 07:15] krototype commented on #215
@sajangurung
If you are using the stable version, try to use the current Preview Version as it has some fixes (there won't be any breaking change).
Please provide the exact code that you are using.
What is the exact response(if any) that you are getting?
_(we are planning for a stable release in the near future)_

[2019-08-22 03:43] MIchaelMainer commented on #212
@andrueastman The sample may be wrong.

[2019-08-22 08:21] andrueastman commented on #212
@changus The parameter given in the post function is incorrect and the call should be as follows.
[code]
@MIchaelMainer I will sort out the snippet generation for this asap.

[2019-08-22 14:00] #215 closed

[2019-08-23 15:41] alextran1502 opened #221 "Cannot sign in when building Chrome new tab extension."
# Bug Report

## Prerequisites

-   [ x ] Can you reproduce the problem?
-   [ x ] Are you running the latest version?
-   [ x ] Are you reporting to the correct repository?
-   [ x ] Did you perform a cursory search?

For more information, see the `CONTRIBUTING` guide.

## Description
Building an application for google Chrome new tab extension. I cannot redirect URI to chrome://newtab. Is there a

[2019-08-23 17:39] MIchaelMainer commented on #221
You could try setting up a redirect service URL that you could set in the app registration that would then redirect to the Chrome extension.

[2019-08-24 05:42] alextran1502 commented on #221
Hello @MIchaelMainer, thank you for answering but my application is not working still even though I follow your suggestion
<img width="820" alt="Screen Shot 2019-08-24 at 12 38 25 AM" src="https://user-images.githubusercontent.com/27055614/63633076-c1341f00-c607-11e9-9046-d04401912740.png">

Here is where I place it in the code

<img width="631" alt="Screen Shot 2019-08-24 at 12 40 45 AM" src="htt

[2019-08-24 21:52] etyp opened #222 "Consistently getting -1 statusCode with "Failed to fetch" message"
# Bug Report

## Prerequisites

-   [ ] Can you reproduce the problem?
-   [x] Are you running the latest version?
-   [x] Are you reporting to the correct repository?
-   [x] Did you perform a cursory search?

For more information, see the `CONTRIBUTING` guide.

## Description

We're using Graph for Mail.Send and Mail.ReadWrite and keep consistently seeing users getting cryptic error messages in

[2019-08-27 08:45] muthurathinam commented on #113
Stable release is published: https://github.com/microsoftgraph/msgraph-sdk-javascript/releases/tag/2.0.0

[2019-08-27 08:45] #113 closed

[2019-08-27 08:45] muthurathinam commented on #151
Published stable release for the same
https://github.com/microsoftgraph/msgraph-sdk-javascript/releases/tag/2.0.0

[2019-08-27 08:45] #151 closed

[2019-08-27 08:46] muthurathinam commented on #158
Published stable release for the same
https://github.com/microsoftgraph/msgraph-sdk-javascript/releases/tag/2.0.0

[2019-08-27 08:46] #158 closed

[2019-08-27 08:46] muthurathinam commented on #169
Published stable release for the same
https://github.com/microsoftgraph/msgraph-sdk-javascript/releases/tag/2.0.0

[2019-08-27 08:46] #169 closed

[2019-08-27 08:46] muthurathinam commented on #180
Published stable release for the same
https://github.com/microsoftgraph/msgraph-sdk-javascript/releases/tag/2.0.0

[2019-08-27 08:46] #180 closed

[2019-08-27 08:46] muthurathinam commented on #183
Published stable release for the same
https://github.com/microsoftgraph/msgraph-sdk-javascript/releases/tag/2.0.0

[2019-08-27 08:46] #183 closed

[2019-08-27 08:47] muthurathinam commented on #198
Published stable release for the same
https://github.com/microsoftgraph/msgraph-sdk-javascript/releases/tag/2.0.0

[2019-08-27 08:47] #198 closed

[2019-08-28 05:15] krototype commented on #210
As there has been no response on this issue for long, so we are closing this issue.
Feel free to reopen the issue, if needed.

[2019-08-28 05:15] #210 closed

[2019-09-04 06:33] CrushYar opened #224 "Incorrect redirect (or missing file) in the unpkg.com cdn."
# Bug Report

https://unpkg.com/@microsoft/microsoft-graph-client/lib/graph-js-sdk-web.js
redirects to the missing
https://unpkg.com/@microsoft/microsoft-graph-client@2.0.0/lib/graph-js-sdk-web.js

## Prerequisites

-   [v ] Can you reproduce the problem?
-   [x] Are you running the latest version?
-   [v ] Are you reporting to the correct repository?
-   [v] Did you perform a cursory search?

For

[2019-09-08 14:02] darrelmiller commented on #224
There was a rename of the package file during the 2.0 release.  It is now called `https://unpkg.com/@microsoft/microsoft-graph-client/lib/graph-js-sdk.js`  We documented this in the release [blog post](https://developer.microsoft.com/en-us/graph/blogs/microsoft-graph-sdk-for-javascript-2-0-0/) and in the [release notes](https://github.com/microsoftgraph/msgraph-sdk-javascript/releases/tag/2.0.0).

[2019-09-08 14:02] #224 closed

[2019-09-09 10:20] vemundeldegard opened #225 "'Cannot read property 'constructor' of undefined' when trying to send draft email"
# Bug Report

## Prerequisites

-   [x] Can you reproduce the problem?
-   [x] Are you running the latest version?
-   [x] Are you reporting to the correct repository?
-   [x] Did you perform a cursory search?

## Description

When I am trying to send a draft message, I get a TypeError.

**Console Errors:**

[code]

## Steps to Reproduce

1. Create message and get a messageID:

[code]

2. Then try

[2019-09-11 09:42] krototype commented on #206
Seems like the issue referenced for this one has been closed, so closing this issue as well. Feel free to open the issue if needed.

[2019-09-11 09:42] #206 closed

[2019-09-11 09:44] krototype commented on #212
This issue has been resolved. Closing this issue, for now, feel free to open the issue if needed.

[2019-09-11 09:45] #212 closed

[2019-09-11 10:47] krototype commented on #222
Are you setting any particular ResponseType in your code?

[2019-09-13 13:32] praveenp2 opened #228 "Office 365 - not able to access user calendar availablity"
# Bug Report

## Prerequisites

-   [ ] Can you reproduce the problem? Yes
-   [ ] Are you running the latest version? Yes
-   [ ] Are you reporting to the correct repository? Yes
-   [ ] Did you perform a cursory search? Yes

For more information, see the `CONTRIBUTING` guide.

We have integrated office 365 and accessing user's calendar using below graph api.
https://graph.microsoft.com/v1.0/user

[2019-09-13 13:36] praveenp2 commented on #228
[https://docs.microsoft.com/en-us/graph/api/user-list-calendarview?view=graph-rest-1.0&tabs=http](url)

[2019-09-16 04:07] krototype commented on #228
@praveenp2
The 404 error can be due to the user not found (maybe invalid userId) / resource not found error.
The 403 is due to Access Denied issue.

If you still face such kind of error even after verifying such cases or face any other error, feel free to report.

[2019-09-16 06:16] krototype commented on #222
@etyp this seems to be an error due to the Network issues, if we have a raw responseType, we just return the response that we get from the service.

[2019-09-16 14:01] MIchaelMainer commented on #228
Are you using this client library?
Is this issue occurring on all users all of the time?
Are you using delegated or application permissions?

[2019-09-17 06:40] krototype commented on #220
Try to use the latest version and see if this issue still persists.

[2019-09-17 09:23] krototype commented on #211
It's very similar to what we do for the browser.
Example:
[code]

[2019-09-17 09:23] #211 closed

[2019-09-17 09:24] krototype commented on #211
Closing this issue, for now. Feel free to open the issue, if needed.

[2019-09-22 20:31] darrelmiller opened #230 "ImplicitMSALAuthenticationProvider is not exported in index.js"
We should add this file to the list of files we export.

Currently you need to export the file explicitly like this:

[code]

Ideally we should be able to do

[code]

[2019-09-24 14:01] andrewconnell opened #231 "Provide docs for init client without using MSAL"
# Feature Request

## Describe the solution you'd like

Current docs on README.md & in the /docs folder only show how to init the SDK when using an auth provider, specifically MSAL. Would be nice if you showed how to init WITHOUT MSAL as MSAL is not available in many scenarios.

For instance, MSAL.js won't work with custom Microsoft Teams solutions as they run in an IFRAME and MSAL.js at the prese

[2019-09-24 14:18] andrewconnell opened #232 "Docs point to @types/microsoft-graph for TS type declarations?"
# Bug Report

## Prerequisites

-   [X] Can you reproduce the problem?
-   [X] Are you running the latest version?
-   [X] Are you reporting to the correct repository?
-   [X] Did you perform a cursory search?

## Description

The current docs point to the [old repo](https://github.com/microsoftgraph/msgraph-typescript-typings) used for Microsoft Graph TypeScript type declarations, but the new lib

[2019-09-25 05:40] #225 closed

[2019-09-25 05:40] krototype commented on #225
Feel free to open the issue, if needed.

[2019-09-25 05:56] krototype commented on #220
As there seems to be no response, so closing the issue, for now, feel free to reopen the issue if needed.

[2019-09-25 05:56] #220 closed

[2019-09-26 09:06] Mathyaku opened #233 "Unable to create a Client on Word-Add-In locally"
Hello, i'm having problems to set up the msgraph-sdk-javascript using word-addin locally.

![image](https://user-images.githubusercontent.com/12189704/65674880-f04e0e00-e055-11e9-878e-9a6def301359.png)

![image](https://user-images.githubusercontent.com/12189704/65675023-2b504180-e056-11e9-9826-2f29ab44ae95.png)

Using my add-in on office365 online works perfectly. Any tips how can I handle it loc

[2019-09-26 15:05] TimboBl opened #234 "Issue with the tutorial"
# Description
Hello,
I am trying to create an app that will read Microsoft Planner Tasks from a board.
However when trying to get the Graph API working nothing is working as it should.
I have followed the README.md from this repository for Node even though I am working on a React app. The Browser Tutorial was of even less use I have to say.
I registered my application, then I am trying to authenti

[2019-09-26 16:46] arsnyder16 opened #235 "Add authority option to MSALAuthenticationProviderOptions"
# Feature Request
Add authority option to MSALAuthenticationProviderOptions

## Is your feature request related to a problem? Please describe

Without being able to set the authority,  UserAgentApplication.aquireTokenSilent can result in an error `The cache contains multiple tokens satisfying the requirements. Call AcquireToken again providing more requirements like authority` ImplicitMSALAuthenti

[2019-10-01 03:04] darrelmiller commented on #234
I made the exact same mistake when I was going through the React tutorial last week.  The second parameter in the constructor of ImplicitMSALAuthenticationProvider is an `options` object that has a scopes property.  You can't pass the scopes directly.

[code]

[2019-10-01 03:07] darrelmiller commented on #230
/cc @muthurathinam Was this intentionally not exported?

[2019-10-01 07:46] TimboBl commented on #234
Thank you so much! That at least removed that issue. The hunt continues.

[2019-10-01 07:46] #234 closed

[2019-10-01 15:30] darrelmiller commented on #235
You can set the `authority` whilst instantiating the UserAgentApplication object.  See details here https://docs.microsoft.com/en-us/azure/active-directory/develop/msal-js-initializing-client-applications#configuration-options  e.g.

[code]

[2019-10-01 21:48] arsnyder16 commented on #235
I am setting `authority` on UserAgentApplication but as i mention in the issue `ImplicitMSALAuthenticationProvider should forward the authority to acquireTokenSilent` but it does not

https://github.com/microsoftgraph/msgraph-sdk-javascript/blob/edbec9454111c417f39ec381a9f780e83cd14d25/src/ImplicitMSALAuthenticationProvider.ts#L72

[2019-10-01 22:09] darrelmiller commented on #235
@arsnyder16  That seems broken.  I'll bring this up with the MSAL.js team.  If the value isn't changing per request it seems unnecessary to pass it on every call.

[2019-10-01 22:13] arsnyder16 commented on #235
I agree `acquireTokenSilent` could implicitly use the option value passed in on `UserAgentApplication` creation but it only looks at what is passed through `acquireTokenSilent` parameters

[2019-10-03 03:49] darrelmiller commented on #233
This appears to be more related to an Office add-in issue.  Perhaps a question on StackOverflow questions with an `office-js` tag would get a more informative response.

[2019-10-03 03:49] #233 closed

[2019-10-03 23:04] EricZhengJun opened #249 "AWS Lambda function call graph api"
Hi, I use "@microsoft/microsoft-graph-client" in my AWS lambda function to call Graph API to get email, but cannot get any response. Dose Graph API support AWS lambda?

[2019-10-07 09:43] krototype commented on #222
Closing this issue, for now, feel free to open this, if needed.

[2019-10-07 09:43] #222 closed

[2019-10-07 09:51] krototype commented on #231
You can use [Custom Authentication Provider](https://github.com/microsoftgraph/msgraph-sdk-javascript/blob/dev/docs/CustomAuthenticationProvider.md) and create an Authentication provider according to the need.

[2019-10-07 14:49] whydrae opened #236 "'Symbol' is undefined error in IE11"
# Bug Report

## Prerequisites

-   [X] Can you reproduce the problem?
-   [X] Are you running the latest version?
-   [X] Are you reporting to the correct repository?
-   [ ] Did you perform a cursory search?

For more information, see the `CONTRIBUTING` guide.

## Description

Hello! I'm facing with "Symbol is not defined" issue when use api calls of the Client in IE11.

**Console Errors:** 'Sym

[2019-10-11 09:23] krototype commented on #236
Thanks for reporting the issue, we are looking into it.

[2019-10-15 01:40] gjohncock opened #237 "Authentication Provider to connect with Client Id and Secret/Certificate"
# Feature Request
Wanting to connect to MS Graph from a Sharepoint App

## Is your feature request related to a problem? Please describe
Limited info available but says can only connect with Client ID and Secret/Certificate

A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
Hoping for a sample on how to do this.   The code must be pure Javascript to enabl

[2019-10-15 13:55] MIchaelMainer commented on #237
Hello @gjohncock

I think you'll want to use the SharePoint specific wrapper of this client library. https://github.com/SharePoint/sp-dev-docs/blob/master/docs/spfx/use-msgraph.md.

Please let us know if this is helpful.

Michael

[2019-10-16 04:37] gjohncock commented on #237
Thanks for the reply michael, but I am looking for a pure JS solution.  It looks like the link you provided requires a specific Node Project template and its method of connection is not with a client secret anyway.

I have already created code that connects with this method, but it does not work in  a sharepoint app (which is a pity because ideally we want the user authenticated to ensure they can

[2019-10-16 09:33] Mathyaku opened #240 "Intercept Graph Api Requests"
Hello,

Is there anyway to Intercept Graph Api Requests, using Javascript SDK ?
I would like to use a loader when the request is beeing processed, is there anyway to do that ?

[2019-10-16 10:26] krototype commented on #240
@Mathyaku
- What do you exactly mean by intercept?
- Are you using js sdk right now?
- At what stage do you exactly want your request to be processed?

[2019-10-16 10:37] Mathyaku commented on #240
@krototype

* I would like a hability to know when the request is being processed or not, like on AXIOS Interceptor (https://github.com/axios/axios).

* Yes, I'm building a Word Addin and using React/Javacript @microsoft/microsoft-graph-client lib

* As Axios did, on every request/response from a graph client, I wanna execute some code.

![image](https://user-images.githubusercontent.com/12189704/

[2019-10-17 06:05] krototype commented on #240
@Mathyaku,
You can look into building a middleware of your own and building a custom middleware chain out of it, using which you can intercept the request before the request is being sent to the Graph server, similarly you can intercept the response before you actually pass it back to the client.
This [doc](https://github.com/microsoftgraph/msgraph-sdk-javascript/blob/dev/docs/CustomMiddlewareChai

[2019-10-17 15:22] OlivierCuyp opened #241 "default count() param to true"
# Feature Request

## Is your feature request related to a problem? Please describe

I don't understand why we should specify `true` in the `.count()` method.
If you call, it means you want it.
If you don't specify it, you get this error:

[code]

PS: I'm not using typescript and I'm not the only one ;)

## Describe the solution you'd like

Default the param to `true` here:
https://github.com/micr

[2019-10-21 00:13] pl4nty commented on #230
Worth noting MSALAuthenticationProviderOptions isn't exported either, even though the Authentication section of the readme uses `new MicrosoftGraph.MSALAuthenticationProviderOptions(graphScopes);`

[2019-10-21 00:40] darrelmiller commented on #237
The MSAL JS library we use only supports Implicit Flow OAuth authorization because client-side JavaScript solutions cannot use Client Credentials flow because having a client secret in browser JavaScript would be insecure.  I believe it is possible to take a Sharepoint token and convert it into something that Graph can use.  I believe this is what the Microsoft Graph Toolkit does. I'm not quite su

[2019-10-21 09:58] Mathyaku commented on #240
It worked, thanks.

But I used the latest [documentation](https://github.com/microsoftgraph/msgraph-sdk-javascript/blob/1.7.0/docs/CustomMiddlewareChain.md)

[2019-10-22 18:38] #240 closed

[2019-10-24 05:19] krototype commented on #231
This issue seems to be resolved if there is still a problem, please feel free to reopen the issue

[2019-10-24 05:19] #231 closed

[2019-10-25 05:53] krototype commented on #241
We have set it to false according to the original behavior of the graph, where if you don't specify true or false, the returned response doesn't contain any parameter of count (which is the same behavior as that of false).

[2019-11-03 18:53] Vasu014 opened #244 "CompactToken parsing failed with error code: 80049217 | passport-azure-ad-oauth2"
I am using '**passport-azure-ad-oauth2**' npm module, to get an access token, which I could then pass to the MS Graph API.

[code]
And then, using '**@microsoft/microsoft-graph-client**' npm module, to fetch Calendar events from the Graph API as follows:
[code]
However, however, using the accessToken provided on Successful Login, I get the following error : CompactToken parsing failed with error c

[2019-11-04 21:25] AriPal opened #245 "Uncaught Expection: Object - using msgraph-sdk-javascript (React)"
### Goal:
Get user details using Microsoft Graph API without user authentication, is this the right approach?

### Research
So I've followed the steps shown on [msgraph-sdk-javascript](https://github.com/microsoftgraph/msgraph-sdk-javascript) for creating an instance of ImplicitMSALAuthenticationProvider in node environment.

To be honest, I'm not 100 % sure what it means with "in node environment

[2019-11-05 12:57] guycreate opened #246 "Remove runtime code generation and execution"
Bug Report
Prerequisites

[ Y] Can you reproduce the problem?
[Y ] Are you running the latest version?
[ Y] Are you reporting to the correct repository?
[ Y] Did you perform a cursory search?

For more information, see the CONTRIBUTING guide.
Description
The isNodeEnvironment test performs runtime code generation and execution.   This is not allowed in certain runtime environments and may be unnec

[2019-11-07 09:24] #245 closed

[2019-11-12 20:51] OlivierCuyp commented on #241
@krototype, thanks for the update, and the fix.

Regarding default behavior I find it weird to default to **false**.
Because, if you call the method `.count()`, it really means you want the count.

Usually in CLI for boolean argument when you don't specify any value it is defaulted to **true**.
This logique is often kept for APIs.

[2019-11-12 20:58] OlivierCuyp opened #248 "GraphError should extend Error"
Feature Request
Problem
Using this library in NodeJS Backend, most logger detect Error objects and parse them accordingly.
In addition, GraphError not being extended from Error doesn't have a stack trace.
GraphError is not parse correctly by our logger (pinoJS) and we don't have any stack trace.
Solution
Extend GraphError from base JS Error.
I believe it should be done here:

      msgraph-sdk-jav

[2019-11-19 18:46] sebestindragos commented on #163
Any news on this? We are also facing some intermittent errors when calling
`GET https://graph.microsoft.com/v1.0/me/messages/AAMkADhMGAAA=`

The request returns without error, but some keys are missing (from field of an email message).

[2019-11-20 17:57] fangzhoulu-hiretual opened #252 "Get 'Access to OData is disabled' error even though User-Agent is set in header"
# Bug Report

## Prerequisites

-   [x] Can you reproduce the problem?
-   [x] Are you running the latest version?
-   [x] Are you reporting to the correct repository?
-   [x] Did you perform a cursory search?

## Description
We are trying to create subscription on a exchange server whose EWS settings is `EwsApplicationAccessPolicy : EnforceAllowList` with `EWSAllowList` including our USER_AGENT,.

[2019-11-21 09:50] OlivierCuyp commented on #241
@darrelmiller since I have no answer from @krototype. I was hoping you could help me to understand the vision for this SDK.
Now with the PR #243 `.count()` is not erroring, that's cool but:

- `.count()` === `.count(false)`, which is totally useless and confusing
- if I want to get the count, I need to do `.count(true)`, why ?

If I do `.count()` the intention is clear, I want the count ...
When w

[2019-11-21 11:19] darrelmiller commented on #241
@OlivierCuyp  I agree with you.  I will investigate.

[2019-11-25 22:00] technicallynick opened #253 ".getStream() never triggers 'finish' or 'end'"
# Bug Report

## Prerequisites

-   [Y] Can you reproduce the problem?
-   [Y] Are you running the latest version?
-   [Y] Are you reporting to the correct repository?
-   [Y] Did you perform a cursory search?

For more information, see the `CONTRIBUTING` guide.

## Description

When attempting to pull a user thumbnail via the npm package "microsoft-graph-client", I am unable to parse the results

[2019-11-27 10:07] OlivierCuyp commented on #241
@darrelmiller any news ?

[2019-11-27 13:06] darrelmiller commented on #241
Hey @OlivierCuyp

So, I'm torn. I agree that the behavior you describe makes sense. However, consider the two following requests.

[code]
The first does not return the count and the second does.  This also feels like the wrong behavior to me, however, that is how it is explicitly defined by the OData spec https://docs.oasis-open.org/odata/odata/v4.01/csprd06/part1-protocol/odata-v4.01-csprd06-part

[2019-11-27 20:57] technicallynick opened #254 "Request to memberOf or transitiveMemberOf never returns a response"
# Bug Report
## Prerequisites

-   [Y] Can you reproduce the problem?
-   [Y] Are you running the latest version?
-   [Y] Are you reporting to the correct repository?
-   [Y] Did you perform a cursory search?

## Description
When attempting to call the API for `/users/${userPrincipalName}/transitiveMemberOf | memberOf` no response is returned. When enabling debug logging, it only logs the URL bein

[2019-11-28 13:26] OlivierCuyp commented on #241
@darrelmiller in a REST interface query params are always key/value pairs.
So I completely agree with the REST interface, this makes no sense:

[code]

But here you are building a programatic SDK with aims to simplify the usage of  the REST API.
`.count()` is a method not a key/value pair.
This kind of method adding a boolean query param should always default to `true` IMO.

[2019-11-29 13:18] darrelmiller commented on #241
@OlivierCuyp Technically there is nothing wrong with that query string.  Although [RFC3986](https://tools.ietf.org/html/rfc3986#section-3.4) mentions key value pairs as a common way of encoding query parameters, in no way is that required.

Having said that, having .count() in a programming language fluent interface mean "do not count" is just completely unnatural.  I think the OData spec made a b

[2019-12-11 23:05] nmetulev opened #256 "NPM package has no license"
# Bug Report

## Prerequisites

-   [x] Can you reproduce the problem?
-   [x] Are you running the latest version?
-   [x] Are you reporting to the correct repository?
-   [x] Did you perform a cursory search?

For more information, see the `CONTRIBUTING` guide.

## Description
The npm package does not have a license:

![image](https://user-images.githubusercontent.com/711864/70668179-b7224480-1c2

[2019-12-12 03:28] #256 closed

[2019-12-17 14:53] OlivierCuyp commented on #241
@darrelmiller I just meant for the API it is less weird to have `count=true` since query params are interpreted as a key/value hash.
But `.count()` is method not a hash it feels much more unnatural as you said.

[2019-12-17 15:15] OlivierCuyp opened #260 "Error message not parsed for attachment bigger than 4Mb"
# Bug Report

## Prerequisites

-   [x] Can you reproduce the problem?
-   [x] Are you running the latest version?
-   [x] Are you reporting to the correct repository?
-   [x] Did you perform a cursory search?

For more information, see the `CONTRIBUTING` guide.

## Description

The route [POST] `/users/${userId}/messages/${messageId}/attachments` only support attachment up to 4 Mb.

https://docs.

[2019-12-17 22:47] OlivierCuyp commented on #260
@darrelmiller sorry to ping you but linked to this issue I spotted a dead zone in attachment creation.

For file smaller than **4 Mb**, we should use route

`[POST] /users/${userId}/messages/${messageId}/attachments`

For file bigger than between **3Mb & 150 Mb**, we should use the beta route

`[POST]/users/${userId}/messages/${messageId}/attachments/createUploadSession`

The first route is actual

[2019-12-18 10:26] OlivierCuyp commented on #260
I did some more tests, and range of size having this issue seems smaller.
Here is the code to produce a file at specific size, 3145718 bytes file has the issue:

**createFile.

Usage:  `node createFile --size=3 145 718 --name=test.txt`

[code]

[2019-12-19 13:36] quantrpeter opened #261 "interactive mode"
Hi
   Doesn't this lib supports "interactive mode" (popup a browse to login) and "username/password" mode?
thanks
Peter

[2019-12-24 20:42] wy193777 opened #262 "`rawResponse.blob is not a function` when get `/users/${id}/photo/$value`"
# Bug Report

## Prerequisites

-   [x] Can you reproduce the problem?
-   [x] Are you running the latest version?
-   [x] Are you reporting to the correct repository?
-   [x] Did you perform a cursory search?

For more information, see the `CONTRIBUTING` guide.

## Description

Got a TypeError when using
[code]

**Console Errors:** [Is there any console error]
{"statusCode":200,"code":"TypeError"

[2019-12-30 05:59] sowvikr commented on #230
How the code is not reviewed and merged into the master?

[2020-01-15 13:22] JYC-99 opened #264 "ClientConfigurationError: The cache location provided is not valid. Provided value: sessionStorage. Possible values are: localStorage, sessionStorage."
# Bug Report

## Prerequisites

-   [ ] Can you reproduce the problem?
-   [ ] Are you running the latest version?
-   [ ] Are you reporting to the correct repository?
-   [ ] Did you perform a cursory search?

For more information, see the `CONTRIBUTING` guide.

## Description

I'm following the getting started document. But it does not work and I got the error:

**Console Errors:**

[code]

**Sc

[2020-01-16 21:27] MIchaelMainer commented on #244
Answered in the linked SO post.

[2020-01-16 21:27] #244 closed

[2020-01-17 17:26] MIchaelMainer commented on #249
Yes, you can call the Microsoft Graph API from AWS lambda, or any other serverless computing options.

[2020-01-17 17:26] #249 closed

[2020-01-17 17:40] MIchaelMainer commented on #252
Are you using an on-premise Exchange Server? You can't use Microsoft Graph API with on-premise Exchange.

[2020-01-22 02:30] fangzhoulu-hiretual commented on #252
It does work with this email server until the EwsApplicationAccessPolicy is changed.
I think it is hybrid.

[2020-01-22 23:40] rogercodes1 commented on #203
This is still a recurring issue on 2.0 or 1.7.
`Cannot find module './node_modules/@microsoft/microsoft-graph-client/lib/src/ImplicitMSALAuthenticationProvider'.`

[2020-01-23 00:14] rogercodes1 commented on #61
Still seeing this error on 1.7.0 and 2.0.0
What information do you need from me?

[2020-01-23 21:55] darrelmiller commented on #264
Unfortunately the ImplicitMSALAuthenticationProvider does not work in Node.js.  You will need to use some other OAuth2 library and implement an IAuthenticationProvider.  There is an issue on this topic over in the MSAL repo. https://github.com/AzureAD/microsoft-authentication-library-for-js/issues/1189

[2020-01-28 13:13] DharmendraNaberly commented on #111
How to upload 5 files of 1MB each, as attachment in Outlook.

[2020-01-28 14:16] malinkody commented on #220
I'm having the exact same issue on the latest version 2.0.0. Only seems to happen for personal accounts trying to use LargeFileUploadTask for upload to onedrive.

`Access to fetch at 'https://api.onedrive.com/rup/24b5d554d8c0d12a/<longurlpartremoved>' from origin 'http://localhost:8081' has been blocked by CORS policy: Request header field sdkversion is not allowed by Access-Control-Allow-Headers

[2020-01-28 14:32] malinkody opened #265 "LargeFileUploadTask cors error"
Description
Same issue as described at #220. I commented there as well, but the issue has been closed.
I'm having the exact same issue on the latest version 2.0.0. Only seems to happen for personal accounts trying to use LargeFileUploadTask for upload to onedrive. LargeFileUploadTask works fine when used with a business account uploading both to a sharepoint document library or onedrive.
Other req

[2020-01-29 08:46] malinkody commented on #265
Digging through the source I found that the issue was caused by headers appended by the `TelemetryHandler.ts` which is a middleware attached right before the request is sent. These headers were only causing issues with chunk uploads that were being sent with the `PUT` method to `https://api.onedrive.com/rup/<...>/<...>`.

My current workaround was to initialize the middleware chain myself as follo

[2020-01-30 21:32] MIchaelMainer commented on #265
We need to not send the sdkversion header when we redirect to non Microsoft graph endpoints.

[2020-01-31 14:52] malinkody commented on #190
I had the same issue. According to the docs:

 `import { Client } from "@microsoft/microsoft-graph-client";` is meant for the node environment

and

`const Client = MicrosoftGraph.Client;` is meant for browser usecases.

This doesn't help if you want to use npm and types provided by "@microsoft/microsoft-graph-client" in a typescript build for browsers and **_not a script tag_**.

After some exper

[2020-01-31 14:57] malinkody commented on #203
You can use [this](https://github.com/microsoftgraph/msgraph-sdk-javascript/issues/190#issuecomment-580765040) answer if you are trying to import classes from the sdk-client in a typescript environment targeted for browsers.

`import { Client, ImplicitMSALAuthenticationProvider, MSALAuthenticationProviderOptions } from "@microsoft/microsoft-graph-client/lib/src/browser";`

[2020-02-04 17:50] PlayMa256 opened #266 "Addition of fields into the API"
# Feature Request

## Is your feature request related to a problem? Please describe
Not sure if this applies to this repository!

We are trying to access the graph api (at first on the graph explorer) and i could not find some crucial information that diverges from the powershell api.

What i mean by that:

Whenever i run: `Get-CSOnlineUser` i get the list of users with all its atributes, but on t

[2020-02-04 18:43] MIchaelMainer commented on #266
`Get-CSOnlineUser` calls a Skype endpoint, not the Microsoft Graph endpoint.

https://docs.microsoft.com/en-us/powershell/module/skype/get-csonlineuser?view=skype-ps

You will need to ask for this feature from the feedback link in that topic.

[2020-02-04 18:43] #266 closed

[2020-02-14 14:47] rachaelsingleton opened #267 "PageIterator"
# Bug Report
PageIterator not working..

## Description

 ReferenceError: Cannot access 'pageIterator' before initialization

## Steps to Reproduce

Copied exact code from https://github.com/microsoftgraph/msgraph-sdk-javascript/blob/dev/docs/tasks/PageIterator.md

**Expected behavior:** Iterates through pages

**Actual behavior:** Console error (ReferenceError: Cannot access 'pageIterator' before

[2020-02-20 22:45] peombwa commented on #261
We currently have built in support for implicit grant auth flow using MSAL JS.
Here is the [roadmap](https://github.com/AzureAD/microsoft-authentication-library-for-js/wiki#roadmap) for MSAL JS, please submit a feature request to them.

[2020-02-20 22:45] #261 closed

[2020-02-20 22:50] peombwa commented on #262
Duplicate of #210. Use `.getStream()` instead.

[2020-02-20 22:50] #262 closed

[2020-03-03 02:27] technicallynick opened #269 "Event creation timeZone is intermittently ignored"
# Bug Report

## Prerequisites

-   [Y] Can you reproduce the problem?
-   [Y] Are you running the latest version?
-   [Y] Are you reporting to the correct repository?
-   [Y] Did you perform a cursory search?

## Description
When creating a new event via `/me/events` endpoint, the start.timeZone and end.timeZone are both **_intermittently_** ignored. The timezone being supplied is in the list of

[2020-03-03 17:29] silentorb commented on #124
In a Node.js server project I ended up requiring this module instead of importing it to work around the type errors.

This module needs correct server typings.

[2020-03-04 04:34] Tony357 commented on #269
We are having the same issue but via me/findMeetingTimes/ endpoint.

**Request**
{
  "timeConstraint": {
    "timeSlots": [
      {
        "start": {
          "dateTime": "2020-03-05T11:00:00",
          "timeZone": "Tokyo Standard Time"
        },
        "end": {
          "dateTime": "2020-03-05T12:00:00",
          "timeZone": "Tokyo Standard Time"
        }
      }
    ],
    "activityDomai

[2020-03-04 06:47] tomngo commented on #269
We found this bug as well. We have evidence that was working fine on 2020-03-02 at 19:55:00 UTC, and we first detected the incorrect behavior on 2020-03-03 at around 23:15:00 UTC.

Request contains:
`"start": {"dateTime": "2020-03-04T08:00:00.000000", "timeZone": "America/New_York"}, "end": {"dateTime": "2020-03-04T08:30:00.000000", "timeZone": "America/New_York"}`

Response contains:
`"start": {"

[2020-03-04 13:26] tomngo commented on #269
**Frequency**: Response incorrectly contained UTC in 11/11 tests between
2020-03-03 at around 23:15:00 UTC and
2020-03-04 at around 03:45:00 UTC

Prior to that time, the response was correct 100% of the time (as far as we know), in production, for six months at least.

Just now (2020-03-04 at around 10:25:00 UTC), the response was correct.

[2020-03-04 19:31] aspartame commented on #269
We experienced this issue too, in the REST API with creating calendar events with `POST` to `/v1.0/users/{Resource}/events`.

Requests were in UTC-08 (America/Los_Angeles) but responses had the timezone for both `start`/`end` and `originalStartTimeZone`/`originalEndTimezone` set to UTC.

We first discovered this at around 23:00 UTC on 2020-03-03.
Still reproducible at 02:30 UTC on 2020-03-04.
No l

[2020-03-04 19:35] tomngo commented on #269
Confirming @aspartame 's experience: we've tested a couple dozen times between
2020-03-04 at around 10:25:00 UTC and
2020-03-04 at around 19:30:00 UTC (now)
with no problems.

@MSFT: Was this a regression that got fixed, or a server running old code, or something else?

[2020-03-05 21:15] MIchaelMainer commented on #269
We on the client library team are learning about this now. I'm not aware of any regressions that cause this. Since this appears to have been fixed we are closing this issue.

@kaevne

[2020-03-05 21:15] #269 closed

[2020-03-06 05:23] KonstantinKolodnitsky opened #271 "'import' and 'export' may appear only with 'sourceType: module' (ImplicitMSALAuthenticationProvider, MSALAuthenticationProviderOptions)"
# Bug Report

## Prerequisites

-   [ x ] Can you reproduce the problem?
-   [ x ] Are you running the latest version?
-   [ x ] Are you reporting to the correct repository?
-   [ x ] Did you perform a cursory search?

For more information, see the `CONTRIBUTING` guide.

## Description

Getting error when building my project with gulp.

**Console Errors:** [Is there any console error]

    /node_m

[2020-03-06 19:40] tomngo commented on #269
I think we have just proved that this issue is intermittent: two people independently reported that it happened, and the client library team isn't aware of any cause.

What's the right way to ensure that an intermittent problem gets solved?

[2020-03-07 21:44] arsnyder16 opened #272 "404 ItemNotFound using Upload Sessions"
# Bug Report

## Prerequisites

-   [X ] Can you reproduce the problem?
-   [X ] Are you running the latest version?
-   [ X] Are you reporting to the correct repository?
-   [ ] Did you perform a cursory search?

For more information, see the `CONTRIBUTING` guide.

## Description

If one of my users shares a file from their one drive to another user with write permissions, but does not share the

[2020-03-09 21:04] MIchaelMainer commented on #269
@tomngo This is an area that we have much opportunity to improve upon. There isn't an adequate way for customers to open and track issues against the service APIs. We can do it here in the client repos, but it will likely not get the acknowledgment that you'd like to see.

[2020-03-10 03:29] tomngo commented on #269
@MIchaelMainer Thank you so much for the follow-up. I'm comfortable with not having a way to open and track an issue, and not having a way to request acknowledgment.

However, I would advocate keeping this issue open. This issue is appears to be intermittent. Since nobody knows why the bad behavior went away, it seems that 2020-03-04 19:30:00 UTC was merely the end of one incident, not evidence of

[2020-03-30 21:08] martininvillia opened #274 "Chat problems when joining an existing meeting made using microsoft graph"
# Bug Report

## Prerequisites

-   [X ] Can you reproduce the problem?
-   [X ] Are you running the latest version?
-   [X ] Are you reporting to the correct repository?
-   [X ] Did you perform a cursory search?

For more information, see the `CONTRIBUTING` guide.

## Description

We created an application with integration with microsoft graph and we are having some problems.

In the frontend ap

[2020-04-01 14:46] semasdev commented on #253
Works fine for me with Node 12.16.1 and Graph SDK 2.0.0
You actually solved one of my  problems with getStream(), thank you.

[2020-04-03 16:47] qu4d commented on #267
@rachaelsingleton You just need to import/require PageIterator from library.
`const { PageIterator } = require("@microsoft/microsoft-graph-client")`

[2020-04-03 17:12] qu4d opened #275 "PageIterator returns duplicate records from contacts collection"
# Bug Report

## Prerequisites

-   [x] Can you reproduce the problem?
-   [x] Are you running the latest version?
-   [x] Are you reporting to the correct repository?
-   [x] Did you perform a cursory search?

## Description
We are using PageIterator for getting contacts from contact folders.
PageIterator always returns correct number of records (using count?), but some of records can be duplicat

[2020-04-09 20:29] MIchaelMainer commented on #275
This is likely a service issue. Can you repro and capture a requestId from a response so I can ask for an investigation?

[2020-04-09 20:40] MIchaelMainer commented on #274
@zihzhan Do you have insight here on this issue?

[2020-04-10 08:53] zihzhan commented on #274
I don't really know join meeting through Teams Client side but it seems the joinUrl should contains more info to perform as a deep link, as a parameter of **executeDeepLink**.
I did a quick search and @ydogandjiev might know this.

[2020-04-20 22:50] bcarthic commented on #265
So whats the best to initialize the client if you have accessToken already. Is the above approach mentioned by @malinkody is the way to upload large files?

[2020-04-22 19:23] jasonjoh opened #276 "Error is lost on failed requests in a batch"
# Bug Report

## Prerequisites

-   [ ] Can you reproduce the problem?
-   [ ] Are you running the latest version?
-   [ ] Are you reporting to the correct repository?
-   [ ] Did you perform a cursory search?

## Description

When one or more requests in a batch fail, you cannot access the error from the body of the response.

**Console Errors:** [Is there any console error]

**Screenshots:** [If

[2020-04-27 07:57] JBoman32768 opened #277 "MSGraphClient PUT missing JSON Content-Type header"
# Bug Report

## Prerequisites

-   [x] Can you reproduce the problem?
-   [x] Are you running the latest version?
-   [ ] Are you reporting to the correct repository? - Not sure.
-   [x] Did you perform a cursory search?

For more information, see the `CONTRIBUTING` guide.

## Description

Using this library via an SPFX webpart to create a Team.  Webpart has been in production for a long time, an

[2020-04-27 08:27] JBoman32768 commented on #277
Have confirmed that changing the code in production rectifies the issue:

From:
``var createTeamResponse = await (await this.graphClient()).api(`/groups/${groupId}/team`, ).put(JSON.stringify(body));``

To:
``var createTeamResponse = await (await this.graphClient()).api(`/groups/${groupId}/team`, ).header('Content-Type','application/json').put(JSON.stringify(body));``

[2020-05-02 18:24] jschwartzenberg opened #278 "URL endpoint to access on-premise mailbox"
What's the endpoint to access MS Graph on an on-premise MS Exchange installation? So far I have only come across the O365 URL https://graph.microsoft.com/v1.0/me/

EWS is outdated SOAP, but of course I do not want to rely on O365 just because I'd like to use a REST API instead of SOAP :)

[2020-05-05 14:00] BrennanAldridge opened #279 "Invalid Select Parsing"
# Bug Report

## Prerequisites

-   [X] Can you reproduce the problem?
-   [X] Are you running the latest version?
-   [X] Are you reporting to the correct repository?
-   [X] Did you perform a cursory search?

For more information, see the `CONTRIBUTING` guide.

## Description
When consuming the Graph API for SharePoint List Items (in this case via [MSGraphClient](https://docs.microsoft.com/en-us

[2020-05-05 16:41] nguyenquochungptit opened #280 "ResponseType.RAW is not define"
I use ResponseType.RAW to get get response when call api microsoft graph. but It undefine.
Please help me

[2020-05-05 21:36] ivanELEC opened #281 "Readme.md Example for Creating ImplicitAuth Incorrect"
The code below showed as an example for implementing Implicit MSAL Authentication is incorrect. The code tries to access an object called MicrosoftGraph that does not exist and is not instantiated.

Code in readme - incorrect
[code]

Correct code:

[code]

[2020-05-07 14:30] faizan1990 opened #282 "Access is denied. Check credentials and try again"
I am using `/user/id/events` endpoints using the documentation here:

https://docs.microsoft.com/en-us/graph/api/user-list-events?view=graph-rest-1.0&tabs=http

These are my current permissions:

[code]

This is the error I am getting when I am hitting the endpoint using your NodeJS SDK:

`Access is denied. Check credentials and try again.`

Please advise

[2020-05-07 14:36] faizan1990 opened #283 "Invalid Client in MS Graph Node JS Mail endpoint"
![Screen Shot 2020-05-08 at 12 31 31 am](https://user-images.githubusercontent.com/13532645/81306867-53f7e980-90c3-11ea-98bf-119376f968a4.png)

I am using the QuickStart as documented here: https://developer.microsoft.com/en-us/graph/get-started/node.js

Everything is working as expected. I am able to see `/users` and `/groups` endpoints working perfectly fine. However, the moment I add `Mail.Read

[2020-05-07 16:29] trs80 commented on #278
Apparently the MS Graph API proxies requests to on-prem /api so you don't need to do anything in a hybrid environment: https://lecafedeva.wordpress.com/2019/03/15/deep-dive-how-to-configure-exchange-on-premise-server-hybrid-integration-with-office-365-test-rest-api-calls/

For purely on-prem I guess try /api and see what's in there

[2020-05-07 20:41] MIchaelMainer commented on #283
`Mail.ReadBasic.All` is not supported for delegated permissions; it is app-only.

[2020-05-07 20:41] #283 closed

[2020-05-07 20:44] MIchaelMainer commented on #282
Looks like you got it working with https://github.com/microsoftgraph/msgraph-sdk-javascript/issues/283.

[2020-05-07 20:45] #282 closed

[2020-05-07 20:48] MIchaelMainer commented on #280
Can you provide us more information by sharing with us your code? Please include all error messages and ideally, share a sanitized HTTP capture of your request and response.

[2020-05-07 20:56] MIchaelMainer commented on #279
The client doesn't currently support select statements within the expand method unless you put the select string in the expand method.

[2020-05-07 20:59] MIchaelMainer commented on #278
To be specific, it proxies for Exchange based APIs, not any of the other service APIs.

[2020-05-07 20:59] #278 closed

[2020-05-07 21:05] BrennanAldridge commented on #279
@MIchaelMainer,

Right. That's what the issue is. You CAN put the select statement inside expand with expand($select...). This return results in Graph Explorer / browser...

The issue is that the JavaScript SDK (which is called from MSGraphClient for SPFX) appears to incorrectly parse the path, dropping everything after select=

[2020-05-07 23:51] faizan1990 commented on #283
@MIchaelMainer Where in my question I mentioned that I have set it up for delegated permissions mate? Those all permissions are application-level only and I am still getting that `invalid_client` error as soon I put `mail.readbasic.all` in `.env` file. Please re-open the issue as it is not resolved for me